<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title">
      <h2>Chapter 51</h2>
    </div>
    <p class="mt-3">
    In April 2025 we released the Sirohi group, and a new group of scenography sets. The State Elephant of Sirohi
    with its group. This elephant walked 11th on the right column of the Main Procession, side by side with the Samthar
    elephant, and in front of Jhalawar and Charkkhari. Before Sirohi were Tonk and Dewas Junior.
    </p>
    <div class="row mt-4">
      <div class="col-md-8">
        <img src="../../assets/beau-geste/chapter51/chapter51-1.jpg"
          alt="Elephants at the Main Procession, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter51/chapter51-2.jpg"
          alt="Elephants at the Main Procession 1, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <p class="mt-4">The ruler was HH Rajeshwar Maharajadhiraj Maharao Shri Sir Kesri Singhji Bahadur (1857–1925), who ruled Sirohi from 1875
    to 1920. The Kingdom of Sirohi, later known as Sirohi State during the colonial period, was founded around 1311 CE by
    the Deora branch of the Chauhan Rajputs. Located in present-day Rajasthan, it evolved from a Rajput kingdom into a
    princely state under British paramountcy. Following Indian independence, Sirohi was integrated into the Indian Union
    between 1949 and 1950, and its territory was later incorporated into Rajasthan.</p>

    <div class="row mt-4">
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter51/chapter51-3.jpg"
          alt="State Elephant of Dewas Junior 1, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-8">
        <p>This are the images that inspired us:</p>
        <img src="../../assets/beau-geste/chapter51/chapter51-4.jpg"
          alt="State Elephant of Dewas Junior 2, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-12">
        <img src="../../assets/beau-geste/chapter51/chapter51-8.jpg"
          alt="State Elephant of Dewas Junior 3, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 540 - State Elephant of Sirohi, Delhi
          Durbar, 1903.<br></a></p>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter51/chapter51-9.jpg"
          alt="Beau Geste Set 540 - Front view - State Elephant of Sirohi, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter51/chapter51-10.jpg"
          alt="Beau Geste Set 540 - State Elephant of Sirohi, Delhi Durbar, 1903">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 541 - Escort Guards from Sirohi, group left, Delhi
            Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter51/chapter51-11.jpg"
          alt="Beau Geste Set 541 - Escort Guard from Sirohi, group left, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 542- Escort Guards from Sirohi, group right, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter51/chapter51-12.jpg"
          alt="Beau Geste Set 542 - Escort Guards from Sirohi, group right, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 543- Musicians and Servants from Sirohi, group left,
            Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter51/chapter51-13.jpg"
          alt="Beau Geste Set 543 - Musicians and Servants from Sirohi, group left, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-12">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Sets 540, 541, 542 and 543 - The Sirohi Group, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter51/chapter51-14.jpg"
          alt="Beau Geste Sets 540, 541, 542 and 543 - The Sirohi Group, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <p class="mt-4">Here are the pictures of the making of</p>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter51/chapter51-15.jpg" alt="Making the Sirohi elephant, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter51/chapter51-16.jpg" alt="Making the Sirohi elephant, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter51/chapter51-17.jpg" alt="Making the Sirohi elephant, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter51/chapter51-18.jpg" alt="Making the Sirohi elephant, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter51/chapter51-19.jpg" alt="Making the Sirohi elephant 1, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter51/chapter51-20.jpg" alt="Making the Sirohi elephant 1, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter51/chapter51-21.jpg"
          alt="Making the Sirohi elephant 2, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter51/chapter51-22.jpg"
          alt="Making the Sirohi elephant 3, Delhi Durbar, 1903.">
      </div>
    </div>
    <p class="mt-4">There was a batch of Scenery sets that were released with the Sirohi group.</p>
    <!-- <div class="page-break"></div> -->
    <div class="row">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Set 544 - Palm Tree and Vegetation, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter51/chapter51-23.jpg"
          alt="Set 544 - Palm Tree and Vegetation, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6 ">
        <p><a href="https://www.beau-geste.com" target="_blank">Set 545 - Palm Tree and Vegetation, Delhi Durbar, 1903.<br></a>
        </p>
        <img src="../../assets/beau-geste/chapter51/chapter51-24.jpg" alt="The Dewas Junior Group, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Set 546 - Canopy for Spectators, Delhi Durbar, 1903.<br></a>
        </p>
        <img src="../../assets/beau-geste/chapter51/chapter51-25.jpg"
          alt="Set 546 - Canopy for Spectators, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Set 547 - Canopy for Spectators, Delhi Durbar, 1903.<br></a>
        </p>
        <img src="../../assets/beau-geste/chapter51/chapter51-26.jpg" alt="Set 547 - Canopy for Spectators 1, Delhi Durbar, 1903.">
      </div>
    </div>
    <!-- <div class="page-break"></div> -->
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter51/chapter51-28.jpg"
          alt="Sets 546-547 - Canopies for Spectators, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter51/chapter51-29.jpg"
          alt="Sets 546-547 - Canopies for Spectators 1, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <p class="mt-4">All the April 2025 releases</p>
      <div class="col-md-12">
        <img src="../../assets/beau-geste/chapter51/chapter51-30.jpg"
          alt="The Sirohi group, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter51/chapter51-31.jpg"
          alt="Canopies for the spectators, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter51/chapter51-32.jpg"
          alt="Elephants, Delhi Durbar, 1903.">
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
