<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 44</h2></div>
    <p class="mt-3">
      The following group of sets were from Cooch Behar.The State Elephant of Cooch Behar was in the Main Procession, and  came 17th on the right column, just behind the State Elephants of Sikkim and Bahawalpur, beside the Nabha State Elephant and in front of the Hill Tippera and Jind ones. <br>
      These sets were released in May 2022.
    </p>
    <div class="row mt-4">
      <div class="col-md-12">
        <img src="../../assets/beau-geste/chapter44/chapter44-1.jpg" alt="State Elephant of Cooch Behar, Delhi Durbar, 1903.">
      </div>
    </div>
    <p class="mt-3">Cooch Behar (Koch Bihar) was a Princely State of India during the British Raj. It was part of the Bengal States, located south of the Bhutan. The maharaja in 1903 was Nripendra Narayan.</p> <!-- <div class="page-break"></div> -->
    <p>The Cooch Behar elephant was included in the first photograph of the Delhi Durbar that I bought, from Corbis. It was a digital copy from the Sikkim elephant, but the photograph was so neat that all the elephants that followed were portrayed clearly. I used this image to make a few other elephants: Sikkim, Bahawalpur and Nabha. </p>
    <div class="row mt-4">
      <div class="col-md-12">
        <img src="../../assets/beau-geste/chapter44/chapter44-2.jpg" alt="State Elephant of Cooch Behar, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-12">
         <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 498 - State Elephant of Cooch Behar, Delhi Durbar, 1903.</a></p>
        <img src="../../assets/beau-geste/chapter44/chapter44-3.jpg" alt="Beau Geste Set 494 - State Elephant of Rampur, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 499 - Escort Guards from Cooch Behar, group right, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter44/chapter44-4.jpg" alt="Beau Geste Set 499 - Escort Guards from Cooch Behar, group right, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 500 - Escort Guards from Cooch Behar, group left, Delhi Durbar, 1903.<br></a></p>
          <img src="../../assets/beau-geste/chapter44/chapter44-5.jpg" alt="Beau Geste Set 500 - Escort Guards from Cooch Behar, group left, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 501 - Musicians and Servants from Cooch Behar, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter44/chapter44-6.jpg" alt="Beau Geste Set 501 - Musicians and Servants from Cooch Behar, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">The Cooch Behar Goup (Beau Geste sets 498, 499, 500 and 501), Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter44/chapter44-7.jpg" alt="The Cooch Behar Goup (Beau Geste sets 498, 499, 500 and 501), Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
       <p>I had been wanting to add more lining troops to the sets I had already made. These regiments were all along the Elephants&apos; Route, and the two sets already released were not enough by far. <br>I went for one of the regiments that lined the parade along a section of Chandni Chawk, just in front of the Town Hall and the Clock Tower. I love how they complete the scene.</p>
      <div class="col-md-12">
        <img src="../../assets/beau-geste/chapter44/chapter44-8.jpg" alt="20th Brownlow's Punjabis, Lining Troops, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 502 - 20th Brownlow's Punjabis, Lining Troops, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter44/chapter44-9.jpg" alt="Beau Geste Set 502 - 20th Brownlow's Punjabis, Lining Troops, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <img src="../../assets/beau-geste/chapter44/chapter44-10.jpg" alt="Elephant and lining troops, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <p class="mt-4">Pictures of the Making Of.</p>
    <div class="row mt-3">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter44/chapter44-11.jpg" alt="Making the State Elephant of Cooch Behar , Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter44/chapter44-12.jpg" alt="Making the State Elephant of Cooch Behar, Delhi Durbar, 1903.">
      </div>
    </div>
    <!-- <div class="page-break"></div> -->
    <div class="row mt-4">
      <div class="col-md-12">
        <img src="../../assets/beau-geste/chapter44/chapter44-13.jpg" alt="Making the State Elephant of Cooch Behar, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="mt-3">
      <p>---------------------------------------------------------</p>
      <p>Now, back to the Delhi Chapter on the Elephants&apos; Route. They finished their surrounding of the Jumma Masjid on the North-East corner. From there they took Esplanade Road to the left, towards Chandni Chawk. There are no photographs (that I could find) taken from this stretch. Either there weren&apos;t photographers along this path or not many bystanders? I wish someone could have taken their camera. With less people around, it was a great opportunity to take photographs closer to the elephants.
        <br>
        The elephants of the Main Procession turn around towards Esplanade Road. In the first picture, the first elephants, and the last ones in the second photo.
        </p>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter44/chapter44-14.jpg" alt="The elephants route, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter44/chapter44-14-2.jpg" alt="The elephants route, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p>The Retainers elephants turning to the left in the same corner. This is the only photograph that shows the Civil Hospital showed in the map. I've searched everywhere, but there doesn&apos;t seem to be another photograph of the building.</p>
        <img src="../../assets/beau-geste/chapter44/chapter44-15.jpg" alt="The elephants route, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p>The elephants in the same situation, pictures taken from street level below the canopies along Khas Road, or up from the stairs of the East front of the Jumma Masjid.</p>
        <img src="../../assets/beau-geste/chapter44/chapter44-16.jpg" alt="The elephants route, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-3">
      <p>The North entrance of the Jumma Masjid. Taken from the Jumma Masjid Road. Then and now.</p>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter44/chapter44-17.jpg" alt="The North entrance of the Jumma Masjid, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p>The North Entrance and the inside.</p>
        <img src="../../assets/beau-geste/chapter44/chapter44-18.jpg" alt="The North entrance of the Jumma Masjid.">
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
