<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 25</h2></div>
    <p class="mt-3">Continuing with the sets, the Rewah cavalry came next. They were mentioned by the reporters, both
      lancers and musicians.
      There were photographs and drawings portraying them. They looked gorgeous.
    </p>
    <div class="row">
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 393 - Rewah Cavalry, Delhi
            Durbar, 1903.</a></p>
        <img src="../../assets/beau-geste/chapter25/chapter25-1.jpg"
          alt="Beau Geste Set 393 - Rewah Cavalry, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6 mt-3">
        <img class="mt-4" src="../../assets/beau-geste/chapter25/chapter25-2.jpg"
          alt="Rewah Cavalry, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter25/chapter25-3.jpg"
          alt="Beau Geste Set 383 - Occidental Ladies Spectators, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter25/chapter25-4.jpg"
          alt="Occidental Ladies Spectators 1, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <p>I wanted to add new music instruments for the mounted musicians, so I chose a couple after the research:</p>
      <div class="col-md-5">
        <img src="../../assets/beau-geste/chapter25/chapter25-5.jpg" alt="Musical instruments.">
      </div>
      <div class="col-md-3">
        <img src="../../assets/beau-geste/chapter25/chapter25-6.jpg" alt="Musical instruments 1.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter25/chapter25-7.jpg" alt="Musical instruments 2.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-3">
      <div class="col-md-6 mt-3">
        <p class="mt-6"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 394 - Rewah Cavalry, Horns
            and
            Flute, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter25/chapter25-8.jpg"
          alt="Beau Geste Set 394 - Rewah Cavalry, Horns and Flute, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6 mt-3">
        <p class="mt-6"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 395 - Rewah Cavalry,
            Serpentine and Cymbal, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter25/chapter25-9.jpg"
          alt="Beau Geste Set 395 - Rewah Cavalry, Serpentine and Cymbal, Delhi Durbar, 1903.">
      </div>
    </div>
    <p class="mt-3">---------------------------------------------------------</p>
    <p>My next set to follow was a Sehr & Mokalla set. A wonderful photo from a stereoview showed a large group of
      flagbearers,
      and I thought that they&apos;d go great with the infantry and band that we had already released a few years
      before. I luckily
      got a few photos of this Sehr & Mokalla group over the years. The camel riders, the large flag bearers, the spear
      bearers and, finally the elephant, all released as sets later. I hope I could have as many pictures of all the
      other
      states.</p>
    <div class="row mt-3">
      <div class="col-md-6 mt-2">
        <p class="mt-6"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 396 - Flagbearers from Sehr
            and Mokalla, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter25/chapter25-10.jpg"
          alt="Beau Geste Set 396 - Flagbearers from Sehr and Mokalla, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6 mt-4">
        <img class="mt-5" src="../../assets/beau-geste/chapter25/chapter25-11.jpg"
          alt="Flagbearers from Sehr and Mokalla, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <p class="mt-3">Photos of the rest of the group with the flagbearers in front of the column</p>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter25/chapter25-12.jpg"
          alt="Flagbearers from Sehr and Mokalla 1, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter25/chapter25-13.jpg"
          alt="Flagbearers from Sehr and Mokalla 2, Delhi Durbar, 1903.">
      </div>
    </div>
    <p class="mt-3">---------------------------------------------------------</p>
    <div class="row mt-3">
      <div class="col-md-6">
        <p class="mt-6">I keep on going through the photos I took at the British Library. I still have so much to go
          through.
          One of the photograph stamps showed a name that I hadn&apos;t researched before. Sidney Herbert Dagg. He was
          definitely
          present at the Delhi Durbar in 1903, and took photos for a few official albums.
          <br>
          Going through research results online I found a catalog selling a group of his photographs, sold by Justin
          Croft. Can
          you believe it? A bit expensive for me, but if any of you is planning to buy or already bought the group
          please, let me
          know <span class="happy-face">
            <img src="../../assets/beau-geste/smiley-face-svg.png" alt="Beau Geste happy face">
          </span>
        </p>
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter25/chapter25-14.jpg" alt="Dagg's seal, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6">
        <p>
          Here is a link to the catalog: <br> <a href="//aba.org.uk/assets/catalogues/Justin-Croft-Summer23-V2.pdf"
            target="_blank">Justin Croft-Summer23-V2 Catalog</a>.
          <br> <br>Item number 14, in page 23, features the Dagg's album. One of the photographs shown on the sale
          lot is one that I had never seen. And believe me when I say that I have seen many many. This one surprised me
          for good.
          I wish I could ever see it in person. It was taken in front of the Town Hall, and features the first group of
          elephants
          of the Main Procession. Exquisite.
        </p>
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter25/chapter25-15.jpg" alt="Dagg's photo catalog, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-5">
      <p>S.H. Dagg was the one who took the photos from a special Chandni Chawk spot, the one that shows the elephants
        returning
        from the Jumma Masjid, going towards the Town Hall. There were many photographs taken from there, hopefully
        portraying
        the whole procession, but only a few are known.
      </p>
      <div class="col-md-4">
        <p>Dagg's spot on the Delhi Durbar route</p>
        <img src="../../assets/beau-geste/chapter25/chapter25-18.jpg" alt="Map of Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4 mt-5">
        <img src="../../assets/beau-geste/chapter25/chapter25-16.jpg" alt="Dagg's photo, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4 mt-5">
        <img src="../../assets/beau-geste/chapter25/chapter25-17.jpg" alt="Dagg's photo 1, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-5">
      <p>Seeing a church behind the elephants, I searched through online maps to find which church could have been in
        Chandni
        Chawk in 1903. I found that the only one was the Central Baptist Church, built in 1814, so it was definitely
        there when
        the Durbar happened. Here are a couple of screen captures of the street and map nowadays.</p>

      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter25/chapter25-19.jpg" alt="Chandni Chawk.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter25/chapter25-20.jpg" alt="Chandni Chawk today">
        <p class="mt-3">Chandni Chawk today, the Red Fort at the end of the street.</p>
      </div>
    </div>
    <div class="row mt-3">
      <p>The Church today.</p>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter25/chapter25-21.jpg" alt="Central Baptist Church.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter25/chapter25-22.jpg" alt="Central Baptist Church 1">
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
