<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 28</h2></div>
    <p class="mt-3">The following set was a new elephant, the state elephant oF Datia. One of the digital images that I
      had bought from the British Library showed this elephant in detail, and I chose to make it. I love how this
      elephant turned out to be.
    </p>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 411 - State Elephant of Datia, Delhi
            Durbar, 1903.</a></p>
        <img src="../../assets/beau-geste/chapter28/chapter28-1.jpg"
          alt="Beau Geste Set 411 - State Elephant of Datia, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6 mt-5">
        <img class="mt-4" src="../../assets/beau-geste/chapter28/chapter28-2.jpg"
          alt="State Elephant of Datia, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <img class="mt-3" src="../../assets/beau-geste/chapter28/chapter28-3.jpg"
          alt="State Elephant of Datia photograph, Delhi Durbar, 1903..">
      </div>
      <div class="col-md-6 mt-3">
        <img src="../../assets/beau-geste/chapter28/chapter28-4.jpg"
          alt="State Elephant of Nabha 1, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 411 - State Elephant of
            Datia details, Delhi Durbar, 1903.<br></a></p>
        <img class="mt-3" src="../../assets/beau-geste/chapter28/chapter28-5.jpg"
          alt="State Elephant of Nabha, details, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 412 - Escort Guards from
            Datia, Group left, Delhi Durbar, 1903.<br></a></p>
        <img class="mt-3" src="../../assets/beau-geste/chapter28/chapter28-6.jpg"
          alt="Beau Geste Set 412 - Escort Guards from Datia, Group left, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-3">
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 413 - Escort Guards from
            Datia, Group right, Delhi Durbar, 1903.<br></a></p>
        <img class="mt-3" src="../../assets/beau-geste/chapter28/chapter28-7.jpg"
          alt="Beau Geste Set 413 -  Escort Guards from Datia, Group right, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Sets 411, 412 and 413 - The Datia Group,
            Delhi Durbar, 1903.<br></a></p>
        <img class="mt-3" src="../../assets/beau-geste/chapter28/chapter28-8.jpg"
          alt="Sets 411, 412 and 413 - The Datia Group, Delhi Durbar, 1903.">
      </div>
    </div>
    <p>---------------------------------------------------------</p>
    <p>Looking for more information about Datia, to make the group larger, I found some cavalrymen in one of the
      photographs
      that I bought on eBay. This photo showed one of Datia&apos;s elephants at the Retainers Review. It was an armoured
      elephant
      carrying a flag. As the definition of the photo was very neat, I found a beautiful group at the back. I found more
      information about them in other photos and text.</p>
    <div class="row mt-4">
      <div class="col-md-4">
        <img class="mt-3" src="../../assets/beau-geste/chapter28/chapter28-9.jpg" alt="Musician in horse, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <img class="mt-3" src="../../assets/beau-geste/chapter28/chapter28-10.jpg"
          alt="Raven Hill drawing of musician in horse, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter28/chapter28-11.jpg" alt="Musician in horse, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 414 - Elite Cavalry from
            Datia, Group A, Delhi Durbar, 1903.<br /></a>
          <img class="mt-3" src="../../assets/beau-geste/chapter28/chapter28-12.jpg"
            alt="Beau Geste Set 414 -  Elite Cavalry from Datia, Group A, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 415- Elite Cavalry from
            Datia, Group B, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter28/chapter28-13.jpg"
          alt="Beau Geste Set 415-  Elite Cavalry from Datia, Group B, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4 mt-3">
        <p><a href="https://www.beau-geste.com" target="_blank">Sets 414 and 415 - The elite cavalry group from Datia, Delhi
            Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter28/chapter28-14.jpg"
          alt="Sets 414 and 415 - The elite cavalry group from Datia, Delhi Durbar, 1903.">
      </div>
    </div>
    <p class="mt-3">They all made an amazing group with the Datia sets that I mentioned in the previous chapter, the mounted band. Here is a
    photo that I took at the Chicago show in 2015 when I brought all of them together to exhibit. I don't have another
    picture of the whole group.</p>
    <div class="page-break"></div>
    <div class="row mt-3">
      <div class="col-md-12 mt-3">
        <p><a href="https://www.beau-geste.com" target="_blank">Sets 409 and 410 in front, the Mounted Band. Set 411, the Elephant and sets 412 and 413, its Guards. Then, the Elite
        Cavalry sets 414 and 415. All from Datia, Delhi Durbar, 1903.</a></p>
        <img class="mt-3" src="../../assets/beau-geste/chapter28/chapter28-15.jpg"
          alt="Sets 409 and 410 in front, the Mounted Band. Set 411, the Elephant and sets 412 and 413, its Guards. Then, the Elite
        Cavalry sets 414 and 415. All from Datia, Delhi Durbar, 1903.">
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
