<div class="body-text content_box">
  <p>Mi name is Ana Donzino, and I am the owner, manager and artist of Beau Geste (New Toy Soldiers), from Argentina.
  </p>
  <p>I came across the Delhi Durbar 1903 in 2000, and never let it go. I&apos;ve been researching about the subject
    since then, and the result has been a large line of miniatures that represent the period.
  </p>
  <p>Our website is <a href="https://www.beau-geste.com" target="_blank">www.beau-geste.com</a> and you can contact me
    at info@beau-geste.com. You can subscribe to my newsletters and browse all the lines that we make. Enjoy!
  </p>
  <mat-dialog-actions align="end">
    <button class="btn-green-active" mat-button mat-dialog-close>CLOSE</button>
  </mat-dialog-actions>
</div>
