:root {
  --text-color: #ff9900;
  --background-color: #631803;
  --hover-color: #ff9900;
  --orange-dark: #bc3d00;
  --brown: #8b1128;
  --green: #2b7f35;
  --light-green: #18a86b;
  --dark-green: #1e5825;
  --green-more-dark: #033a11;
  --yellow: #ffe655;
  --mdc-theme-surface: #bc3d00;
}

$text-color: var(--text-color);
$brown: var(--brown);
$hover-color: var(--hover-color);
$green: var(--green);
$light-green: var(--light-green);
$dark-green: var(--dark-green);
$green-more-dark: var(--green-more-dark);
$yellow: var(--yellow);
$bs-nav-tabs-border-width: 2px;
$bs-nav-tabs-border-color: #ffe655;
$header-bg-color: #c08330;

.content_box {
  padding: 20px;
  background-color: #631803;
  border: 2px solid #ff9900;
  -moz-box-shadow: inset 0px 0px 150px rgba(255, 153, 0, 0.5);
  -webkit-box-shadow: inset 0px 0px 150px rgb(255 153 0 / 50%);
  box-shadow: inset 0px 0px 150px rgb(255 153 0 / 50%);
  display:calc(90%);
  border-radius: 6px;
}

.body-text {
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 100;
  color: var(--text-color);
}

// popover button
.mat-mdc-button {
  font-family: 'high-tower';
  border: solid 1px $text-color;
  background-image: radial-gradient(#1e5825, #1e5825, #033a11, #033a11);
  padding: 0.5em 1em;
  color: $text-color;
  font-weight: bold;
  border-radius: 20PX;
}

.mat-mdc-button:hover {
    background-image: radial-gradient($light-green, $light-green, $dark-green, $dark-green);
}

