<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 45</h2></div>
    <p class="mt-3">
      By September 2022, the new group of sets were from Sirmur State. The Sirmur Elephant was at the Main Procession, walking in 20th place on the left column, beside the State Elephant of Benares, behind Kapurthala's and Rampur's, and in front of Banda's and Tehri's.
      <br>
      The Raja was Sir Surendra Bikram Prakash Bahadur. The state was located North, within the Punjab states. It was founded in 1616.
    </p>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter45/chapter45-1.jpg" alt="State Elephant of Cooch Behar, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter45/chapter45-2.jpg" alt="State Elephant of Cooch Behar, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter45/chapter45-3.jpg" alt="Beau Geste Set 494 - State Elephant of Rampur, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter45/chapter45-4.jpg" alt="Beau Geste Set 499 - Escort Guards from Cooch Behar, group right, Delhi Durbar, 1903.">
        <p class="mt-3">It is exciting and thrilling to know that I already made all the elephants labelled in this photo
          <span class="happy-face">
            <img src="../../assets/beau-geste/smiley-face-svg.png" alt="Beau Geste happy face">
          </span>
        </p>
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-12">
        <p>These are the images that inspired us.</p>
          <img src="../../assets/beau-geste/chapter45/chapter45-5.jpg" alt="State Elephant of Sirmur, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 503 - State Elephant of Sirmur, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter45/chapter45-6.jpg" alt="Beau Geste Set 503 - State Elephant of Sirmur, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 504 - Spear Bearers from Sirmur, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter45/chapter45-7.jpg" alt="Beau Geste Set 504 - Spear Bearers from Sirmur, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 505 - Escort Guards from Sirmur, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter45/chapter45-8.jpg" alt="Beau Geste Set 505 - Escort Guards from Sirmur, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 506 - Musicians and Servants from Sirmur, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter45/chapter45-9.jpg" alt="Beau Geste Set 506 - Musicians and Servants from Sirmur, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-12">
        <p><a href="https://www.beau-geste.com" target="_blank">The Sirmur Group (Beau Geste sets 503, 504, 505, and 506), Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter45/chapter45-10.jpg" alt="The Sirmur Group (Beau Geste sets 503, 504, 505, and 506), Delhi Durbar, 1903.">
      </div>
    </div>
    <!-- <div class="page-break"></div> -->
    <div class="row mt-3">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 507 - Mounted Lancers from Sirmur, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter45/chapter45-11.jpg" alt="Beau Geste Set 507 - Mounted Lancers from Sirmur, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter45/chapter45-12.jpg" alt="Beau Geste Set 507 - Mounted Lancers from Sirmur, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 508 - Officer, Sergeant and Trumpeter, Mounted Lancers from Sirmur, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter45/chapter45-13.jpg" alt="Beau Geste Set 508 - Officer, Sergeant and Trumpeter, Mounted Lancers from Sirmur, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">The Sirmur Lancers Group (Beau Geste Sets 507 and 508), Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter45/chapter45-14.jpg" alt="The Sirmur Lancers Group (Beau Geste Sets 507 and 508), Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <p>The whole Sirmur Group Sets</p>
        <img src="../../assets/beau-geste/chapter45/chapter45-15.jpg" alt="The whole Sirmur Group Sets, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-12">
        <p>Photos of the making of.</p>
        <img src="../../assets/beau-geste/chapter45/chapter45-16.jpg" alt="Photos of the making off.">
      </div>
    </div>
    <div class="row mt-3">
      <p>---------------------------------------------------------</p>
      <p>The Procession Route. We got to a spot that was, and still is, a bit uncertain for me. It is a spot from where a few photographs were
        taken, but I don't know if there was a stand, a platform or something where the photographers could have stood. I got a couple of pictures
        from this spot many years ago, and I assumed that they were taken from Queen's road. But as years passed and I payed more and more attention
          to it, I arrived at the conclussion that they were taken on Chandni Chawk, just after the elephants turned left from Esplanade Road.
          This made more sense, since the street is a boulevard, and the elephants would be walking on the right direction.
        <br>
        Red arrows show the spots I have already featured. The blue arrows show the section, and the direction from where the photographs were taken.
        The star is a church, that was always on the background of all the pictures from this location. It doesn't show in the map form 1903.
        But checking the modern Delhi map I found a church in the exact spot where it was photographed in 1903. It is the Central Baptist Church,
        built in 1814. I took a couple of pictures during my last trip to Delhi, included below. If this church was there, if it
        looked like in the picture, or if it is indeed that one or not, I don't know at all. Any help to confirm this would be very much appreciated
        <span class="happy-face">
          <img src="../../assets/beau-geste/smiley-face-svg.png" alt="Beau Geste happy face">
        </span>
        </p>
    </div>
    <!-- <div class="page-break"></div> -->
    <div class="row mt-3">
      <div class="col-md-12">
        <img src="../../assets/beau-geste/chapter45/chapter45-17.jpg" alt="Map, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <img src="../../assets/beau-geste/chapter45/chapter45-18.jpg" alt="Map.">
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
