<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 46</h2></div>
    <p class="mt-3">
      The Main Procession elephant chose for April 2023 was the State Elephant of Tehri. Many things help at the time of
      choosing which elephant to make. Good photos, uniqueness of the ornaments, and character of the maharaja. This elephants had all three. The Tehri Elephant walked with the other 47 elephants at the Main Procession. It walked 21th on the right column beside Bansda, behind Sirmur and Benares and in front of Maler Kotla. Tehri was a state in the North of India. The Raja's name was HH Swasti Sir Raja Kirti Shah.
    </p>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter46/chapter46-1.jpg" alt="State Elephant of Cooch Behar, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter46/chapter46-2.jpg" alt="State Elephant of Cooch Behar, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 509 - State Elephant of Tehri, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter46/chapter46-3.jpg" alt="Beau Geste Set 509 - State Elephant of Tehri, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">The Tehri Group (Beau GesteSets 509. 510. 511 and 512), Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter46/chapter46-7.jpg" alt="The Tehri Group (Beau GesteSets 509. 510. 511 and 512), Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 510 - Escort Guards from Tehri, Group Right, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter46/chapter46-4.jpg" alt="Beau Geste Set 510 - Escort Guards from Tehri, Group Right, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 511 - Escort Guards from Tehri, Group Left, Delhi Durbar, 1903.<br></a></p>
          <img src="../../assets/beau-geste/chapter46/chapter46-5.jpg" alt="Beau Geste Set 511 - Escort Guards from Tehri, Group Left, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 512 - Musicians and Servants from Tehri, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter46/chapter46-6.jpg" alt="Beau Geste Set 512 - Musicians and Servants from Tehri, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <p>Pictures of the making of.</p>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter46/chapter46-8.jpg" alt="Making of 1, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <div class="col-md-12">
          <img src="../../assets/beau-geste/chapter46/chapter46-9.jpg" alt="Making of 2, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-12 mt-4">
          <img src="../../assets/beau-geste/chapter46/chapter46-10.jpg" alt="Making of 3, Delhi Durbar, 1903.">
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3">
        <img src="../../assets/beau-geste/chapter46/chapter46-11.jpg" alt="Making of 4, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-3">
        <img src="../../assets/beau-geste/chapter46/chapter46-12.jpg" alt="Making of 5, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-3">
        <img src="../../assets/beau-geste/chapter46/chapter46-13.jpg" alt="Making of 6, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-3">
        <img src="../../assets/beau-geste/chapter46/chapter46-14.jpg" alt="Making of 7, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-3">
        <img src="../../assets/beau-geste/chapter46/chapter46-15.jpg" alt="Making of 8, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-3">
        <img src="../../assets/beau-geste/chapter46/chapter46-16.jpg" alt="Making of 9, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-3">
        <img src="../../assets/beau-geste/chapter46/chapter46-17.jpg" alt="Making of 10, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-3">
        <img src="../../assets/beau-geste/chapter46/chapter46-18.jpg" alt="Making of 11, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <p>---------------------------------------------------------</p>
      <p>Before continuing with a new Main Route spot, I want to add something to my previous spot. There was actually a church in Queen's Road too.
        So the pictures could have been from that spot either. It was St Mary's church, and I couldn't visit it last November, but it is still there.
        Thanks to my friend Bill, who reminded me of the discussion we'd had a few years ago about that particular photo spot. If the church of those images is St Mary's,
        the pictures should have been taken from the pavement of the Train Station, looking South West. That would be why the elephants come from the right.
        I'll let you know when I have a confirmation.
        <br>
        The following spot was (and is!) a very crowded one. The Town Hall, and the Tower Clock. The elephants walked between both, along Chandni Chawk.
        There was a canopy for spectators and authorities in front of the Town Hall building. It can be seen in some of the photos.
      </p>
    <!-- <div class="page-break"></div> -->
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter46/chapter46-19.jpg" alt="The route of the elephants 1, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter46/chapter46-20.jpg" alt="The route of the elephants 2, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">>
        <img src="../../assets/beau-geste/chapter46/chapter46-21.jpg" alt="The route of the elephants 3, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter46/chapter46-22.jpg" alt="The route of the elephants 4, Delhi Durbar, 1903.">
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
