<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 29</h2></div>
    <p class="mt-3">Here I am with a new chapter of the history of the Delhi Durbar 1903 Beau Geste sets. By this moment
      I was already
      focused only on the Durbar, I was not releasing any sets from other periods. I know some of you were sad for that,
      but I
      simply cannot focus on many subjects at a time. The Delhi Durbar 1903, research and production, take most of my
      time.
      And it&apos;s my favorite subject. So got happily fully immersed in it by then.<br />
      The next group of sets was based on an astonishingly beautiful digital copy that I bought from the British
      Library. It was
      taken at the Amphitheatre on January 7, during the Retainers Review. It showed a splendorous flagbearer and a
      magnificent kettledrummer, both mounted, fully dressed with embroideries and silks. I chose them immediately. I
      found
      other photos of them among my files, and one of the photos identified them as from Nabha state. Years later this
      was
      confirmed, because I could identify the flagbearer on elephant that walked behind them as Nabha&apos;s as well.
    </p>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p>Original photo</p>
        <img src="../../assets/beau-geste/chapter29/chapter29-1.jpg" alt="State Elephant of Datia, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6 mt-5">
        <img src="../../assets/beau-geste/chapter29/chapter29-2.jpg" alt="State Elephant of Datia, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 418 - Mounted Kettledrummer
            from Nabha, with escort, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter29/chapter29-3.jpg"
          alt="Beau Geste Set 418 - Mounted Kettledrummer from Nabha, with escort, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6 mt-4">
        <img class="mt-4" src="../../assets/beau-geste/chapter29/chapter29-4.jpg"
          alt="State Elephant of Nabha 1, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img class="mt-3" src="../../assets/beau-geste/chapter29/chapter29-5.jpg"
          alt="State Elephant of Nabha, details, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img class="mt-3" src="../../assets/beau-geste/chapter29/chapter29-6.jpg"
          alt="Beau Geste Set 412 - Escort Guards from Datia, Group left, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-3">
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 419 - Mounted Flagbearer
            from Nabha, with escort, Delhi Durbar, 1903.<br></a></p>
        <img class="mt-3" src="../../assets/beau-geste/chapter29/chapter29-7.jpg"
          alt="Beau Geste Set 419 - Mounted Flagbearer from Nabha, with escort, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6 mt-4">
        <img class="mt-4" src="../../assets/beau-geste/chapter29/chapter29-8.jpg"
          alt="Mounted Flagbearer from Nabha, with escort, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-3">
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Sets 418 amd 419, Delhi Durbar,
            1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter29/chapter29-10.jpg"
          alt="Beau Geste Sets 418 amd 419, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6 mt-4">
        <img class="mt-4" src="../../assets/beau-geste/chapter29/chapter29-9.jpg"
          alt="Group from Nabha, Delhi Durbar, 1903.">
      </div>
    </div>
    <p class="mt-4">I decided to complete the mounted group with the horsemen of the state. I could find their portrait
      within Raven Hill&apos;s
      sketches.</p>
    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter29/chapter29-11.jpg" alt="Musician in horse, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 420 - Nabha Horsemen, Delhi
            Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter29/chapter29-12.jpg"
          alt="Raven Hill drawing of musician in horse, Delhi Durbar, 1903.">
      </div>
    </div>
    <p class="mt-4">I also decided to complete the band.</p>
    <div class="row mt-3">
      <div class="col-md-4">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 421 - Mounted Band from
            Nabha, with escorts, Cymbal and Horn, Delhi Durbar, 1903
            .<br /></a>
          <img class="mt-3" src="../../assets/beau-geste/chapter29/chapter29-13.jpg" alt="Beau Geste Set 421 - Mounted Band from Nabha, with escorts, Cymbal and Horn, Delhi Durbar, 1903
.">
      </div>
      <div class="col-md-4">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 422 - Mounted Band from
            Nabha, with escorts, Zither and Flute, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter29/chapter29-14.jpg"
          alt="Beau Geste Set 422 - Mounted Band from Nabha, with escorts, Zither and Flute, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4 mt-3">
        <p><a href="https://www.beau-geste.com" target="_blank">Sets Sets 421 and 422 - Mounted Band from Nabha, with
            escorts,
            Delhi Durbar, 1903.</a>
        </p><br />
        <img src="../../assets/beau-geste/chapter29/chapter29-15.jpg" alt="Sets Sets 421 and 422 - Mounted Band from Nabha, with escorts,
            Delhi Durbar, 1903.">
      </div>
    </div>
    <p>I am very proud of this group, and how they ended up looking</p>
    <p>---------------------------------------------------------</p>
    <p class="mt-3">Next set was also inspired on another wonderful photo, one of Gertrude Bell&apos;s shots, taken at
      the surroundings of the
      Retainers Review. It was identified as a group of Rewa state.</p>
    <div class="page-break"></div>
    <div class="row mt-4">
      <p>Bell&apos;s photographs</p>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter29/chapter29-16.jpg" alt="Sets 409 and 410 in front, the Mounted Band. Set 411, the Elephant and sets 412 and 413, its Guards. Then, the Elite
        Cavalry sets 414 and 415. All from Datia, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter29/chapter29-17.jpg" alt="Sets 409 and 410 in front, the Mounted Band. Set 411, the Elephant and sets 412 and 413, its Guards. Then, the Elite
              Cavalry sets 414 and 415. All from Datia, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 423 - Standard Bearers from
            Rewa, Delhi Durbar, 1903.<br /></a>
          <img class="mt-3" src="../../assets/beau-geste/chapter29/chapter29-18.jpg"
            alt="Beau Geste Set 423 - Standard Bearers from Rewa, Delhi Durbar, 1903.">
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
