<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 31</h2></div>
    <p class="mt-3">Here is more history of the Beau Geste sets of the Delhi Durbar 1903.
      Following the Rewa group came another spectacular elephant and its group: the State Elephant of Narsingharh and
      the
      walking group. I chose it because my last batch of digital copies acquired from the British Library included a
      photograph that was astounding. It showed the Narsingharh elephant walking alone, in all its splendor. Another
      photo
      bought through eBay showed the elephant walking at the Amphitheatre during the Retainers Review. Many guards and
      servants were pictured there, as well as the details of the howda. Both photographs were crucial in the making of
      the
      elephant. I wish I could always have such good resource information.
    </p>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6 mt-4">
        <img src="../../assets/beau-geste/chapter31/chapter31-1.jpg"
          alt="State Elephant of Narsingharh, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 430 - State Elephant of Narsingharh,
            Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter31/chapter31-2.jpg"
          alt="Beau Geste Set 430 - State Elephant of Narsingharh, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter31/chapter31-3.jpg"
          alt="Beau Geste Set 430 - State Elephant of Narsingharh, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter31/chapter31-4.jpg"
          alt="State Elephant of Narsingharh 2, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6 mt-4">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 431 - Escort Guards from Narsingharh,
            group right, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter31/chapter31-5.jpg" alt="Beau Geste Set 431 - Escort Guards from Narsingharh, group
            right, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6 mt-4">
        <br />
        <img class="mt-4" src="../../assets/beau-geste/chapter31/chapter31-6.jpg"
          alt="Beau Geste Set 431 - Escort Guards from Narsingharh, group right, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 432 - Escort Guards from Narsingharh,
            group left, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter31/chapter31-7.jpg" alt="Beau Geste Set 432 - Escort Guards from Narsingharh,
            group left, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 433 – Musicians and Servants from
            Narsingharh, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter31/chapter31-8.jpg"
          alt="Beau Geste Set 433 – Musicians and Servants from Narsingharh, Delhi Durbar, 1903.">
      </div>
    </div>
    <p class="mt-4">---------------------------------------------------------</p>
    <p class="mt-3">
      I followed with a Camel group. I had already made the State Elephant of Kota and had had this group of Camelmen in
      mind for a lot of time. It was time to add them to the line. So I went for them.
    </p>
    <div class="row">
      <div class="col-md-6 mt-4">
        <img class="mt-4" src="../../assets/beau-geste/chapter31/chapter31-9.jpg"
          alt="Camel Riders from Kota, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6 mt-4">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 434 - Camel Riders from Kota,
            Officer and Flagbeaerer Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter31/chapter31-10.jpg" alt="Beau Geste Set 434 - Camel Riders from Kota,
        Officer and Flagbeaerer Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 435 - Camel Riders from
            Kota, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter31/chapter31-11.jpg"
          alt="Beau Geste Set 435 - Camel Riders from Kota, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 436 - Musician Camel Riders
            from Kota, Winds and Drums, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter31/chapter31-12.jpg"
          alt="Beau Geste Set 436 - Musician Camel Riders from Kota, Winds and Drums, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 437 - Musician Camel Riders
            from Kota, Winds & Cymbal, Delhi Durbar, 1903.<br /></a></p>
          <img class="mt-3" src="../../assets/beau-geste/chapter31/chapter31-13.jpg"
            alt="Beau Geste Set 437 - Musician Camel Riders from Kota, Winds & Cymbal, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">The Kota Camelmen sets 434, 435, 436 and
            437, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter31/chapter31-14.jpg"
          alt="The Kota Camelmen sets 434, 435, 436 and 437, Delhi Durbar, 1903.">
      </div>
    </div>
    <p class="mt-4">And as I was working on Kota, I decided to go for a very beautiful group from that state, that was
      portrayed on a photograph also bought as digital copy from the British Library.</p>
    <div class="row mt-4">
      <div class="col-md-4 mt-4">
        <img class="mt-4" src="../../assets/beau-geste/chapter31/chapter31-15.jpg"
          alt="Group from Kota, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 438 - Emblem and Standard Bearers from
            Kota, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter31/chapter31-16.jpg"
          alt="Beau Geste Set 438 - Emblem and Standard Bearers from Kota, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4 mt-4">
        <img class="mt-4" src="../../assets/beau-geste/chapter31/chapter31-17.jpg"
          alt="Emblem and Standard Bearers from Kota, Delhi Durbar, 1903.">
      </div>
    </div>
    <!-- <div class="page-break"></div> -->
    <p class="mt-4">---------------------------------------------------------</p>
    <p class="mt-3">On May 2024, I&apos;ve spent a few days in London researching at the British Library one more time.
      It was a bittersweet visit, since they still were very affected by the cyber-attack that they suffered in
      November, 2023. I was planning on making a full research about the photographers who were present at the Durbar,
      looking for possibilities of new photographs within their personal information. I had focused this time on that
      point of view.
      Instead, I found that they still have no system that could allow me to do that, even on site. I was hoping to sit
      on one of their computers and get a list of material, but there were no computers on this time, their system
      wasn&apos;t even available within their installations. Nor they were able to take any orders for digital copies.
      Not happy with that at
      all.<br>
      So this time I reviewed a couple of albums, with much more detail. I retook many pictures but mainly, it gave me a
      lot of time to really observe the photographs from a different perspective and think.<br>
      And there was something that stood up to me from this. The elephants&apos; parade has always been the main focus
      of all the photographs but for the first time I noticed the surroundings. The number of spectators is astounding!
      I felt that
      I could never make enough of them to really reflect reality. So I decided to add more attendees sets, more
      variations of people watching so collectors can enhance their displays. I also decided to include backdrops for
      the displays,
      building fronts, monuments, trees.<br>
      I will release them between elephants. I still need to give it more planning, but the decision is made. 😊
    </p>
    <div class="row mt-4">
      <div class="col-md-6">
        <p>Album 430/79. I wanted to show the size. The weight of the album and the box is around 7 kg.</p>
        <img src="../../assets/beau-geste/chapter31/chapter31-18.jpg"
          alt="British Library, albums with photographs of Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p>Album 355/5. It's all about the Retainers Review. All the major newspaper clips, invitations, lists, official
          programs
          and many photographs. One of my favorites.</p>
        <img src="../../assets/beau-geste/chapter31/chapter31-19.jpg"
          alt="British Library, album 430/79 with photographs of Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter31/chapter31-20.jpg" alt="Spectators, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter31/chapter31-21.jpg" alt="Spectators 1, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter31/chapter31-22.jpg" alt="Spectators 2, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter31/chapter31-23.jpg" alt="Spectators 3, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter31/chapter31-24.jpg" alt="Spectators 4, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p>Check the photographers at the top left corner. Those were the ones that took the pictures at the main spot
          of the Jumma
          Masjid</p>
        <img src="../../assets/beau-geste/chapter31/chapter31-25.jpg" alt="Spectators 5, Delhi Durbar, 1903.">
      </div>
    </div>
  </div>
  <app-print></app-print>
</div>
