<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 17</h2></div>
    <div class="pt-3">
      <p>It was 2010, and I continued the line with more escorts for the elephants already made. The first two groups
        had
        been very welcomed. This time it was the turn of the Kashmir and Alwar&apos;s groups. The image sources are
        always the elephant&apos;s ones, since they walk by its side. Here they are.
      </p>
      <div class="row mt-3">
        <div class="col-md-6">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 290 - Escort Guards from Alwar, Delhi
              Durbar, 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter17/chapter17-1.jpg"
            alt="Beau Geste Set 290 - Escort Guards from Alwar, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-6">
          <p><a href="https://www.beau-geste.com" target="_blank">Sets 190 and 290 - The Alwar's group, Delhi Durbar,
              1903.</a></p>
          <img src="../../../assets/beau-geste/chapter17/chapter17-2.jpg"
            alt="Sets 190 and 290 - The Alwar's group, Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="page-break"></div>
      <div class="row mt-3">
        <p>My sources</p>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter17/chapter17-3.jpg" alt="The Alwar's group, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter17/chapter17-4.jpg" alt="The Alwar's group, Delhi Durbar, 1903.">
          <p>Stereoview incorrectly labeled as Indore&apos;s</p>
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter17/chapter17-5.jpg" alt="The Alwar's group, Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="mt-3">
        <p>---------------------------------------------------------</p>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 291 - Escort Guards from Kashmir, group
              left, Delhi Durbar, 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter17/chapter17-6.jpg"
            alt="Beau Geste Set 291 - Escort Guards from Kashmir, group left, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 292 - Escort Guards from Kashmir, group
              right, Delhi Durbar, 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter17/chapter17-7.jpg"
            alt="Beau Geste Set 292 - Escort Guards from Kashmir, group right, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <p><a href="https://www.beau-geste.com" target="_blank">Sets 201, 291 and 292 - The Kashmir group, Delhi
              Durbar, 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter17/chapter17-8.jpg"
            alt="Sets 201, 291 and 292 - The Kashmir group, Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="page-break"></div>
      <div class="row mt-3">
        <p>My sources</p>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter17/chapter17-9.jpg" alt="The Kashmir group, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter17/chapter17-10.jpg" alt="The Kashmir group, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter17/chapter17-11.jpg" alt="The Kashmir group, Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <p>
          The idea of group left and right appeared when I began to study the photos in more detail. Many elephants had
          different
          men walking on their sides so I made this distinction to identify each set.
          <br />
          By this time I played with some photos of the Main Procession for an ad file. They were not accurate because I
          only had
          4 elephants with their men by then, but it helped with the possibility of visualizing the groups. I added
          Kashmir and
          Alwar to a couple of photos. They were not walking close in the procession, but I just placed them there just
          to get the
          idea. The perspective of the photos had to be the right one for them to not look strange.
        </p>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter17/chapter17-12.jpg" alt="Delhi Durbar, 1903.">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter17/chapter17-13.jpg" alt="Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="mt-3">
        <p>---------------------------------------------------------</p>
        <p>
          The following set was an elephant. My first. It was very difficult for me to make it without Daniel. So far I
          had to
          only worry about the painting, but now I had to model it! I chose an excellent photo, and made sure that I had
          more
          photos to view the different angles. It was the State Elephant of Jind.
        </p>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 292 - State Elephant of Jind, Delhi
              Durbar, 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter17/chapter17-14.jpg"
            alt="Beau Geste Set 292 - State Elephant of Jind, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-6">
          <p>My sources.</p>
          <img src="../../../assets/beau-geste/chapter17/chapter17-15.jpg"
            alt="State Elephant of Jind, Delhi Durbar, 1903.">
          <p>This is a glass slide belonging to my friend Bill. It is wrongly labeled as Baroda. The level of detail of
            the image is
            unthinkable.</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter17/chapter17-16.jpg"
            alt="State Elephant of Jind, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter17/chapter17-17.jpg"
            alt="State Elephant of Jind, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter17/chapter17-18.jpg"
            alt="State Elephant of Jind, Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="mt-3">
        <p>---------------------------------------------------------</p>
        <p>
          I was never sure of objectively how it turned to be. I still feel not right about it, for strange reasons.
          Maybe that&apos;s
          why I never made the guards that go with the elephant. Maybe some day I will feel better about this group.
          The feeling washed with the different following new elephants. Each of them became more and more natural for
          me. Right now, Daniel made 11 elephants and I made 31. I learned to accept the numbers as they are with time.
        </p>
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
