<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 2</h2></div>
    <div class="pt-3">
      <p>
        Right after the Alwar&apos;s carriage came the Alwar&apos;s Throne. Again, we only had Gertrude Bell&apos;s
        photos, and specially, her comments about which state the portraits were featuring. It is important to realize
        how
        difficult it was for the reporters, writers, journalists, painters and all of those who wanted to show what
        was
        happening during the event. <br />All the states of India traveled to the festivities, bringing almost
        everything
        they had with them. Soldiers, animals, jewels, everything. It took months to arrive at Delhi with such an
        amount
        of
        people and animals.<br /> Each state had a camp assigned so they could stay before and during the event
        itself.
        So
        people trying to write or paint got overwhelmed by the amount of things to report. They could hardly keep
        track
        of
        names, titles and colours. You should add to that that many foreign countries were invited too! It was in this
        avalanche of information that Gertrude Bell labeled the Golden Tiger Throne as Alwar&apos;s. That&apos;s how
        we
        released it. But it turns it wasn&apos;t.
      </p>
      <div class="page-break"></div>
      <div class="row mt-3">
        <div class="col-md-8">
          <img src="../../assets/beau-geste/chapter2/alwar-throne.jpg"
            alt="Beau Geste Set 69-70-71 The Alwar&apos;s Throne. Delhi Durbar 1903.">
          <p class="mt-3">Beau Geste Set 69-70-71 The Alwar&apos;s Throne.<br />
            <a href="https://www.beau-geste.com" target="_blank">Click here to see the set in our
              Beau Geste site.</a>
          </p>
        </div>
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter2/native-followers-small.jpg"
            alt="The Alwar&apos;s Throne. Delhi Durbar 1903.">
          <p class="mt-3">This was the image we used as a source to make it.</p>
        </div>
      </div>
      <p>Later, when the research got more extensive, we found many pictures of the Retainers&apos; Review featuring
        the
        Throne, and the comments on the program and the writers who wrote about it show the following:
      </p>
      <p>
        <u>Civil & Military Gazette 13/01:</u>
        <br />
        <i>&apos;One of these litters was in shape a massive silver animal couchant and instantly resembling an insane
          tiger,
          with a silver chair on its back and a look of puzzled surprise in his eyes occasioned by finding that his
          tail
          was curved up to hold a silver umbrella.&apos;
        </i>
      </p>
      <p>
        <u>A Motley Army:</u>
        <br />
        <i>&apos;After these revelations, you contemplated Rewa&apos;s great silver palanquin, fashioned like a lion,
          with
          comparative equanimity.&apos;
        </i>
      </p>
      <p>
        <u>Wheeler:</u>
        <br />
        <i>
          &apos;The Rewa retainers escorted a dozen silver state litters, one of which was fashioned in the image of a
          tiger...&apos;
        </i>
      </p>
      <p>So it turns out that the Alwar&apos;s Throne was in fact a silver palanquin belonging to Rewa, in the shape
        of
        a tiger or a lion. Or a monkey, as we called it. We didn&apos;t change the set&apos;s title because the set
        was
        retired by when we came to this knowledge. But I am glad that I can share this with you now.
      </p>
      <p>These are the pictures we got to find later of the palanquin</p>
      <div class="row">
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter2/palanquin1.jpg" alt="The Alwar&apos;s Throne. Delhi Durbar 1903.">
        </div>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter2/palanquin2.jpg" alt="The Alwar&apos;s Throne. Delhi Durbar 1903.">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter2/palanquin3.jpg" alt="The Alwar&apos;s Throne. Delhi Durbar 1903.">
        </div>
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
