<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 4</h2></div>
    <div class="pt-3">
      <p>
        The next Delhi Durbar sets were the Jaisalmer ones. Our original Durbar collector/inspirator kept on providing
        photos of sets that could be made. He came across a photo of the Jaisalmer Palanquin and banners. As the
        Indian estates brought everything they could to the procession and the Retainers Review, the possibility of the
        palanquin actually being in Delhi then was very real. So we went ahead and made it.
      </p>
      <div class="row mt-3">
        <p>This was the original photo</p>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter4/chapter4-1.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter4/chapter4-2.jpg">
        </div>
      </div>
      <div class="page-break"></div>
      <div class="row mt-3">
        <p>We released 2 sets from the pictures</p>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter4/beau-geste-jaisalmer.jpg">
          <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Set 85 - Palanquin of the Maharaja of
              Jaisalmer, Delhi Durbar, 1903.</a></p>
        </div>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter4/beau-geste-jaisalmer2.jpg">
          <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Set 86 - Servants with Ornamental
              Parasols,
              of Jaisalmer, Delhi Durbar, 1903.</a></p>
        </div>
      </div>
      <div class="row mt-3">
        <p>Both sets have been retired long long ago. We also made the banner, but only as a special commission since it
          couldn't be released as a standard set because of the complexity of its making.
        </p>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <img src="../../assets/beau-geste/chapter4/chapter4-3.jpg">
            </div>
            <div class="col-md-6">
              <img src="../../assets/beau-geste/chapter4/chapter4-4.jpg">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <p> I could get a photo of the Maharaja of Jaisalmer much later, actually a Maharawal, Shalivahan Singh III.
              He didn&apos;t look like the one we chose for the set but that was all we could do in that moment, which
              such lack of information.</p>
            <div class="col-md-6">
              <img src="../../assets/beau-geste/chapter4/chapter4-5.jpg">
            </div>
            <div class="col-md-6">
              <img src="../../assets/beau-geste/chapter4/chapter4-6.png">
            </div>
          </div>
        </div>
      </div>
      <div class="page-break"></div>
      <div class="mt-3">
        <p>Our collector also had a photo of another palanquin that he wanted made. This one was a difficult one to make
          as a standard set since it required different materials (like the one that looks like glass) and a huge
          amount of work to be made, and the cost wasn&apos;t going to be appropriate for the market. We made a couple
          of them only. I believe it was Jhodpur&apos;s or Jind&apos;s. If any of you know for sure, please let me
          know.
        </p>
      </div>
      <div class="row pt-2">
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter4/chapter4-7.jpg">
        </div>
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter4/chapter4-8.jpg">
        </div>
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter4/chapter4-9.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
