<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text mt-3">
    <div class="chapter_title">The Main Procession. Part 2</div>
    <div class="pt-2 ms-2">
      <p class="text-center"><u>Before and after the Procession of the Indian Princes</u> </p>
      <p><u>Preceding the Main Procession</u></p>
      <p>There were many British authorities preceding the Indian Princes in the Main Procession. On
        horse, the Viceroy's escorts and body guards, Police chief, squadrons of the 4th Royal Irish Dragoon Guards, the
        Heralds (1 drummer and 12 trumpeters) and the Imperial Cadets.
      </p>
      <div class="row">
        <div class="col-md-6">
          <img src="../../../assets/history/main-procession2/main-proc2-1.jpg" alt="">
          <p class="mt-2">The Dragoons at the end of Chadni Chawk. Check at the back the clock tower and the 2 lines of
            flags that
            ornamented the street in front of the Town Hall</p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/main-procession2/main-proc2-2.jpg" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="../../../assets/history/main-procession2/main-proc2-3.jpg" alt="">
          <p class="mt-2">The Heralds, at the end of Chadni Chawk St.</p>
        </div>
        <div class="col-md-4">
          <p>Last cavalry before the elephants: The Imperial Cadets</p>
          <img src="../../../assets/history/main-procession2/main-proc2-4.jpg" alt="">
          <p class="mt-2">Going from Queen's Rd to Elgin Rd</p>
        </div>
        <div class="col-md-4">
          <img src="../../../assets/history/main-procession2/main-proc2-5.jpg" alt="">
          <p class="mt-2">In front of the Jumma Masjid. This is one of Gertrude Bell's photos. </p>
        </div>
      </div>
      <div class="text-center"><u>The Elephants before the Procession of the Indian Princes</u></div>
      <div class="row">
        <div class="col-md-6">
          <p>The elephants of the Aides-de Camp</p>
          <img src="../../../assets/history/main-procession2/main-proc2-6.jpg" alt="">
          <p class="mt-2">The Group of the six elephants of the Aides-de-Camp, South side of the Jumma Masjid</p>
        </div>
        <div class="col-md-6 mt-3">
          <img src="../../../assets/history/main-procession2/main-proc2-7.jpg" alt="">
          <p class="mt-2">The six elephants, in front of the Town Hall</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="../../../assets/history/main-procession2/main-proc2-8.jpg" alt="">
          <p class="mt-2">Beau Geste Elephants of the Aides-de-Camp, only 4 for now</p>
        </div>
        <div class="col-md-4">
          <img src="../../../assets/history/main-procession2/main-proc2-9.jpg" alt="">
          <p class="mt-2">Beau Geste 1st elephant of the Aides-de-Camp (Beau Geste set 378)<br />
            Aides-de-camps to the Viceroy<br>Captain Baker-Carr<br>Captain Wigram</p>
        </div>
        <div class="col-md-4">
          <img src="../../../assets/history/main-procession2/main-proc2-10.jpg" alt="">
          <p class="mt-2">Beau Geste 2nd elephant of the Aides-de-Camp (Beau Geste set 379)<br />
            Aides-de-Camp to the Viceroy<br>Captain Yarde-Buller<br>Captain Lindsay</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <img src="../../../assets/history/main-procession2/main-proc2-11.jpg" alt="">
          <p class="mt-2">Beau Geste 3rd elephant of the Aides-de-Camp (Beau Geste set 380)
            <br />Aides-de-Camp to the Duke of Connaught<br>Colonel Leslie<br>Colonel Bingham
          </p>
        </div>
        <div class="col-md-4">
          <img src="../../../assets/history/main-procession2/main-proc2-12.jpg" alt="">
          <p class="mt-2">Beau Geste 4th elephant of the Aides-de-Camp (BBeau Geste set 381)
            <br />Aides-de-Camp to the Duke of Connaught<br>Sir M. FitzGerald<br>Colonel Herbert
          </p>
        </div>
        <div class="col-md-4">
          <p class="justify">Following the 6 elephants of the Aides-de-Camps, the elephants of Lord and Lady Curzon, and
            the elephant of the Duke and the Duchess of Connaught</p>
          <img src="../../../assets/history/main-procession2/main-proc2-13.jpg" alt="">
          <p class="mt-2">The Viceroy's elephant, in front of the Jumma Masjid (Gertrude Bell photo). His elephant was
            lent
            by the Maharaja of Benares, and its name was 'Luchman Prasad'</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <img src="../../../assets/history/main-procession2/main-proc2-14.jpg" alt="">
          <p class="mt-2">Same elephant, in front of the Town Hall</p>
        </div>
        <div class="col-md-4">
          <img src="../../../assets/history/main-procession2/main-proc2-15.jpg" alt="">
          <p class="mt-2">The Viceroy, Lord Curzon and his wife</p>
        </div>
        <div class="col-md-4">
          <img src="../../../assets/history/main-procession2/main-proc2-16.jpg" alt="">
          <p class="mt-2">The elephant of the Duke and Duchess, same spot as the photo on the left<br>Their elephant was
            named
            'Maula Bakhsh', one of the finest elephants of the Maharaja of Jaipur</p>
        </div>
      </div>
      <p class="text-center"><u>After the Indian Chiefs</u></p>
      <p class="mt-3">Following the 48 elephants of the Main Procession, carriages with authorities and more
        cavalry came.<br>Carriages with Grand Duke of Hesse, The Governors of Bombay, Madras and The Punjab, all of them
        with their bodyguards.<br>On horse, Lord Kitchener escorted by mounted volunteers.<br>Carriages again: Governors
        of Burna, Bengal and the United Provinces Burma Bengal united provinces of Agra y Oudh. The
        honbles.<br>Horseback:
        Authorities, The Baluch Chiefs, Chiefs of the NW Frontier<br>More authorities on carriages<br>The 11st
        Bengal Lancers</p>
      <div class="row mt-4">
        <div class="col-md-6">
          <img src="../../../assets/history/main-procession2/main-proc2-17.jpg" alt="">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/main-procession2/main-proc2-18.jpg" alt="">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/history/main-procession2/main-proc2-19.jpg" alt="">
          <p class="mt-2">
            The Baluch chiefs and the chiefs of the NW frontier.
          </p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/main-procession2/main-proc2-20.jpg" alt="">
        </div>
      </div>
      <div class="mt-3"><u>Now it was time for the second (and much larger) group of elephants.</u>
        <p> There&rsquo;s no much about the Retainers elephants. They were all the elephants that each
          state brought to Delhi, except for the state elephants that carried the Maharajas and Rajas. The Retainer or
          Retinue elephants were ridden by Sardars and attendants of the Indian Chiefs. There are many pictures, but
          they
          don&rsquo;t cover all the elephants at all. <br> If you go to the press releases, they barely covered the
          first
          few elephants of the Main Procession. They all describe the first 4 or 6, and then comment on any particular
          elephant that called their attention, but that&rsquo;s it. Unfortunately they didn&rsquo;t describe all the
          elephants as the first from the group. So no much expected comments about the Retinues.<br> The references
          say
          that they were 166 elephants marching after the Main Procession, but the listed ones don&rsquo;t include a
          few
          states that were there indeed, nor the ones from the Shan States, so there were probably many more. The
          accounts
          mention about 250. </p>
        <p>Here is a list of the quantity of elephants that each Indian state brought:</p>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p>Rajputana (Major Michin leading)<br>Jaipur 4<br>Bundi 4<br>Kota1<br>Karauli 4<br>Bharatpur 2<br>Jaisalmer
            1<br>Alwar 9<br>Tonk 3<br>Sirohi 1<br>Jhalawar 2<br>Shahpura 2</p>
        </div>
        <div class="col-md-4">
          <p>Central India (Capt. Barnes leading)<br>Gwalior 15<br>Indore 5<br>Bhopal 2<br>Rewa 11<br>Orchha
            8<br>Datia
            7<br>Dhar 1<br>Samthar 6<br>Charkhari 5<br>Rajgarh 1<br>Narsingarh 1<br />
            Kashmir 6<br>Hyderabad 16</p>
        </div>
        <div class="col-md-2">
          <p>Punjab<br>Patiala 6<br>Bahawalpur 2<br>Nabha 6<br>Jind 5<br>Sirmur 4<br>Kapurthala 1<br>Maler Kotla
            2<br>Faridkot 2<br>Kalsia 2</p>
        </div>
        <div class="col-md-3">
          <p>United Provinces<br>Benares 6<br>Bulrampur 8<br>Rampur 5<br>Sardars and attendants</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <img src="../../../assets/history/main-procession2/main-proc2-21.jpg" alt="">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/history/main-procession2/main-proc2-22.jpg" alt="">
          <p class="mt-2">Beau Geste's Baby Elephant from Rewa (Beau Geste set 114)</p>
        </div>
        <div class="col-md-4">
          <img src="../../../assets/history/main-procession2/main-proc2-23.jpg" alt="">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <img src="../../../assets/history/main-procession2/main-proc2-24.jpg" alt="">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/history/main-procession2/main-proc2-25.jpg" alt="">
          <p class="mt-2">Beau Geste's Rewa Executioner Elephant (Beau Geste set 275)</p>
        </div>
        <div class="col-md-4">
          <img src="../../../assets/history/main-procession2/main-proc2-26.jpg" alt="">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/history/main-procession2/main-proc2-27.jpg" alt="">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/main-procession2/main-proc2-28.jpg" alt="">
        </div>
      </div>
      <div class="mt-3">
        <p>I have no idea to which states these elephants belong. This is my next project, to identify
          as
          many elephants as possible. For that, I need to study and research among all the photos I have from January
          7,
          the Retainers Review at the Amphitheatre. </p>
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
