<div class="body-text content_box">
<app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 23</h2></div>
    <p class="mt-3"> By this moment I knew that the elephants were becoming the most appreciated pieces of the Delhi
      Durbar line. Collectors were eagerly waiting for new releases, making space in their cabinets and getting more
      shelves to display them. So
      I planned them as to be released at least two new each year.
      <br />
      The following elephant was the State Elephant of Kotah. It walked 6th on the right column at the Main Procession.
      The ruler of the state was Maharajadhiraj Maharaja Mahim Mahendra Maharao Sir Umaid Singh II.
    </p>
    <div class="page-break"></div>
    <div class="row">
      <div class="col-md-4">
        <p class="mt-3">Maharajadhiraj Maharaja Mahim Mahendra Maharao Sir Umaid Singh II</p>
        <img src="../../assets/beau-geste/chapter23/chapter23-1.jpg"
          alt="Maharajadhiraj Maharaja Mahim Mahendra Maharao Sir Umaid Singh II">
      </div>
      <div class="col-md-8">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 373 - State Elephant of
            Kotah, Delhi Durbar, 1903</a>
        </p>
        <img src="../../assets/beau-geste/chapter23/chapter23-2.jpg"
          alt="Beau Geste Set 361 - State Elephant of Bikaner, left side, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <p class="mt-3">Research images.</p>
    <div class="row mt-3">
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter23/chapter23-3.jpg" alt="Beau Geste Set 328 – Gwalior Horsemen,
                  Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter23/chapter23-4.jpg"
          alt="Beau Geste Set 346 - Elephant with Standard Bearers from Kotah, Retainers Review, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter23/chapter23-5.jpg"
          alt="Beau Geste Set 346 - Elephant with Standard Bearers from Kotah, Retainers Review, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 370 - Escort Group from
            Kotah, group right, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter23/chapter23-6.jpg"
          alt="Beau Geste Set 370 - Escort Group from Kotah, group right, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-3">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 371 - Escort Group from
            Kotah, group left, Delhi Durbar, 1903.</a></p>
        <img src="../../assets/beau-geste/chapter23/chapter23-7.jpg"
          alt="Beau Geste Set 371 - Escort Group from Kotah, group left, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-3">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 372 - Children's Band from
            Kotah, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter23/chapter23-8.jpg"
          alt="Beau Geste Set 364 - Music Band from Bikaner, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-3 mt-5">
        <img class="mt-5" src="../../assets/beau-geste/chapter23/chapter23-9.jpg"
          alt="Beau Geste Set 364 - Music Band from Bikaner, Delhi Durbar, 1903.">
      </div>
    </div>
    <p class="mt-3">---------------------------------------------------------</p>
    <p class="mt-3">You know I always listen to your suggestions and wishes about groups to be made and released within
      the
      Durbar line. There are as many requests as collectors out there. Many of you had been asking for the
      Aides-de-Camps elephants at this
      point. Most collectors had the elephants of Lord Curzon and the Duke of Connaught released by Britains years
      before. And
      as these two elephants were preceded by the six elephants of the Aides de Camps of both authorities, these new
      group
      felt like it was a needed addition to the line. Making half of them didn&apos;t make much sense since they walked
      in
      pairs,
      and
      the six of them seemed excessive. So I went for the first four, leaving the rest two elephants for later.</p>
    <div class="row mt-3">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 378 - Elephant of the
            Aides-de-camps of the Viceroy, Capt. Baker-Karr - Capt. Wigram, Delhi Durbar, 1903.</a>
          <img class="mt-3" src="../../assets/beau-geste/chapter23/chapter23-10.jpg"
            alt="Beau Geste Set 378 - Elephant of the Aides-de-camps of the Viceroy, Capt. Baker-Karr - Capt. Wigram, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6 mt-3">
        <img class="mt-5" src="../../assets/beau-geste/chapter23/chapter23-11.jpg"
          alt="Elephant of the Aides-de-camps of the Viceroy, Capt. Yarde-Buller - Capt. Lindsay, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-3">
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 379 - Elephant of the
            Aides-de-camps
            of the Viceroy, Capt. Yarde-Buller - Capt. Lindsay, Delhi Durbar,
            1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter23/chapter23-12.jpg" alt="Beau Geste Set 379 - Elephant of the
            Aides-de-camps
            of the Viceroy, Capt. Yarde-Buller - Capt. Lindsay, Delhi Durbar,
            1903.">
      </div>
      <div class="col-md-6 mt-5">
        <img class="mt-5" src="../../assets/beau-geste/chapter23/chapter23-13.jpg"
          alt="- Elephant of the Aides-de-camps of the Duke of Connaught, Col. Leslie- Col. Bingham, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-3">
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 380 - Elephant of the
            Aides-de-camps
            of the Duke of Connaught, Col. Leslie- Col. Bingham, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter23/chapter23-14.jpg" alt="Beau Geste Set 380 - Elephant of the
            Aides-de-camps
            of the Duke of Connaught, Col. Leslie- Col. Bingham, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6 mt-5">
        <img class="mt-5" src="../../assets/beau-geste/chapter23/chapter23-15.jpg" alt="Elephant of the
                  Aides-de-camps
                  of the Duke of Connaught, Col. Leslie- Col. Bingham, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-3">
      <div class="col-md-4">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 381 - Elephant of Sir
            Fitzgerald and Col. Herbert, Aides-de-camps of the Duke of Connaught, Delhi Durbar,
            1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter23/chapter23-16.jpg"
          alt="Beau Geste Set 381 - Elephant of Sir Fitzgerald and Col. Herbert, Aides-de-camps of the Duke of Connaught, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4 mt-5">
        <img class="mt-5" src="../../assets/beau-geste/chapter23/chapter23-17.jpg"
          alt="Elephant of Sir Fitzgerald and Col. Herbert, Aides-de-camps of the Duke of Connaught, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4 mt-5">
        <img class="mt-5" src="../../assets/beau-geste/chapter23/chapter23-18.jpg"
          alt="Beau Geste Set 381 - Elephant of Sir Fitzgerald and Col. Herbert, Aides-de-camps of the Duke of Connaught, Delhi Durbar, 1903.">
      </div>
    </div>
    <p class="mt-3">Source images</p>
    <p class="mt-3">Here are all the photos that I had of them by the time. But I didn&apos;t have the information about
      the uniforms and
      specific details of the men on the elephants. My friend Bill Spear hugely helped me with this, he sent absolutely
      all
      the information I needed. He&apos;s such a great friend, always been so generous with Daniel and me. My other
      friend Bill was
      there for me too, always helping, and between we all three we could rebuild the most accurate information
      possible,
      about the uniforms and insignia. We did our best <span class="happy-face">
        <img src="../../assets/beau-geste/smiley-face-svg.png" alt="Beau Geste happy face">
      </span>
    </p>
    <div class="row mt-3">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter23/chapter23-19.jpg" alt="Beau Geste Sets 320 and 351 - Kapurthala,
            Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter23/chapter23-20.jpg" alt="Beau Geste Sets 320 and 351 - Kapurthala,
                  Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter23/chapter23-21.jpg"
          alt="Beau Geste Set 368 - Indore Military Band, Retainers Review, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter23/chapter23-22.jpg"
          alt="Beau Geste Set 369 - Indore Infantry, Retainers Review, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter23/chapter23-23.jpg"
          alt="Photo of Indore Infantry resting, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter23/chapter23-24.jpg" alt="Photo of Indore group, Delhi Durbar, 1903.">
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
