<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 37</h2></div>
    <p class="mt-3">
      Continuing with the History of the Delhi Durbar Beau Geste sets, the releases that followed were two special ones. One was a large group that many collectors had been asking for for a long time, and the second was a couple of elephants that needed to complete a group that I had already begun a few years before.
      <br>
      The first group was a challenge to me: the Imperial Cadets Corps. They were a group of 27 horsemen, and I had to give some thought about how the sets would be released. I finally decided to present them as only one set, but announcing that the real group had 27 figures instead of the usual 3 that has a special horsemen set.
      The whole group had its lead in Sir Prataph Singh, in front, and then they were 20 cadets, 3 adjutants and 3 commanders. I introduced one of each of them to the collectors, and offered them any mixing choices coming in groups of three.
      The collectors with most space in their shelves went for all 27 figures, but other were a bit more limited and chose among a few sets of 3 figures each.
      <br>
      I present to you a photo of each of the different variables, all coded as Beau Geste Set 468.
      <br>
      The images that inspired me. I had to choose a few since there are SO many photos of the cadets that it was impossible to post them all. They came before the Main Procession, in front of the elephants of the Aides-de-Camps.
      <br><br>
      <img src="../../assets/beau-geste/chapter37/chapter37-0.jpg" alt="Lord Curzon, Delhi Durbar, 1903.">
      </p>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter37/chapter37-1.jpg" alt="The Imperial Cadet Corps 1, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter37/chapter37-2.jpg" alt="The Imperial Cadet Corps 2, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 468 - The Imperial Cadet Corps, Delhi Durbar, 1903.<br></a></p>
      <div class="col-md-6">
        <p>The standard Cadets</p>
        <img src="../../assets/beau-geste/chapter37/chapter37-3.jpg" alt="Beau Geste Set 468 - The Imperial Cadet Corps, Delhi Durbar 1903.">
      </div>
      <div class="col-md-6">
        <p>The Commander</p>
        <img src="../../assets/beau-geste/chapter37/chapter37-4.jpg" alt="Beau Geste Set 468 - The standard Cadet, Delhi Durbar 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p>The Adjutant</p>
        <img src="../../assets/beau-geste/chapter37/chapter37-5.jpg" alt="Beau Geste Set 468 - The Adjuntant, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p>Sir Prataph Singh</p>
        <img src="../../assets/beau-geste/chapter37/chapter37-6.jpg"
          alt="Beau Geste Set 468 - Sir Prataph Singh, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-12">
        <p>A few images of the making process<br></p>
        <img src="../../assets/beau-geste/chapter37/chapter37-7.jpg"
          alt="Beau Geste Sets 468 - The making process.">
      </div>
    </div>
    <p class="mt-4">Unfortunately I could never take a picture of the 27 all together.</p>
    <p class="mt-4">---------------------------------------------------------</p>
    <p class="mt-4">
      The following group were two elephants. They were the last pair of the Aides-de-Camps group. With these two, the group of six elephants of the Aides got complete.
      Again, many many pictures of the group. I selected a few.
    </p>
    <!-- <div class="page-break"></div> -->
    <div class="row mt-3">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter37/chapter37-8.jpg"
          alt="Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter37/chapter37-9.jpg"
          alt="Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 469 - Elephant of the Aides-de-camps of the Viceroy: Walter Lawrence, Esq., Private Secretary to the Viceroy - Colonel E H Fenn, Surgeon to the Viceroy, Royal Army Medical Corps, Delhi Durbar, 1903.<br></a></p>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter37/chapter37-10.jpg"
          alt="Beau Geste Sets 462 - 463 - The making of, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
         <img src="../../assets/beau-geste/chapter37/chapter37-11.jpg"
          alt="State of Bahawalpur, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 470 - Elephant of the Aides-de-camps of the Viceroy: H S Barnes, Esq., President of the Durbar Central Committee - Lieutenant-Colonel the Hon E Baring, Military Secretary to the Viceroy, Delhi Durbar, 1903.<br></a></p>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter37/chapter37-12.jpg"
          alt="Beau Geste Set 470 - Elephant of the Aides-de-camps , Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter37/chapter37-13.jpg"
          alt="State Elephant of Bahawalpur, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Sets 469 and 470 together, Delhi Durbar, 1903.<br></a></p>
      <p>Both group of sets were released in March 2019.</p>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter37/chapter37-14.jpg" alt="State Elephant of Bahawalpur 2, Delhi Durbar, 1903.">
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
