<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 3</h2></div>
    <div class="pt-3">
      <p>
        I have a few last comments about the Alwar&apos;s Throne (Rewa&apos;s in fact). It was (and is) a lot of work to
        make it. <br />The poles were made of brass so they&apos;d not bend because of the weight of the palanquin
        itself.
        It is heavy, even if it&apos;s cast in 2 parts, meaning that it&apos;s hollow. The umbrella is cast separated
        and placed in its place with a brass wire shaped specially to fit. We took it as a new set to the first Chicago
        show that we attended, in September, 2001. <br />
        Our room had a nice street view, and the window sill was wide, so we could exhibit all the new sets there, with
        great light. <br />
        The palanquin was exhibited among a group of other Durbar sets. It took only a few hours for a collector to come
        in the room and buy them all. ALL. A long time collector who is still today one of our most faithful and
        enthusiastic 1903 Delhi Durbar collectors, and that is reading this newsletter with you all. I hope he remembers
        this. I certainly do.
        That left us with an empty table for Sunday, only with Napoleonic and French Foreign Legion sets. Here&apos;s a
        picture of the table and me, early that Sunday. Not a very neat, it was all my first digital camera (Olympus 1
        Megapixel) could take. Still a wonderful memory.
      </p>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter3/Chicago-show.jpg" alt="Chicago Toy Soldiers Show, September 2001">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <p>The next Delhi Durbar set were the Jaipur Horsemen. Still we only could rely on with the Gertrude Bell
            image</p>
          <img src="../../assets/beau-geste/chapter3/jaipur-horsemen.jpg" alt="Jaipur Horsemen, Delhi Durbar 1903.">
        </div>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter3/beau-geste-jaipur-horsemen.jpg" alt="Beau Geste Set 72 -
            Jaipur Horsemen, Delhi Durbar 1903.">
          <p class="mt-2"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 72 - Jaipur Horsemen,
              Delhi
              Durbar 1903.</a>
          </p>
        </div>
      </div>
      <div class="pt-2">
        <p>I didn&apos;t know that they were actually 60 horsemen in the group then. I could have offered
          accessory sets of the cavalry for those who wanted a larger group.</p>
        <p>This is what the program and the press said about them:</p>
        <p class="mt-3"><strong>Jaipur - 60 Horsemen in chain armour</strong><br /><br />
          <u>Civil & Military Gazette 13/01:</u><br />
          <i>&apos;They carried lances with red and white pennants and their boots were Cawnpore boots.&apos;</i>
        </p>
        <p>
          <u>Menpes:</u>
          <br />
          <i>&apos;In Rajputana we saw real workmen. How devoted the old Raj is to arms! Here were horsemen in chain
            armour,
            stern and forbidding of demeanour, clothed in metal from head to foot. The only frivolous touches about them
            were the golden plumes on their casques and the red-and-white pennons that fluttered on their lances. They
            took
            one back to the olden days of battle and bloodshed: they reminded one of boyhood's heroes. How much more
            awe-inspiring are these mail-clad warriors than our khaki-clad brave soldiers of to-day!&apos;
          </i>
        </p>
        <p>
          <u>Wheeler:</u>
          <br />
          <i>&apos;Sixty lancers in chain armour rode with the Jaipur contingent.&apos;
          </i>
        </p>
        <p>
          <u>Madras Times 09/01:</u>
          <br />
          <i>&apos;The Maharaja of Jaipur's sixty horsemen in complete mail armour, with lances and red and white
            pennons,
            caused hundreds of kodaks to set the work.&apos;
          </i>
        </p>
      </div>
      <div class="row pt-2">
        <p class="pt-2">These are the images that we got to finally have until today.</p>
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter3/jaipur-horsemen2.jpg"
            alt="Jaipur Horsemen, Delhi Durbar 1903."><br /><br />
          <img src="../../assets/beau-geste/chapter3/lancers-jaipur.jpg" alt="Jaipur Lancers, Delhi Durbar 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter3/jaipur-horsemen3.jpg"
            alt="Jaipur Horsemen, Delhi Durbar 1903."><br /><br />
        </div>
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter3/native-followers-jaipur.jpg"
            alt="Jaipur Horsemen, Delhi Durbar 1903."><br /><br />
          <img src="../../assets/beau-geste/chapter3/jaipur-retainers-review.jpg"
            alt="Jaipur Horsemen, Delhi Durbar 1903.">
        </div>
      </div>
      <div class="page-break"></div>
      <div class="row pt-3">
        <p>The following set was the Orchha Infantry. Another photo taken from Gertrude Bell&apos;s
          website. Their uniforms and hats were unique, coats quilted and long, hats bulky cone shaped and with flaps
          around the neck.
        </p>
        <div class="col-md-4">
          <p>Here is the original photo:</p>
          <img src="../../assets/beau-geste/chapter3/oorcha-horseback.jpg" alt="Oorcha infantry, Delhi Durbar 1903.">
        </div>
        <div class="col-md-8">
          <p>Beau Geste Set 73, Oorcha infantry, Delhi Durbar 1903.</p>
          <img src="../../assets/beau-geste/chapter3/beau-geste-oorcha.jpg"
            alt="Beau Geste Set 73, Oorcha infantry, Delhi Durbar 1903.">
        </div>
      </div>
      <div class="pt-3">
        <p> This time again we trusted on Mrs Bell&apos;s information, and she said they were from the Oorcha
          contingent.
          We hadn&apos;t had the chance of finding a Menpes book yet, that would have had us corrected. They were from
          Kishangarh state.
        </p>
        <p>
          These is what the program and press said about them:
        </p>
        <p>
          Kishangarh - 60 Irregular foot in quilted uniforms
        </p>
        <p>
          <u>Civil & Military Gazette - January 13:</u>
          <br />
          <i>&apos;Their dress was greyband shaped like a dressing gown, with flaps down the neck and sides of the face.
            They carried rhinoceros shields.&apos;</i>
        </p>
        <p>
          <u>Madras Times - January 8:</u>
          <br />
          <i>&apos;Kishangarh sent a large body of armed men clothed in thick quilted coats designed as protection
            against
            sword cuts and slugs.&apos;</i>
        </p>
        <p>
          <u>Pioneer Mail - January 16 / The Coronation Durbar:</u>
          <br />
          <i>&apos;...and the infantry marching in long, quilted coats reaching to their heels.&apos;
          </i>
        </p>
        <p>
          <u>Menpes:</u>
          <br />
          <i>&apos;A group of warriors from Kishangarh wore long slate-gray quilted coats, and quilted head-dresses
            bound
            with green as a protection from sword-cuts. Rather like dressing-gowns they seemed; but very formidable and
            inaccessible were these quilted people, with their shields of brass and spears of steel.&apos;
          </i>
        </p>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter3/oorcha-drawing.jpg"
            alt="Drawing of the Oorcha infantry, Delhi Durbar 1903.">
        </div>
        <p class="mt-3">
          <u>A Motley Army:</u>
          <br />
          <i>&apos;Near these weird fanatics stood a full company of men from Kishangath, attired in vast robes of
            slate-blue tint. At the first glance they looked liked cowled monks; then you wondered whether they were
            nobles in hooded dressing gowns; finally you perceived that they carried swords, and that their dress was a
            huge quilted coat stuffed with cotton.
            And excellent garments they must have been, too, for warding off sword-cuts, though rather oppressive to
            wear
            in the sandy wastes of Rajputana; doubtless they were the outcome of human ingenuity triumphing over the
            scarcity and costliness of iron. Their high conical quilted headgear was bound with cords of green and
            black.&apos;
          </i>
        </p>
        <p>
          <u>Wheeler:</u>
          <br />
          <i>&apos;...he also sent men on foot wearing long heavily quilted coats and head-gear - a sure protection
            against sword-cuts - and carrying shields of rhinoceros hide.&apos;
          </i>
        </p>
        <p>These are the photos that we gathered over time. To be fair with Gertrude Bell, there are a couple of
          mistakes
          in the photos as well. One of the stereoviews has &apos;Shapura retainers&apos; written on it, and the other
          one
          is titled Charkaree retainers (meaning Chrakkhari). The confirmation comes with the program, where they are
          described as part of the Kishangarh contingent.
        </p>
      </div>
      <div class="row pt-2">
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter3/kishangarh-contingent.jpg"
            alt="Oorcha infantry, Delhi Durbar 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter3/kishangarh-contingent2.jpg"
            alt="Oorcha infantry, Delhi Durbar 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter3/kishangarh-contingent3.jpg"
            alt="Oorcha infantry, Delhi Durbar 1903.">
        </div>
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
