<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 41</h2></div>
    <p class="mt-3">
      Continuing with the history of the Beau Geste Delhi Durbar sets, the following group was one of the most special. The elephant is one of the most colorful, the maharaja had a lot of character, and the umbrellas, signs and spears&apos; group are very unique.
      <br> State Elephant of Maler Kotla walked alone, close to the end of the Main Procession, 22nd in the middle of both columns. In front of the elephant walked Tehri and Bansda, and behind it were Limri and Faridkot. It was one of the first elephants I had in photos from a close spot (Bell&apos;s) even when I didn&apos;t know to which state it belonged to. In my opinion, is one of the most beautiful elephants that I have made. And it is one of our best sellers. It was released in September 2020, and collectors keep on choosing it still, more than 4 years later.
      <br> Here are the images that inspired me.
    </p>
    <!-- <div class="page-break"></div> -->
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter41/chapter41-1.jpg" alt="State Elephant of Maler Kotla, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter41/chapter41-2.jpg" alt="State elephant of Maler Kotla 1, Delhi Durbar 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 484 - State Elephant of Maler Kotla, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter41/chapter41-3.jpg" alt="Beau Geste Set 484- State Elephant of Maler Kotla, Delhi Durbar 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 485 - Escort Guards from Maler Kotla, Group A, Delhi Durbar, 1903.<br></a></p>
          <img src="../../assets/beau-geste/chapter41/chapter41-4.jpg" alt="Beau Geste Set 485 - Escort Guards from Maler Kotla, Group A, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 486 - Escort Guards from Maler Kotla, Group B, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter41/chapter41-5.jpg" alt="Beau Geste Set 486 - Escort Guards from Maler Kotla, Group B, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 487 - Musicians and Servants from Maler Kotla, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter41/chapter41-6.jpg" alt="Beau Geste Set 487 - Musicians and Servants from Maler Kotla, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
         <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 488 - Mace and Spear Bearers from Maler Kotla, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter41/chapter41-7.jpg" alt="Beau Geste Set 488 - Mace and Spear Bearers from Maler Kotla, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
         <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 489 - Parasol and Emblem Carriers from Maler Kotla, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter41/chapter41-8.jpg" alt="Beau Geste Set 489 - Parasol and Emblem Carriers from Maler Kotla, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Sets 488 and 489 - Maler Kotla, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter41/chapter41-9.jpg" alt="Beau Geste Sets 488 and 489 - Maler Kotla, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter41/chapter41-10.jpg" alt="Parasol and Emblem Carriers from Maler Kotla, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-12">
         <p><a href="https://www.beau-geste.com" target="_blank">The Maler Kotla Group (Beau Gest Sets 484, 485, 486, 487, 488 and 489), Delhi Durbar, 1903.<br></a></p>
         <img src="../../assets/beau-geste/chapter41/chapter41-11.jpg" alt="The Maler Kotla Group (Beau Gest Sets 484, 485, 486, 487, 488 and 489), Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
         <p>Pictures of the making of</p>
         <img src="../../assets/beau-geste/chapter41/chapter41-12.jpg" alt="Making the Maler Kotla group, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
         <img src="../../assets/beau-geste/chapter41/chapter41-13.jpg" alt="Making the Maler Kotla group 1, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
         <img src="../../assets/beau-geste/chapter41/chapter41-14.jpg" alt="Making the Maler Kotla group 2, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <p>---------------------------------------------------------</p>
      <p>Time to feature another part of the Elephants&apos; Route in Delhi. This time, it&apos;s the arrival of the elephants at the Jumma Masjid, to walk around the mosque following their way.  This part of the route was the most photographed, and it&apos;s the most popular parts of the elephants&apos; way.
          <br>This is what I&apos;ve feature so far:
      </p>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter41/chapter41-15.jpg" alt="Map of the Delhi Durbar, 1903.">
        <p class="mt-3">At this point, the South West of the Red Fort, the Main Procession turned right and walked towards the Jumma Masjid along Khas Road.</p>
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter41/chapter41-16.jpg" alt="The Main Procession, with Indore, Rewa, Bikaner and Kota, Delhi Durbar, 1903.">
        <p class="mt-3">The elephants&apos; columns photographed from the side of Khas Road, where most photographers were located. Here, the Main Procession, with Indore, Rewa, Bikaner and Kota.</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter41/chapter41-17.jpg" alt="Then and Now, Delhi Durbar, 1903.">
        <p class="mt-3">Then and Now</p>
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter41/chapter41-18.jpg" alt="View from Khas Road towards the East Front of th Mosque.">
        <p class="mt-3">View from Khas Road towards the East Front of th Mosque. This is the view that the elephants had, walking towards the Mosque.</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <img src="../../assets/beau-geste/chapter41/chapter41-19.jpg" alt="Three photos taken by Gertrude Bell, standing below the spectators canopy, Delhi Durbar, 1903.">
      </div>
      <p class="mt-3">Three photos taken by Gertrude Bell, standing below the spectators canopy. Looking to slightly different directions. </p>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter41/chapter41-20.jpg" alt="The Jumma Masjid.">
        <p class="mt-3">The Jumma Masjid from the air, taken early during the last Century. It was built around 1644.</p>
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter41/chapter41-21.jpg" alt="The Jumma Masjid taken around nowadays, Delhi.">
        <p class="mt-3">The Jumma Masjid taken around nowadays. Not taken by me, a wonderful photograph.</p>
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <p>My photos of the East Entrance</p>
      <div class="col-md-12">
        <img src="../../assets/beau-geste/chapter41/chapter41-22.jpg" alt="Photos of the East Entrance.">
      </div>
    </div>
    <div class="row mt-4">
      <p class="mt-3">Old photos taken from this spot.</p>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter41/chapter41-23.jpg" alt="Old photos taken from this spot.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter41/chapter41-24.jpg" alt="Old photos taken from this spot 1.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <p>The inside of the building.</p>
        <img src="../../assets/beau-geste/chapter41/chapter41-25.jpg" alt="The inside of the building, Delhi.">
        <p class="mt-3">This was definitely the place that touched me more. It&apos;s one of the only places that hasn&apos;t been modified at all. Standing at the top of the stairs, it was the place where I felt the 1903 Delhi Durbar the most. If I wouldn&apos;t have visited anything else, this place alone would have made my trip worth it.  <span class="happy-face">
          <img src="../../assets/beau-geste/smiley-face-svg.png" alt="Beau Geste happy face">
        </span> It was unforgettable.</p>
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
