<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 30</h2></div>
    <p class="mt-3">The set to follow was a new elephant. The State Elephant of Rewa. It was April 2016. I had been
      postponing this elephant for some time. Making all those men standing around the howda was a great challenge for
      me. But I resolved the sculpting in the best and safest way. I always have to think about safety when shipping. I
      can make anything to remain in my studio, but facing the challenge of traveling long distances packed has always
      been something I need to think beforehand. I know many of you have this elephant, and I am very happy for that. It
      makes me proud that the Rewa Elephant is standing on shelves all over the world.
      <br />I was fortunate to find many photos of the elephant. Many times I am not able to find pictures taken from
      all sides. <br />Here are the pictures I had at the moment of the making.
    </p>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p>This was the most detailed photograph. It is an astonishing glass slide.</p>
        <img src="../../assets/beau-geste/chapter30/chapter30-1.jpg" alt="State Elephant of Rewa, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p>Look at the detail more closely:</p>
        <img class="mt-4" src="../../assets/beau-geste/chapter30/chapter30-2.jpg"
          alt="State Elephant of Rewa1, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter30/chapter30-3.jpg"
          alt="State Elephant of Rewa 2, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter30/chapter30-4.jpg"
          alt="State Elephant of Rewa 3, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img class="mt-3" src="../../assets/beau-geste/chapter30/chapter30-5.jpg"
          alt="State Elephant of Rewa 4, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img class="mt-3" src="../../assets/beau-geste/chapter30/chapter30-6.jpg"
          alt="State Elephant of Rewa 5, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <img class="mt-3" src="../../assets/beau-geste/chapter30/chapter30-7.jpg"
          alt="State Elephant of Rewa 6, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6 mt-4">
        <img src="../../assets/beau-geste/chapter30/chapter30-8.jpg"
          alt="State Elephant of Rewa 7, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img class="mt-4" src="../../assets/beau-geste/chapter30/chapter30-10.jpg"
          alt="State Elephant of Rewa 8, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6 mt-4">
        <img src="../../assets/beau-geste/chapter30/chapter30-9.jpg"
          alt="State Elephant of Rewa 9, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 424 - State Elephant of
          Rewa, Delhi Durbar, 1903.<br></a></p>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter30/chapter30-11.jpg"
          alt="Beau Geste Set 424 - State Elephant of Rewa, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter30/chapter30-12.jpg"
          alt="Beau Geste Set 424 2 - State Elephant of Rewa, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 425 - Escort Guards from
            Rewa, group left, Delhi Durbar, 1903.<br /></a>
          <img class="mt-3" src="../../assets/beau-geste/chapter30/chapter30-13.jpg"
            alt="Beau Geste Set 425 - Escort Guards from Rewa, group left, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 426 - Escort Guards from
            Rewa, group right, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter30/chapter30-14.jpg"
          alt="Beau Geste Set 426 - Escort Guards from Rewa, group right, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 427 - Music Band from Rewa, Delhi Durbar,
            1903.</a>
        </p><br />
        <img src="../../assets/beau-geste/chapter30/chapter30-15.jpg"
          alt="Beau Geste Set 427 - Music Band from Rewa, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">The Rewa group, including the Rewa standard bearers set
            announced in my last chapter. Sets 423, 424, 425, 426 and 427.</a>
        </p>
        <img src="../../assets/beau-geste/chapter30/chapter30-16.jpg"
          alt="The Rewa group, including the Rewa standard bearers set announced in my last chapter. Sets 423, 424, 425, 426 and 427.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <p>And here are a few pictures of the masters, the making of the elephants clothes</p>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter30/chapter30-17.jpg" alt="Sets 409 and 410 in front, the Mounted Band. Set 411, the Elephant and sets 412 and 413, its Guards. Then, the Elite
              Cavalry sets 414 and 415. All from Rewa, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img class="mt-3" src="../../assets/beau-geste/chapter30/chapter30-18.jpg"
          alt="Beau Geste Set 423 - Standard Bearers from Rewa, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter30/chapter30-19.jpg" alt="Master of the elephants clothes.">
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
