<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 21</h2></div>
    <p class="mt-3"> It was 2012, and the digital copies of the photographs that I bought from the British Library were
      more and more
      detailed and extremely interesting. One of the images portrayed a group from Kotah, with the State Elephant and
      three
      more Retainers&apos; ones. I fell in love with one of them. We had already made a few elephants from the Retainers
      (the baby
      elephant, the executioner from Rewa, the first Narsingharh elephant, the Orchha elephant band) so I decided to
      make one
      of the Kotah ones. I was (and still am) very impressed with the detail of the photos and how it turned out.
    </p>
    <p>
      Here is the original Kotah group from my digital copy
    </p>
    <div class="page-break"></div>
    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter21/chapter21-1.jpg" alt="Beau Geste Set 328 – Gwalior Horsemen,
              Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter21/chapter21-2.jpg" alt="Beau Geste Set 328 – Gwalior Horsemen,
              Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter21/chapter21-3.jpg" alt="Beau Geste Set 328 – Gwalior Horsemen,
                  Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 346 - Elephant with Standard
            Bearers from Kotah, Retainers Review, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter21/chapter21-4.jpg"
          alt="Beau Geste Set 346 - Elephant with Standard Bearers from Kotah, Retainers Review, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter21/chapter21-5.jpg"
          alt="Beau Geste Set 346 - Elephant with Standard Bearers from Kotah, Retainers Review, Delhi Durbar, 1903.">
      </div>
    </div>
    <p class="mt-3">---------------------------------------------------------</p>
    <p class="mt-3">After the new elephant I continued making more guards and musician groups for the elephants we had
      already made. I was
      very behind with those. Collectors were really hoping to complete their groups now that I had began focusing on
      the
      people around the elephants. So now it was Kapurthala and Bundi's turn.</p>
    <div class="row mt-3">
      <div class="col-md-4">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 351 - Escort Guards from
            Kapurthala, Group left, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter21/chapter21-6.jpg"
          alt="Beau Geste Set 351 - Escort Guards from Kapurthala, Group left, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4 mt-3">
        <img src="../../assets/beau-geste/chapter21/chapter21-7.jpg"
          alt="Escort Guards from Kapurthala, Group left, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4 mt-3">
        <img src="../../assets/beau-geste/chapter21/chapter21-8.jpg"
          alt="Escort Guards from Kapurthala, Group left, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 352 - Escort Guards from
            Kapurthala, Group right, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter21/chapter21-9.jpg"
          alt="Beau Geste Set 352 - Escort Guards from Kapurthala, Group right, Delhi Durbar, 1903.">
        <p class="mt-3"></p>
      </div>
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 353 - Music Band from
            Kapurthala, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter21/chapter21-10.jpg"
          alt="Beau Geste Set 353 - Music Band from Kapurthala, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-3">
      <div class="col-md-4">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Sets 320 and 351 - Kapurthala,
            Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter21/chapter21-11.jpg" alt="Beau Geste Sets 320 and 351 - Kapurthala,
            Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Sets 320 and 351 - Kapurthala,
            Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter21/chapter21-12.jpg" alt="Beau Geste Sets 320 and 351 - Kapurthala,
                  Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Sets 320, 351, 352 and 353 - The
            Kapurthala Group,
            Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter21/chapter21-13.jpg" alt="Beau Geste Sets 320, 351, 352 and 353 - The Kapurthala Group,
                        Delhi Durbar, 1903.">
      </div>
    </div>
    <p class="mt-3">---------------------------------------------------------</p>
    <div class="row mt-3">
      <div class="col-md-4">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 356 - Escort Guards from
            Bundi, Group right, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter21/chapter21-14.jpg"
          alt="Beau Geste Set 356 - Escort Guards from Bundi, Group right, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 357 - Escort Guards from
            Bundi, Group left, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter21/chapter21-15.jpg"
          alt="Beau Geste Set 357 - Escort Guards from Bundi, Group left, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 358 - Music Band from Bundi,
            Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter21/chapter21-16.jpg"
          alt="Beau Geste Set 358 - Music Band from Bundi, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter21/chapter21-17.jpg" alt="The Bundi Group, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter21/chapter21-18.jpg" alt="The Bundi Group, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter21/chapter21-19.jpg" alt="The Bundi Group, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Sets 305, 356, 357 and 358 - The
            Bundi Group, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter21/chapter21-20.jpg"
          alt="Beau Geste Sets 305, 356, 357 and 358 - The Bundi Group, Delhi Durbar, 1903.">
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
