<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text mt-3">
    <div class="chapter_title">The Retainers Review</div>
    <div class="pt-2 ms-2">
      <div class="col-md-12">
        <p>‘On Wednesday, January 7th, the Amphitheatre was the scene of a spectacle which, for its
          historical interest, as well as for unexpected scenic effects of a purely Asiatic type, might be accounted the
          most curious and even remarkable of all the celebrations at Delhi.&nbsp;<br>This was the review of native
          chiefs&apos; retainers which was held on the morning of that day.<br> Here the picturesque splendour of Indian
          courts, and whatever they retain of medieval pomp and profusion, were presented with no contrast of Western
          order and organization.<br>Some forty States responded to the invitation by sending their contingent, and two
          thousand horsemen and one thousand five hundred footmen marched past, with 160 elephants and about the same
          number of camels.</p>
        <p> &quot;An artist friend told me how to see the review of chiefs&apos; retinues to-day. He
          said:—&quot; Don&apos;t be satisfied with sitting in that Amphitheatre and seeing them go round like a circus.
          Get
          up
          early, and watch them arrive on the plain outside. That&apos;s the place to see things.&quot; </p>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-1.jpg">
          <p class="mt-2">The Datia State elephants and attendants entering the amphitheatre </p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-2.jpg">
          <p class="mt-2">The Alwar Carriage and rath going towards the amphitheatre, escorted by the cavalry</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-3.jpg">
          <p class="mt-2">The Dhar State elephant and Retainers</p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-4.jpg">
          <p class="mt-2">The Shan group on their way to the parade</p>
          <p>&quot;We wandered about on the plain, outside the arena sketching different groups, and had
            our breath taken away before the review began by pictures that were simply magnificent. One broad sweep of
            changing, glittering colour was stretched out before us for mile upon mile, formed of clumps of retainers
            from
            the tribes of India.&quot; </p>
          <p>The event of the day was the march-past of the retinues and retainers of the Native Chiefs,
            and it had been arranged that this should take place in the Durbar Amphitheatre so that the spectators might
            have a good view of the strange and motley contingents that still accompany Ruling Princes on State
            occasions.
          </p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-5.jpg">
          <p class="mt-2">The Amphitheatre</p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-6.jpg">
          <p class="mt-2">The Kotah group posing outside the Amphitheatre</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-7.jpg">
          <p class="mt-2">The Maharajas of Bundi and Jaipur talking before watching the parade</p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-8.jpg">
          <p class="mt-2">One of the Shan Chiefs</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-9.jpg">
          <p class="mt-2">The Maharaja of Jaisalmer</p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-10.jpg">
          <p class="mt-2">The maharajas and dignitaries at the amphitheatre</p>
          <p class="mt-3">To describe the scene as a whole would be impossible. All one can do is to give little
            peeps of the different groups we saw about the grounds.<br>Thus the motley throng went on, each group more
            dazzling and more barbaric than the last. It was an ideal opportunity for the painter. One does not more
            than once in a lifetime get a chance of seeing thousands of tribes together. Here we saw groups that we
            should never see
            again. Here were people, living thousands of miles apart, who had probably never seen one another before,
            camped so closely that one could move from State to State in a few strides.</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-11.jpg">
          <p class="mt-3">There were tribes from Cashmere, from the highlands and the lowlands, camels, elephants,
            men
            in armour, animals in armour, and costumes of every conceivable colour and form. It was a bewildering show.
          </p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-12.jpg">
          <p class="mt-2">Mounted flagbearer</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-13.jpg">
          <p class="mt-2">Retainers Elephants during the Review
          </p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-14.jpg">
          <p class="mt-2">The Gwalior Group</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-15.jpg">
          <p class="mt-2">The Shan group at the Retainers Review
          </p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-16.jpg">
          <p class="mt-2">Emblem Bearer elephant and Camel Riders from Cutch</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-17.jpg">
          <p class="mt-2">Elephants and carts from different states during the Review
          </p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-18.jpg">
          <p class="mt-2">Elephant with Flag and Camel Riders from Alwar</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-19.jpg">
          <p class="mt-2">Various Maharajas watching the Retainers Review
          </p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-20.jpg">
          <p class="mt-2">Gold and Silver Cannons from Baroda</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-21.jpg">
          <p class="mt-2">Bhopal Group
          </p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-22.jpg">
          <p class="mt-2">The Dhar Elephant and escort guards</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-23.jpg">
          <p class="mt-2">Horsemen in chainmail
          </p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-24.jpg">
          <p class="mt-2">Alwar Camel Riders</p>
        </div>
      </div>
      <p class="mt-3">The review of the Princes&apos; retainers was unique. No one in that arena had ever seen,
        or ever would see again, anything to approach it. For days we had been satiated with marvellous spectacles and
        colour-schemes that left us breathless; but this was something different, something more wonderful than all.
      </p>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-25.jpg">
          <p class="mt-2">Silver Carriage from Jhind
          </p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-26.jpg">
          <p class="mt-2">Band on elephant</p>
          <img src="../../../assets/history/retainers/retainers-27.jpg">
        </div>
      </div>
      <p class="mt-3">One&apos;s brain could not take it all in. If you could only have arrested the procession
        now and then and isolated a portion of it, there would have been some chance of remembering and realizing what
        you saw. That was impossible, and artists and writers groaned aloud with dismay as each new and brilliant
        combination of colour appeared. How could any one hope to convey any idea of that bewildering spectacle to
        the people at home? There are occasions when words are useless, and this was one of them.
      </p>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-28.jpg">
          <p class="mt-2">Standing elephant and dancing horses from
            Datia
          </p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-29.jpg">
          <p class="mt-2">The Datia group</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-30.jpg">
          <p class="mt-2">The Rajgarh State elephant and contingent
          </p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-31.jpg">
          <p class="mt-2">The Jaipur State elephant</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-32.jpg">
          <p class="mt-2">The Rewa group
          </p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-33.jpg">
          <p class="mt-2">The Elephant Band from Orchha</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/history/retainers/retainers-34.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
