<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 6</h2></div>
    <div class="pt-3">
      <p> We still didn&apos;t have more information than Gertrude Bell&apos;s photos, so she was mainly leading the way
        of the sets. The following were The Kashmir (or Kashmiri) Giants. They were only two. Most of the information I
        could get was that they were brothers, and that they were from Kashmir. But one of the digital copies that I
        bought from the British Library names them as Abdul Razag and Lur Khan, 7 feet 10 and 7 feet 8, one of them from
        Kashmir and the other from Secunderabad.
      </p>
      <p>
        When we planned the set we decided to include Mrs Bell as well. We felt that we owed her so much for all we
        could get from her photographs that she deserved to be in the set as well.
      </p>
      <div class="page-break"></div>
      <div class="row">
        <p>Here is the photo that Gertrude Bell took and shared:</p>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter6/chapter6-1.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter6/chapter6-2.jpg" alt="Beau Geste set 91 - The Kashmir Giants,
            Delhi Durbar, 1903.">
          <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste set 91 - The Kashmir Giants,
              Delhi Durbar, 1903.</a>
          </p>
        </div>
      </div>
      <div class="row mt-3">
        <p>Here are the photos I could get from both giants through the years, and from Mrs Bell
        </p>
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter6/chapter6-3.jpg">
          <p class="mt-3"></p>
        </div>
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter6/chapter6-4.jpg">
          <p class="mt-3"></p>
        </div>
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter6/chapter6-6.jpg">
          <p class="mt-3"></p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter6/chapter6-7.jpg">
          <p class="mt-3"></p>
        </div>
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter6/chapter6-8.jpg">
          <p class="mt-3"></p>
        </div>
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter6/chapter6-9.jpg">
          <p class="mt-3"></p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter6/chapter6-10.jpg">
          <p class="mt-3"></p>
        </div>
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter6/chapter6-11.jpg">
          <p class="mt-3"></p>
        </div>
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter6/chapter6-12.jpg">
          <p class="mt-3 me-3">Professor James Ricalton, an American photographer,
            was in most of their pictures
          </p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter6/chapter6-13.jpg">
        </div>
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter6/chapter6-14.jpg">
          <p class="mt-3"></p>
        </div>
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter6/chapter6-15.jpg">
          <p class="mt-3"></p>
        </div>
      </div>
      <div class="row mt-3">
        <p class="mt-3">
          The following pair of sets was based on regiment plates and cigarette cards. As all the newspapers mentioned
          the amount of bands present and playing during the Durbar we wanted to include bands as well.
        </p>
        <div class="col-md-8">
          <img src="../../assets/beau-geste/chapter6/chapter6-16.jpg">
          <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste set 92 - Nawanagar Music Band,
              Delhi Durbar, 1903.</a></p>
        </div>
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter6/chapter6-17.jpg">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-8">
          <img src="../../assets/beau-geste/chapter6/chapter6-18.jpg">
          <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste set 93 - Ludhiana Sikhs Music
              Band, Delhi Durbar, 1903.</a></p>
        </div>
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter6/chapter6-19.jpg">
        </div>
      </div>
      <div class="row mt-3">
        <p class="mt-3">The following band was taken from an Indian movie, portraying a wedding at the beginning of the
          20th Century. It was meant to be a generic band to be included anywhere at the parade, Main Procession or
          Retainers Review</p>
        <div class="col-md-8">
          <img src="../../assets/beau-geste/chapter6/chapter6-20.jpg">
          <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste set 94 - Horns and Drums
              Courtship, Delhi Durbar, 1903.</a>
          </p>
        </div>
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter6/chapter6-21.jpg">
          <p class="mt-3"></p>
        </div>
      </div>
      <div class="pt-2">
        <p>As we were advancing in our research we learnt that there were movies taken from the Main Procession. A great
          friend got the first copies from the British Library and shared them with me. I still remember the huge
          excitement of seeing the elephants walking, in action, after seeing so many photos. I watched the short clips
          many many times. With the years, the movies began to be shared, and they ended all in You Tube, uploaded by
          the
          British Film Institute in the best quality that the original films allowed.
        </p>
      </div>
      <div class="row mt-3">
        <p class="mt-3">Here is one of the films taken from the most usual spot for the photographers. On the stairs of
          the Jumma Masjid, looking at the elephants coming from the Red Fort along Khas Road. Below is the plan of the
          whole route through Delhi, and beside is the exact spot from where the film was taken.
          This is the link to the film. You will identify many of the elephants there as you are familiar with them. I
          will include below capture frames from it with the names of the elephants. Feel free to review the film as
          many times as you wish. The more times you watch it the easier will be to spot the elephants within the blurry
          quality. I hope you enjoy watching as much as I do.
          And to think that records say that there was a coloured film…
        </p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter6/chapter6-22.jpg">
          <p class="mt-3"></p>
        </div>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter6/chapter6-23.jpg">
          <p class="mt-3"></p>
        </div>
      </div>
      <div class="row mt-3 no-print">
        <div class="col-md-6">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/MJXQafoklck" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
          </iframe>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter6/chapter6-24.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter6/chapter6-25.jpg">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter6/chapter6-26.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter6/chapter6-27.jpg">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter6/chapter6-28.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter6/chapter6-29.jpg">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter6/chapter6-30.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter6/chapter6-31.jpg">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter6/chapter6-32.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter6/chapter6-33.jpg">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter6/chapter6-34.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter6/chapter6-35.jpg">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter6/chapter6-36.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
