<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 16</h2></div>
    <div class="pt-3">
      <p>At this point of the Durbar line we had released nine elephants, and we were beginning to see the need of
        adding figures to complete the scene. We had added the lining troops and the spectators by then, but the
        elephants needed the soldiers, servants and musicians that surrounded them. So the following two sets were two
        groups of these guys, one for Indore and one for Patiala. The information to make them was right at the same
        photo that we used for the elephants. So there we went.
      </p>
      <div class="row mt-3">
        <div class="col-md-6">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 264 - Silver Horns Courtship from
              Indore, Delhi Durbar, 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter16/chapter16-1.jpg" alt="Beau Geste Set 264 - Silver Horns Courtship from
              Indore, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-6">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 264 with the State Elephant of Indore,
              <span class="no-print"> Durbar, 1903.</span></a></p>
          <img src="../../../assets/beau-geste/chapter16/chapter16-2.jpg"
            alt="Beau Geste Set 264 with the State Elephant of Indore, Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <p>Our source</p>
          <img src="../../../assets/beau-geste/chapter16/chapter16-3.jpg"
            alt="State Elephant of Indore, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-6">
          <p><a href="https://www.beau-geste.com" target="_blank">
              Beau Geste Set 265 - Escort guards from Patiala, Delhi Durbar, 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter16/chapter16-4.jpg"
            alt="Beau Geste Set 265 - Escort guards from Patiala, Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 265 with the State Elephant of Patiala,
              Delhi Durbar, 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter16/chapter16-5.jpg" alt="Beau Geste Set 265 with the State Elephant of Indore,
              Delhi Durbar, 1903.">
        </div>
        <div class="col-md-6">
          <p>Our source</p>
          <img src="../../../assets/beau-geste/chapter16/chapter16-6.jpg"
            alt="State Elephant of Patiala, Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="mt-3">
        <p>---------------------------------------------------------</p>
        <p>
          They were followed by two new elephants. The majestic state elephant of Indore, and the dazzling executioner
          from Rewa&apos;s elephant. Daniel was very excited with this last one, it was so unique and impressive. He
          made it
          with such detail, he could achieve in it everything that the elephant was. We couldn’t be prouder of them
          both. That September (2009) we brought them both to the Chicago show and they were a complete success.
          Collectors loved them very much. We were so happy. And then…
        </p>
        <p>Daniel died three months later. Some of you surely remember the shock of hearing about it. My options were
          simple: to continue or not. When I was able to use my mind again, much later, the decision was clear. HE would
          have wanted me to keep on working on a project that was all for us, that we loved immensely, and I wanted that
          too, very much. So from now on, all the sets featuring the history chapters are only made by me. Only me doing
          the research, only me deciding and only me on the make: sculpture and painting. Many of you were with me in
          these process, and I will always thank you for being there for me.
        </p>
        <p>
          My son Julian was away when this happened. But when he returned he helped more and more as years went by. He
          is my right hand now, so I am not alone in this project any more.
        </p>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter16/chapter16-7.jpg" alt="Daniel Donzino">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter16/chapter16-8.jpg" alt="Daniel Donzino">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-3">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 274 - State Elephant of Gwalior, Delhi
              Durbar, 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter16/chapter16-9.jpg"
            alt="Beau Geste Set 274 - State Elephant of Gwalior, Delhi Durbar, 1903">
        </div>
        <div class="col-md-3">
          <p>Our sources</p>
          <img src="../../../assets/beau-geste/chapter16/chapter16-10.jpg" alt="Daniel Donzino">
        </div>
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter16/chapter16-11.jpg" alt="Daniel Donzino">
        </div>
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter16/chapter16-12.jpg" alt="Daniel Donzino">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 275 - Elephant of the Executioner of
              Rewa, Delhi Durbar, 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter16/chapter16-13.jpg"
            alt="Beau Geste Set 275 - Elephant of the Executioner of Rewa, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-6">
          <p>Our sources.<br />
            Fortunately, for this guy, there were many photos and a color plate. One of the photos that we had bought
            from the British Library featured the elephant going around the Jumma Masjid, within the Retainers
            Procession that followed the Main one.
          </p>
          <img src="../../../assets/beau-geste/chapter16/chapter16-14.jpg"
            alt="Beau Geste Set 275 - Elephant of the Executioner of Rewa, Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter16/chapter16-15.jpg"
            alt="Beau Geste Set 275 - Elephant of the Executioner of Rewa, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter16/chapter16-16.jpg"
            alt="Beau Geste Set 275 - Elephant of the Executioner of Rewa, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-3">
          <p>
            For some reason that I couldn’t find an answer yet, the yellow in these photos photographed as black. Same
            happened with the red color. The main proof of this was the first elephant in the procession, the State
            Elephant of Hyderabad, that was the elephant more described in books and newspapers. It was golden yellow.
            But
            his clothes looked black in all the photos.
          </p>
        </div>
        <div class="col-md-3">
          <p> Detail of the executioner&apos;s howda. It looks black at first sight. But looking closely the stripes
            of the
            tiger can be seen, black over yellow.</p>
          <img src="../../../assets/beau-geste/chapter16/chapter16-17.jpg"
            alt="Detail of the executioner&apos;s howda. Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="mt-3">
        <p>---------------------------------------------------------</p>
        <p>
          Now, about the new elephant. At this point the elephants that remain unmade from the Main Procession are
          less
          photographed. This means that I have to build it from a lot of photo fragments. It’s like a puzzle, and
          requires a lot of going through the photos of other elephants that might show a part of the chosen one.
          This
          is the case of the State Elephant of Kolhapur. I only have fragments of different photos to show it to you,
          but none of the whole elephant. Researching I discovered a very admired and loved maharaja, that did
          wonderful
          great things for his people. He was the first Maharaja of Kolhapur and a great social reformer. He is highly
          remembered.
        </p>
      </div>
      <div class="row mt-3">
        <p>State Elephant of Kolhapur, Delhi Durbar, 1903.</p>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter16/chapter16-18.jpg" alt="Daniel Donzino">
        </div>
        <div class="col-md-4">
          <p>Chhatrapati Shahu Maharaj of Kolhapur, also known as Rajarshi Shahu</p>
          <img src="../../../assets/beau-geste/chapter16/chapter16-19.jpg" alt="Daniel Donzino">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter16/chapter16-20.jpg" alt="Daniel Donzino">
        </div>
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
