<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text mt-3">
    <div class="chapter_title">Elephants Identification</div>
    <div class="pt-2 ms-2">
      <p class="justify">As you might know, there were supposed to be 50 princely elephants in the Main Procession,
        after the 6 elephants of the Aides-de-camps and Curzon and Connaught. But as I mentioned before, two of them had
        to be absent: the Gaekwar of Baroda and the Maharaja of Cutch. The line was still 25 elephants long, but 2 of
        them went alone, without an elephant on their side: Narsingarh and Maler Kotla. <br>The Main Procession began on
        December 29 1902, Monday, in the morning. The first two elephants were the one with the Nizam of Hyderabad, and
        the one carrying the Maharaja of Mysore. These were the most photographed elephants. As the parade continue
        photographers took less and less pictures (unfortunately, until the end of the Procession, that was more
        portraited too. Anyway, all the elephants had their pictures, so I will show them one by one here.<br>The reason
        I haven't made this elephants yet is because both have been made already. The Hyderabad elephant made by
        Britains still can be bought, and the Mysore elephant was custom made for a few customers by my friend Bill
        Spear. Eventually, when collectors wouldn't be able to get them any more, I'll consider making them.
      </p>
      <div class="row">
        <div class="col-md-6">
          <img src="../../../assets/history/elephants/elephants-1.jpg">
          <p class="mt-3">The first elephants waiting in Queen's Street.</p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/elephants/elephants-2.jpg">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/history/elephants/elephants-3.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/elephants/elephants-4.jpg">
          <p class="mt-2">
            Elephants order, by pairs (right and left columns): <br /><u>1 - Hyderabad &ndash; Mysore</u><br><u>2 -
              Travancore</u>
            &ndash; Kashmir
          </p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/history/elephants/elephants-5.jpg">
          <p class="mt-2">Beau Geste - Travancore elephant (Set 200) Retired</p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/elephants/elephants-6.jpg">
          <p class="mt-2">Beau Geste - The Kashmir Elephant (Set 201) Retired</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/history/elephants/elephants-7.jpg">
        </div>
        <div class="col-md-6">
          <p>The Kashmir and Travancore elephants turning around the corner at the end of Chadni Chawk
            street (close to leaving the city).<br>This point had many photographers, since there are lots of shots from
            there. They are taken from a higher point, like a roof or a balcony. All I could find was a name of the
            building, the Footehpoorie Musjid, but no photographs. Eventually I will take pics during a future visit to
            Delhi <br>The elephants had already passed in front of the Main Hall, and were turning right towards Ahmad
            Pai.
            <br>A detail: check the lining troops on the right. They are a pipers band! They are among the future lining
            troops sets I want to add. On the other side of the street there was the whole band.
          </p>
        </div>
      </div>
      <div class="row mt-3">
        <p class="mt-2"><u>3 - Jaipur &ndash; Gwalior</u></p>
        <div class="col-md-4">
          <img src="../../../assets/history/elephants/elephants-8.jpg">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/history/elephants/elephants-9.jpg">
          <p class="mt-2">Beau Geste Jaipur elephant (Beau Geste Set 245) Retired</p>
        </div>
        <div class="col-md-4">
          <img src="../../../assets/history/elephants/elephants-10.jpg">
          <p class="mt-2">Beau Geste Gwalior elephant (Beau Geste Set 274)</p>
        </div>
      </div>
      <div class="row mt-3">
        <p><u>4 - Bundi &ndash; Indore</u></p>
        <div class="col-md-4">
          <img src="../../../assets/history/elephants/elephants-11.jpg">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/history/elephants/elephants-12.jpg">
          <p class="mt-2">Beau Geste Bundi elephant (Set 303)</p>
        </div>
        <div class="col-md-4">
          <img src="../../../assets/history/elephants/elephants-13.jpg">
          <p class="mt-2">Beau Geste Indore elephant (Set 215) Retired</p>
        </div>
      </div>
      <div class="row mt-3">
        <p><u>5 - Bikaner&ndash; Rewa</u></p>
        <div class="col-md-4">
          <img src="../../../assets/history/elephants/elephants-14.jpg">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/history/elephants/elephants-15.jpg">
          <p class="mt-2">Beau Geste Bikaner elephant (Set 361)</p>
        </div>
        <div class="col-md-4">
          <img src="../../../assets/history/elephants/elephants-16.jpg">
          <p class="mt-2">Beau Geste Rewa elephant (Set 424)</p>
        </div>
      </div>
      <div class="row mt-3">
        <p><u>6 - Kota &ndash; Orchha</u></p>
        <div class="col-md-6">
          <img src="../../../assets/history/elephants/elephants-17.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/elephants/elephants-18.jpg">
          <p class="mt-2">Beau Geste Kota Elephant (Set 373)</p>
        </div>
      </div>
      <div class="row mt-3">
        <p><u> 7 - Karauli &ndash; Datia</u></p>
        <div class="col-md-6">
          <img src="../../../assets/history/elephants/elephants-19.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/elephants/elephants-20.jpg">
          <p class="mt-2">Beau Geste Datia Elephant (Set 411)</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <p><u>8 - Jaisalmer &ndash; Dhar</u></p>
          <img src="../../../assets/history/elephants/elephants-21.jpg">
        </div>
        <div class="col-md-4">
          <p><u>9- Alwar &ndash; Dewas Senior </u></p>
          <img src="../../../assets/history/elephants/elephants-22.jpg">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/history/elephants/elephants-23.jpg">
          <p class="mt-2">Beau Geste Alwar Elephant (Set 190) Retired</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <p><u>10 - Tonk &ndash; Dewas Junior</u></p>
          <img src="../../../assets/history/elephants/elephants-24.jpg">
        </div>
        <div class="col-md-4">
          <p><u>11 - Sirohi &ndash; Samthar</u></p>
          <img src="../../../assets/history/elephants/elephants-25.jpg">
        </div>
        <div class="col-md-4">
          <p><u>12 - Jhalawar &ndash; Charkkhari</u><br><u>13 - Kolhapur &ndash; Rajgarh</u><br><u>14 - Narsingarh</u>
          </p>
          <img src="../../../assets/history/elephants/elephants-26.jpg">
        </div>
      </div>
      <div class="row mt-3">
        <p><u>15 - Sehr &amp; Mokalla &ndash; Patiala</u></p>
        <div class="col-md-6">
          <img src="../../../assets/history/elephants/elephants-27.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/elephants/elephants-28.jpg">
          <p class="mt-2">Beau Geste Patiala elephant (Set 87) Retired</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <p><u>16 - Sikkim &ndash; Bahawalpur </u><br><u>17 &ndash; Kuch Behar &ndash; Nabha</u></p>
          <img src="../../../assets/history/elephants/elephants-29.jpg">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/history/elephants/elephants-30.jpg">
          <p class="mt-2">Beau Geste's Sikkim elephant (Set 142) Retired
          </p>
        </div>
        <div class="col-md-4">
          <img src="../../../assets/history/elephants/elephants-31.jpg">
          <p class="mt-2">Beau Geste's Nabha elephant (Set 405)</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <p><u>18 &ndash; Hill Tippera &ndash; Jind</u><br><u>19 &ndash; Rampur &ndash; Kapurthala</u><br><u>20 &ndash;
              Benares &ndash; Sirmur</u></p>
          <img src="../../../assets/history/elephants/elephants-32.jpg">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/history/elephants/elephants-33.jpg">
          <p class="mt-2">Beau Geste's Jind elephant (Set 293)</p>
        </div>
        <div class="col-md-4">
          <img src="../../../assets/history/elephants/elephants-34.jpg">
          <p class="mt-2">Beau Geste's Kapurthala Elephant (Set 320)</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <p><u>21 &ndash; Tehri &ndash; Bansda<br></u><u>22 &ndash; Maler Kotla</u></p>
          <img src="../../../assets/history/elephants/elephants-35.jpg">
        </div>
        <div class="col-md-4">
          <p><u>23 &ndash; Limri &ndash; Faridkot</u></p>
          <img src="../../../assets/history/elephants/elephants-36.jpg">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/history/elephants/elephants-37.jpg">
          <p class="mt-2">Beau Geste's Faridkot elephant (Set 343)</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <p><u>24 &ndash; Janjira &ndash; Manipur<br>25 &ndash; Keng Tung &ndash; M&ouml;ng Nai </u></p>
          <img src="../../../assets/history/elephants/elephants-38.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
