<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 35</h2></div>
    <p class="mt-3">I wanted to share a few images of the making of the Charkkhari elephant that I forgot to include in my last chapter before getting into the sets that followed.
    </p>
    <div class="row mt-4">
      <div class="col-md-12">
        <img src="../../assets/beau-geste/chapter35/chapter35-1.jpg" alt="Camels from Cutch 1, Delhi Durbar, 1903.">
      </div>
    </div>
    <p class="mt-4">Following the Charkkhari group came a unique set. I fell in love with one of the digital copies bought from the British Library and I decided to make them in between elephants. I’ve always loved to include animals in our sets. Our oldest collectors surely remember the German officer in Africa mounted on a zebra, the Belgian dog machine carts, the Romanian bull, the Camel ambulance. All from WWI. This time I went for hunting dogs and hawks, from Nabha. One of my favorite sets.</p>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter35/chapter35-2.jpg" alt="Camels from Cutch 2, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 457 - Hawks and Dogs from Nabha, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter35/chapter35-3.jpg" alt="Beau Geste Set 457 - Hawks and Dogs from Nabha, Delhi Durbar, 1903.">
      </div>
    </div>
    <p class="mt-4">Then, it was time for a new elephant. I chose the State Elephant of Dewas Senior because the maharaja was a child of 14. The elephant went in 9th on the left column, beside the elephant of Alwar, in front of Tonk and Dewas Junior, and behind Dhar and Jaisalmer.
      <br>
      The sculpting presented a challenge due to the men standing at the sides of the howda. By this moment I was making the howdas in a way that they could be packed separate from the elephant itself, so the guys at the sides needed some thought about how they would be presented. The solution was to cut them by the waist, being the lower half of them attached to the elephant and the upper part, to the howda. It was elaborate to sculpt, and they turned out well.
    </p>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 458 -  State Elephant of Dewas Senior, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter35/chapter35-4.jpg" alt="Beau Geste Set 458 -  State Elephant of Dewas Senior, Delhi Durbar, 19033.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter35/chapter35-5.jpg" alt="Camels from Cutch 4, Delhi Durbar 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6 mt-4">
        <img src="../../assets/beau-geste/chapter35/chapter35-6.jpg" alt="Camels from Cutch 5, Delhi Durbar 1903.">
      </div>
      <div class="col-md-6 mt-4">
        <img class="mt-4" src="../../assets/beau-geste/chapter35/chapter35-7.jpg"
          alt="Camels from Cutch 6, Delhi Durbar 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 459 - Escort Guards from Dewas Senior, group left, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter35/chapter35-8.jpg"
          alt="Beau Geste Set 459 - Escort Guards from Dewas Senior, group left, Delhi Durbar, 1903.">
      </div>
        <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 460 - Escort Guards from Dewas Senior, group right, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter35/chapter35-9.jpg"
          alt="Beau Geste Set 460 - Escort Guards from Dewas Senior, group right, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 461 - Music Band from Dewas Senior, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter35/chapter35-10.jpg"
          alt="Beau Geste Set 461 - Music Band from Dewas Senior, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">The Dewas Senior group - Beau Geste Sets 458, 459, 460 and 461, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter35/chapter35-11.jpg"
          alt="Beau Geste Set 449 - Musicians on Camels from Cutch, Delhi Durbar, 1903.">
      </div>
    </div>
    <p class="mt-4">Dewas State was a territory within Western India, which was the seat of two Maratha princely states during the British Raj: 'Dewas Junior' and ‘Dewas Senior’. The two Rajas heading Dewas states both lived in separate residences in the town of Dewas, and ruled over separate areas. The Raja of Dewas Senior was HH Maharaja Sir TUKOJIRAO III KRISHNAJIRAO PUAR, born in 1888, and ruler from 1899. He turned 15 during the Durbar celebrations.</p>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter35/chapter35-12.jpg"
          alt="Dewas Senior’ Maharaja, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p>The photos of the making of</p>
        <img src="../../assets/beau-geste/chapter35/chapter35-13.jpg"
          alt="Dewas elephant, the making process, Delhi Durbar, 1903.">
      </div>
    </div>
  </div>
</div>
<app-print></app-print>

