<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 14</h2></div>
    <div class="pt-3">
      <p>
        I had never had to go through my photos as thoroughly as I have been doing lately due to the research for each
        chapter. And I found photos that I didn&apos;t remember I had. I found 3 pictures of the masters of the Jhodpur
        palanquin. I thought you&apos;d like to see them. Also, I found the first picture that we took of the Beau Geste
        staff. Just a few of us. Our staff grew and decreased through the years. Always the best people ever.
      </p>
      <div class="row mt-3">
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter14/chapter14-1.jpg"
            alt="Master of the Jhodpur palanquin. Delhi Durbar 1903.">
        </div>
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter14/chapter14-2.jpg"
            alt="Master of the Jhodpur palanquin 1. Delhi Durbar 1903.">
        </div>
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter14/chapter14-3.jpg"
            alt="Master of the Jhodpur palanquin 2. Delhi Durbar 1903.">
        </div>
        <div class="col-md-3 mt-2">
          <img src="../../../assets/beau-geste/chapter14/chapter14-4.jpg" alt="First Beau Geste staff">
          <p>The very first Beau Geste staff</p>
        </div>
      </div>
      <div class="row mt-3">
        <p>---------------------------------------------------------</p>
        <p>
          Going back to the sets. It was a time where we were hungry for photos of the Delhi Durbar. We wanted to add
          new sets to the line. Anything from India from that period was useful to us, since it is certain to assume
          that everybody was brought to the Delhi for the event. I found a (very bad) photocopy in the cabinets at the
          British Library. It was a group from Kashmir. The hats were amazing so we decided to make them. I found
          another photo of these guys later, researching about Kashmir online.</p>
      </div>
      <div class="row mt-3">
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter14/chapter14-5.jpg"
            alt="Master of the Jhodpur palanquin. Delhi Durbar 1903.">
        </div>
        <div class="col-md-2">
          <img src="../../../assets/beau-geste/chapter14/chapter14-6.jpg"
            alt="Master of the Jhodpur palanquin. Delhi Durbar 1903.">
        </div>
        <div class="col-md-4">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 216 - Kashmir Infantry, Jammu and
              Kashmir, Delhi Durbar 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter14/chapter14-7.jpg" alt="Beau Geste Set 216 - Kashmir Infantry, Jammu and
              Kashmir, Delhi Durbar 1903.">
        </div>
        <div class="col-md-3">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 216 - Kashmir Military Band, Jammu and
              Kashmir, Delhi Durbar 1903</a></p>
          <img src="../../../assets/beau-geste/chapter14/chapter14-8.jpg" alt="Beau Geste Set 216 - Kashmir Military Band, Jammu and
              Kashmir, Delhi Durbar 1903.">
        </div>
      </div>
      <div class="mt-3">
        <p>---------------------------------------------------------</p>
        <p>
          By then, the akali had been a great success. I found one of them, mounted on a pony, in one of Gertrude
          Bell&apos;s photos. Reviewing Menpes plates I found the color plate. We decided to make a couple of mounted
          akali, one set for each state from which we had already released the walking ones. They are a lovely lovely
          set. I like akali very much. They are warriors with such personality.
        </p>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter14/chapter14-9.jpg"
            alt="Master of the Jhodpur palanquin. Delhi Durbar 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter14/chapter14-10.jpg"
            alt="Master of the Jhodpur palanquin. Delhi Durbar 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter14/chapter14-11.jpg"
            alt="Master of the Jhodpur palanquin. Delhi Durbar 1903.">
        </div>
      </div>
      <div class="page-break"></div>
      <div class="row mt-3">
        <div class="col-md-6">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 218A - Akalis on pony from Patiala,
              Delhi Durbar 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter14/chapter14-12.jpg"
            alt="Beau Geste Set 218A - Akalis on pony from Patiala, Delhi Durbar 1903.">
        </div>
        <div class="col-md-6">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 218B - Akalis on pony from Jind, Delhi
              Durbar 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter14/chapter14-13.jpg" alt="Beau Geste Set 218B - Akalis on pony from Jind, Delhi
              Durbar 1903.">
        </div>
      </div>
      <div class="mt-3">
        <p>
          Years later I bought a wonderful photo from the BL that had 3 akali portrayed: one walking, one on pony, and
          one on the elephant. I fell in love with the picture. It is a beautiful photo, with much detail. No need to
          say that, many years later, I ended up making the akali on elephant. All of them from Patiala.
        </p>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter14/chapter14-14.jpg"
            alt="Akali on elephant from Patiala, Delhi Durbar 1903.">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter14/chapter14-15.jpg"
            alt="Akali on elephant from Patiala, Delhi Durbar 1903.">
        </div>
      </div>
      <div class="mt-3">
        <p>---------------------------------------------------------</p>
        <p>
          As most of you know by now, the music bands had become very popular by then. And the Retainers Review had SO
          many of them. The journalists and writers mention the music and the bands all the time. They represented a
          huge
          part of the event as well.<br />
          There are certain parts of the parades that were very much photographed, painted and described. One of those
          groups were the men on stilts from Cutch. Marlborough had made them already. Luckily for us, most pictures
          showed them followed by a palanquin and a wonderful band with silver instruments. Instruments that we had
          never
          made before, and that added uniqueness to the groups. No need to say how much we enjoyed making those.
        </p>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter14/chapter14-16.jpg" alt="Band from Cutch, Delhi Durbar 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter14/chapter14-17.jpg" alt="Band from Cutch, Delhi Durbar 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter14/chapter14-18.jpg" alt="Band from Cutch, Delhi Durbar 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter14/chapter14-19.jpg" alt="Band from Cutch, Delhi Durbar 1903.">
        </div>
        <div class="col-md-6">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 229 - Silver Horns&apos; Band from
              Cutch, Delhi Durbar 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter14/chapter14-20.jpg" alt="Beau Geste Set 229 - Silver Horns&apos; Band from Cutch,
              Delhi Durbar 1903.">
        </div>
      </div>
      <div class="mt-3">
        <p>
          What the press said about them</p>
        <p>
          <i><strong>Cutch: 10 Musicians</strong></i>
        </p>
        <p>
          <u>A Motley Army:</u><br />
          <i>'...and men in scarlet with immense silver trumpets.'</i>
        </p>
        <p>
          <u>Civil & Military Gazette 13/01:</u><br />
          <i>'
            The musicians blew penny trumpets, and big cudy horns and straight hugles like long stemmed funnels - all of
            silver.'</i>
        </p>
      </div>
      <div class="row mt-3">
        <p>---------------------------------------------------------</p>
        <p>
          And back to the showcase of my little treasures, here I bring you one of my stereoviews. The stereos are not
          difficult to find and not expensive to buy. Every now and then you can find a bunch in an auction. I really
          like them.
        </p>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <p>One of my stereos leaning on my elephant, for scale purposes.
          </p>
          <img src="../../../assets/beau-geste/chapter14/chapter14-21.jpg" alt="Stereoview,
              Delhi Durbar 1903.">
        </div>
        <div class="col-md-6">
          <p>The details.
          </p>
          <img src="../../../assets/beau-geste/chapter14/chapter14-22.jpg" alt="Stereoview,
              Delhi Durbar 1903.">
        </div>
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
