<div class="menu-section">
    <div class="menu-btn spaces-sets" [ngClass]="{'btn-green-active': isOpen}" (click)="toggle()">
    {{ section.title }}
    <span class="arrow">{{ isOpen ? '▾' : '▸' }}</span>
  </div>

  <div class="section-items" *ngIf="isOpen">
    <button
      *ngFor="let item of section.items"
      [routerLink]="item.routerLink"
      routerLinkActive="btn-green-active"
      [routerLinkActiveOptions]="{ exact: true }"
      [ngClass]="item.className">
      {{ item.label }}
    </button>
  </div>
</div>
