<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 36</h2></div>
    <p class="mt-3">
      Continuing with the history of the Delhi Durbar sets. After the Dewas Senior elephant came the Alwar Cavalry. This time, one of Menpes plates was incredibly beautiful and useful. I had a small photo of the horse alone too, oe of the digital copies from the British Library.
      <br>The horsemen look so beautiful, with those big white hair patches at the sides. I have to say that the sets look stunning.
    </p>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter36/chapter36-1.jpg" alt="Alwar&apos;s Cavalry 1, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter36/chapter36-2.jpg" alt="Alwar&apos;s Cavalry 2, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter36/chapter36-3.jpg" alt="Alwar&apos;s Cavalry 3, Delhi Durbar 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter36/chapter36-4.jpg" alt="Alwar&apos;s Cavalry 4, Delhi Durbar 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6 mt-4">
         <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 462 - Alwar&apos;s Cavalry, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter36/chapter36-5.jpg" alt="Beau Geste Set 462 - Alwar&apos;s Cavalry, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6 mt-4">
         <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 463 - Alwar&apos;s Mounted Band, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter36/chapter36-6.jpg"
          alt="Beau Geste Set 463 - Alwar&apos;s Mounted Band, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-12">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Sets 442 - 463 together, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter36/chapter36-7.jpg"
          alt="Beau Geste Sets 462 - 463 together, Delhi Durbar, 1903.">
      </div>
    </div>
    <!-- <div class="page-break"></div> -->
    <div class="row mt-4">
      <p>A few images of the making of</p>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter36/chapter36-8.jpg"
          alt="Beau Geste Set 462 - The making of, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter36/chapter36-9.jpg"
          alt="Beau Geste Set 463 - The making of, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter36/chapter36-10.jpg"
          alt="Beau Geste Sets 462 - 463 - The making of, Delhi Durbar, 1903.">
      </div>
       <p class="mt-3">These sets were released in May 2018 along with the Dewas Senior elephant.</p>
    </div>
    <p class="mt-4">---------------------------------------------------------</p>
    <p class="mt-4">And then the following elephant. One of my favorites for many reasons. The maharaja was superb. He sat alone on the howda&apos;s front. He was richly dressed and his jewelry was incredible. The reports said that the emerald hanging on his forehead was the size of a chicken egg. I also really like how the elephant&apos;s clothes turned out. The colors, the patterns. I definitely love it. Glad that so many of you already decided to include it in your collections.
      <br>The State Elephant of Bahawalpur walked on the left column of the Main Procession, beside the Sikkim elephant, behind Patiala and Sehr and Mokalla, and in front of Nabha and Cooch Behar.
    </p>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter36/chapter36-11.jpg"
          alt="State of Bahawalpur, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter36/chapter36-12.jpg"
          alt="State Elephant of Bahawalpur, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter36/chapter36-13.jpg"
          alt="State Elephant of Bahawalpur 1, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter36/chapter36-14.jpg" alt="State Elephant of Bahawalpur 2, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter36/chapter36-15.jpg" alt="State Elephant of Bahawalpur 3, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 464 - State Elephant of Bahawalpur, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter36/chapter36-16.jpg" alt="Beau Geste Set 464 - State Elephant of Bahawalpur, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 465 - Escort Guards from Bahawalpur, Group Left, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter36/chapter36-17.jpg" alt="Beau Geste Set 465 -  Escort Guards from Bahawalpur, Group Left, Delhi Durbar, 1903.">
        <div class="page-break"></div>
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 466 - Escort Guards from Bahawalpur, Group Right, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter36/chapter36-18.jpg" alt="Beau Geste Set 466 -  Escort Guards from Bahawalpur, Group Right, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 467 - Musicians and Servants from Bahawalpur, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter36/chapter36-19.jpg" alt="Beau Geste Set 466 -  Escort Guards from Bahawalpur, Group Right, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">The Bahawalpur Group: Beau Geste Sets 464, 465, 466 and 467, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter36/chapter36-20.jpg" alt="Beau Geste Set 466 -  Escort Guards from Bahawalpur, Group Right, Delhi Durbar, 1903.">
        <p class="mt-3">The group was released in September 2018.</p>
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <p>A few photos of the making of</p>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter36/chapter36-21.jpg" alt="State of Bahawalpur, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter36/chapter36-22.jpg" alt="State of Bahawalpur, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter36/chapter36-23.jpg" alt="State of Bahawalpur, Delhi Durbar, 1903.">
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
