<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 38</h2></div>
    <p class="mt-3">
      The following group of sets was the Sehr & Mokalla state. I released them in September 2019 and brought the sets to the Chicago show that year. It is a very colorful group, very unique and vivacious. The State Elephant of Sehr & Mokalla walked on the right column beside the Elephant of Patiala, both being 15° within the Main Procession.
    </p>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter38/chapter38-1.jpg" alt="The Imperial Cadet Corps 1, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter38/chapter38-2.jpg" alt="The Imperial Cadet Corps 2, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter38/chapter38-3.jpg" alt="Beau Geste Set 468 - The Imperial Cadet Corps, Delhi Durbar 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter38/chapter38-4.jpg" alt="Beau Geste Set 468 - The standard Cadet, Delhi Durbar 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
         <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 471 - State Elephant of Sehr & Mokalla, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter38/chapter38-5.jpg" alt="Beau Geste Set 468 - The Adjuntant, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 472 - Escort Guards from Sehr & Mokalla, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter38/chapter38-6.jpg"
          alt="Beau Geste Set 468 - Sir Prataph Singh, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 473 - Escort Guards from Sehr & Mokalla, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter38/chapter38-7.jpg"
          alt="Beau Geste Set 473 - Escort Guards from Sehr & Mokalla, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 474 - Musicians and Servants from Sehr & Mokalla, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter38/chapter38-8.jpg"
          alt="Beau Geste Set 474 - Musicians and Servants from Sehr & Mokalla, Delhi Durbar, 1903.">
      </div>
    </div>
     <div class="page-break"></div>
    <div class="row mt-3">
      <div class="col-md-12">
        <p><a href="https://www.beau-geste.com" target="_blank">The Sehr & Mokalla Group (Sets 471, 472, 473 and 474), Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter38/chapter38-9.jpg"
          alt="The Sehr & Mokalla Group (Sets 471, 472, 473 and 474), Delhi Durbar, 1903..">
      </div>
    </div>
    <p class="mt-4">The Makala group had always called my attention. I had a digital copy bought from the British Library for a group of their people, and with time I got more photos of the group, mainly thanks to my friend Bill. Flagbearers, Spearbearers, Standarbearers and Camel Riders. I had already made the soldiers, musicians and flagbearers, so I decided to complete the group with the two huge flagbearers, the unique spearers and the camelry.</p>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 475 - Camel Riders from Sehr & Mokalla, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter38/chapter38-10.jpg"
          alt="Beau Geste Set 475 - Camel Riders from Sehr & Mokalla, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 476 - Camel Riders from Sehr & Mokalla, Delhi Durbar, 1903.<br></a></p>
         <img src="../../assets/beau-geste/chapter38/chapter38-11.jpg"
          alt="Beau Geste Set 476 - Camel Riders from Sehr & Mokalla, Delhi Durbar, 1903.">
      </div>
    </div>
    <!-- <div class="page-break"></div> -->
    <div class="row mt-4">
      <div class="col-md-12">
        <img src="../../assets/beau-geste/chapter38/chapter38-12.jpg"
          alt="Beau Geste Set 470 - Elephant of the Aides-de-camps , Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter38/chapter38-13.jpg"
          alt="State Elephant of Bahawalpur, Delhi Durbar, 1903.">
      </div>
       <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter38/chapter38-14.jpg"
          alt="State Elephant of Bahawalpur, Delhi Durbar, 1903.">
      </div>
    </div>
    <!-- <div class="page-break"></div> -->
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 477 - Spear and Flagbearers from Sehr & Mokalla, Delhi Durbar, 1903.<br></a></p>
        <p>They can be seen before and after the camel riders in the photo above.</p>
        <img src="../../assets/beau-geste/chapter38/chapter38-15.jpg" alt="Beau Geste Set 477 - Spear and Flagbearers from Sehr & Mokalla, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p>The whole group taken in Chicago</p>
        <img src="../../assets/beau-geste/chapter38/chapter38-16.jpg" alt="Beau Geste Set 477 - Spear and Flagbearers from Sehr & Mokalla, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
       <p>Here are some pictures of the making</p>
        <img src="../../assets/beau-geste/chapter38/chapter38-17.jpg" alt="The making, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter38/chapter38-18.jpg" alt="The making 1, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter38/chapter38-19.jpg" alt="The making 2, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter38/chapter38-20.jpg" alt="The making 3, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter38/chapter38-21.jpg" alt="The making 4, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter38/chapter38-22.jpg" alt="The making 5, Delhi Durbar, 1903.">
        <p>The poor guy standing on the right side of the elephant can&apos;t hardly be seen in any photo. Here is a detail of him peaking from the other side  <span class="happy-face">
          <img src="../../assets/beau-geste/smiley-face-svg.png" alt="Beau Geste happy face">
        </span></p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <img src="../../assets/beau-geste/chapter38/chapter38-23.jpg" alt="The making 6, Delhi Durbar, 1903.">
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
