<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 7</h2></div>
    <div class="pt-3">
      <p>We continued looking for elephant photos since we wanted to focus on these. The internet was different by those
        years, and there weren&apos;t as many photos and stereoviews being offered and shared as today. Our collector
        took me to his local library, and we found a couple of books there, Menpes&apos; and Wheeler&apos;s. The first
        one mentioned an elephant he had seen in the Narsingharh camp, that had a boy astride its tusks, a golden howdah
        and red gold and red pompons. Our collector loved this idea and decided to go for a second elephant portraying
        the boy. We didn&apos;t have the program of the Retainers Review by then, so we didn&apos;t even know how many
        elephants each state had brought to the Durbar. Daniel looked around Menpes book for the inspiration of a howda,
        and he decided to use the general idea of one of the plates, which we didn&apos;t know which state it
        represented.
        Here is Menpes lovely color plate.
      </p>
      <div class="row mt-3">
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter7/chapter7-1.jpg">
          <p class="mt-3">I learned later that was the State Elephant of Limri.</p>
        </div>
        <div class="col-md-8">
          <p>
            When the master was ready, it was my turn to decide which way to go with the elephant&apos;s clothes design.
            In this case I didn&apos;t have any newspaper reference, nor photos, anything. One of the options was to use
            the colors that Menpes had chosen, but they seemed limited to me then. As a painter, he used the color he
            had at hand instead of the real one, except when the color was the most important feature. If you check his
            plates, you&apos;ll see predominant reds, yellows and greens. The right thing would probably have been to
            follow his colors, but for some reason I wanted our second elephant to be more colorful, having in mind that
            I didn&apos;t have photo nor written reference. I went for colors and patterns that I liked, and I was happy
            with the result. It is a very beautiful elephant.
          </p>
          <div class="row">
            <div class="col-md-6">
              <img src="../../assets/beau-geste/chapter7/chapter7-2.jpg">
            </div>
            <div class="col-md-6">
              <a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 100 – Narsinhgarh Elephant, Delhi
                Durbar, 1903.</a>
            </div>
          </div>
        </div>
        <p class="mt-3">As usual, the years brought so much information and we could find the State Elephant of
          Narsingharh, but I&apos;ll leave that to the chapter that features that elephant.
        </p>
      </div>
      <p>The other book, Wheeler&apos;s (History of the Delhi Coronation Durbar) showed so many pictures of the
        Retainers Review that we couldn&apos;t believe our luck. We could only take photocopies of the images we were
        interested
        on, but the high definition of the original photographs was amazing. Daniel loved the idea of making the
        horsemen
        standing on their saddles, so we decided they&apos;d be our next set.
        Here is the photocopy we used to make the set.
      </p>
      <div class="row">
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter7/chapter7-3.jpg">
        </div>
        <div class="col-md-6">
          <p>We decided to make a set with 2 horses. It was not the right decision, since they were really four and the
            collectors would have to buy 2 sets in order to have the parade correct. But they looked great!
          </p>
          <img src="../../assets/beau-geste/chapter7/chapter7-4.jpg" alt="Beau Geste Set 105 – Kishangarh Horsemen,
              Delhi Durbar, 1903.">
          <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 105 – Kishangarh Horsemen,
              Delhi Durbar, 1903.</a></p>
        </div>
      </div>
      <P>
        I got to get more photos during the years. Many years later, having in mind that this is one of our earlier
        sets, and as it happened with every part of the parade that was more noticeable than others, they got
        photographed a lot. Luckily. Here they are.
      </P>
      <div class="row">
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter7/chapter7-5.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter7/chapter7-6.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter7/chapter7-7.jpg">
        </div>
        <div class="col-md-6 mt-5">
          <p>
            The following set was another musicians group, a generic one that could fit anywhere.
          </p>
          <img src="../../assets/beau-geste/chapter7/chapter7-8.jpg"
            alt="Beau Geste Set 106 – Music Band Courtship, Delhi Durbar, 1903.">
          <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 106 – Music Band
              Courtship, Delhi Durbar, 1903.</a></p>
        </div>
        <p class="mt-3">I still plan to make the regular cavalry some day, and that beautiful mounted drummer in
          front, as long
          as the stunning officer. It&apos;s a promise <span class="happy-face">
            <img src="../../assets/beau-geste/smiley-face-svg.png">
          </span></p>
      </div>
      <p>Turn of another Delhi Durbar 1903 film. This one was taken in front of the Town Hall, while the elephants
        were walking along Chandni Chowk street. This time, the film portrays the whole Main Procession. It&apos;s
        one of my favorite films.
      </p>
      <div class="row mt-3">
        <div class="col-md-6 for-print">
          <img src="../../assets/beau-geste/chapter7/chapter7-9.jpg">
        </div>
        <div class="col-md-6 no-print">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/QIB54VPh7M8" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
          </iframe>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter7/chapter7-10.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter7/chapter7-11.jpg">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter7/chapter7-12.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter7/chapter7-13.jpg">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter7/chapter7-14.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter7/chapter7-15.jpg">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter7/chapter7-16.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter7/chapter7-17.jpg">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter7/chapter7-18.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter7/chapter7-19.jpg">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter7/chapter7-20.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter7/chapter7-21.jpg">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter7/chapter7-22.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter7/chapter7-23.jpg">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter7/chapter7-24.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter7/chapter7-25.jpg">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter7/chapter7-26.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter7/chapter7-27.jpg">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter7/chapter7-28.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter7/chapter7-29.jpg">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter7/chapter7-30.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter7/chapter7-31.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
