<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 19</h2></div>
    <div class="pt-3">
      <p>The set that followed this time was another elephant. The State Elephant of Kapurthala. I chose this elephant
        because of
        the great photos that I had, and mainly because there was a small boy in the howda, probably the maharaja&apos;s
        son.
      </p>
      <div class="page-break"></div>
      <div class="row mt-3">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 320 - State Elephant of Kapurthala, Delhi
            Durbar, 1903.</a></p>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter19/chapter19-1.jpg" alt="Beau Geste Set 303 - State Elephant of Kapurthala, Delhi
              Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter19/chapter19-2.jpg"
            alt="State Elephant of Kapurthala, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter19/chapter19-3.jpg"
            alt="State Elephant of Kapurthala, Delhi Durbar, 1903.">
        </div>
        <p class="mt-3">The color combination on this elephant is one of my favorites, I think it looks very beautiful.
        </p>
      </div>
      <div class="row mt-3">
        <p>Source images</p>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter19/chapter19-4.jpg"
            alt="State Elephant of Kapurthala, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter19/chapter19-5.jpg"
            alt="State Elephant of Kapurthala, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter19/chapter19-6.jpg"
            alt="State Elephant of Kapurthala, Delhi Durbar, 1903.">
          <p class="mt-3">The Kapurthala elephant walking along Chandni Chawk street.</p>
        </div>
      </div>
      <div class="mt-3">
        <p>For the process of this elephant I began making my own stamps for the clothes patterns. The detail looked so
          neat, and
          it was easy to paint. The only thing I wasn&apos;t happy about is that the design is never a negative pattern,
          the
          embroidery always has a volume in positive on the cloth. Eventually I could correct that on future elephants.
        </p>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter19/chapter19-7.jpg"
            alt="State Elephant of Kapurthala, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter19/chapter19-8.jpg"
            alt="State Elephant of Kapurthala, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter19/chapter19-10.jpg"
            alt="State Elephant of Kapurthala, Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter19/chapter19-9.jpg"
            alt="State Elephant of Kapurthala, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter19/chapter19-11.jpg"
            alt="State Elephant of Kapurthala, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter19/chapter19-12.jpg"
            alt="State Elephant of Kapurthala, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter19/chapter19-13.jpg"
            alt="State Elephant of Kapurthala, Delhi Durbar, 1903.">
        </div>
      </div>
      <p class="mt-3">---------------------------------------------------------</p>
      <p>More music bands and escort guards followed. This was the time of the Elephant of Travancore, and the Patiala
        musicians.
      </p>
      <div class="row mt-3">
        <div class="col-md-6">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 321 - Music Courtship from Patiala,
              Delhi Durbar, 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter19/chapter19-14.jpg"
            alt="Beau Geste Set 321 - Music Courtship from Patiala, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-6">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 325 - Escort Guards from Travancore,
              Group A, Delhi Durbar, 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter19/chapter19-15.jpg"
            alt="Beau Geste Set 325 - Escort Guards from Travancore, Group A, Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter19/chapter19-16.jpg"
            alt="Beau Geste Set 318 - Escort Guards from Gwalior, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter19/chapter19-17.jpg" alt="Beau Geste Set 319 - Music Band from Gwalior, Delhi
              Durbar, 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 326- Escort Guards from Travancore,
              Group B, Delhi Durbar, 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter19/chapter19-18.jpg"
            alt="Beau Geste Set 326- Escort Guards from Travancore, Group B, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 327 - Music Courtship from Travancore,
              Delhi Durbar, 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter19/chapter19-19.jpg"
            alt="Beau Geste Set 327 - Music Courtship from Travancore, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Sets 200, 325, 326 and 327 - The Travancore
              group, Delhi Durbar, 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter19/chapter19-20.jpg" alt="Delhi Durbar, 1903.">
        </div>
      </div>
      <p class="mt-3">---------------------------------------------------------</p>
      <p>Remember the last video that I posted? Well, my friend Bill enlightened me with his wisdom about its origin.
        The British
        Film Institute labeled the year incorrectly. It is in fact a film from 1912, when a pageant was held to honor
        the visit
        of King George V and Queen Mary to Calcutta. There were many elephants there too, as well as camel riders, flag
        bearers,
        horsemen and so much more.
        The filming equipment had been improved greatly by then probably, because the images are quite neater than in
        1903. It
        is always such a pleasure to see the magnificent elephants walking by. I wanted to share that with you too. If
        you are
        able to enjoy it at least a fraction of the joy it gave me you will be very happy today. Enjoy!
        <span class="happy-face">
          <img src="../../assets/beau-geste/smiley-face-svg.png" alt="Beau Geste happy face">
        </span>
      </p>
      <div class="row mt-3 no-print">
        <div class="col-md-6">
          <p>
            Here is the 1912 Calcutta pageant video.</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/MUZdYOxXyH4?si=h6pk8zJ-uxrU58zE"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="row mt-3 no-print">
        <div class="col-md-8">
          <p>
            The Calcutta 1912 colored film.</p>
          <iframe src="https://archive.org/embed/1912-delhi-durbar-kinemacolor" width="640" height="480" frameborder="0"
            webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
