<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 9</h2></div>
    <div class="pt-3">
      <p>Chapter 9 is in the house <span class="happy-face">
          <img src="../../assets/beau-geste/smiley-face-svg.png">
        </span> Continuing with Wheeler&apos;s book images, we went for the following
        set. Many of the images from the book can be found in the photo albums at the British Library, so the digital
        copies can be bought. In the same picture of the spear bearers&apos; set #113 were the Cutch flag bearers. Four
        of them carrying large two-points flags at the Retainers&apos; Review.
      </p>
      <div class="row mt-3">
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter9/chapter9-1.jpg"
            alt="The Retainers Review. The Cutch contingent.">
        </div>
        <div class="col-md-4">
          <img class="mt-3" src="../../../assets/beau-geste/chapter9/chapter9-2.jpg"
            alt="The Retainers Review. Cutch Flag Bearers.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter9/chapter9-3.jpg"
            alt="Beau Geste Set 117 – Cutch Flag Bearers, Delhi Durbar 1903">
          <p class="mt-2"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 117 – Cutch Flag Bearers,
              Delhi Durbar 1903.</a></p>
        </div>
      </div>
      <br />
      ---------------------------- <br />
      <p class="mt-3">
        The next set came completely out of this one. We used the same figure to make another band. People have always
        loved bands and it showed then too.
      </p>
      <div class="page-break"></div>
      <div class="row">
        <div class="col-md-12">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 118 - Cutch Music Courtship, Delhi
              Durbar, 1903.</a>
          </p>
          <img src="../../../assets/beau-geste/chapter9/chapter9-4.jpg"
            alt="Rewa&apos;s Baby Elephant. Delhi Durbar 1903.">
        </div>
      </div>
      <p class="mt-3">
        Next came the Sikkim guards. For the first time, researching online, we found a photo with a very high
        definition. It was stunning. We bought a digital copy from Corbis, and search throughout the photo for the
        possible sets to feature. The obvious choice was the elephant that we planned as our next elephant, but the
        guards going around the elephant (and in the howdah) deserved a special set for their own. It was also one of
        the first sets that we had the complete color palette set by one of Menpes&apos; plates. They were exotic
        (Sikkim was one of the countries invited to the Delhi Durbar and not one of India&apos;s states).
      </p>
      <div class="row">
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter9/chapter9-5.jpg"
            alt="Image taken from the Corbis digital copy. Delhi Durbar 1903.">
          <p class="mt-2">
            Here is the image taken from the Corbis digital copy.
          </p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter9/chapter9-7.jpg"
            alt="The Kunwa&apos;s tent - Sikkim camp. Delhi Durbar 1903.">
          <p class="mt-2">
            The Kunwa&apos;s tent - Sikkim camp.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter9/chapter9-8.jpg" alt="Menpes color plate. Delhi Durbar 1903.">
          <p class="mt-2">
            Menpes color plate.
          </p>
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter9/chapter9-9.jpg"
            alt="Beau Geste Set 121 - Soldiers of the Maharaja of Sikkim, Delhi Durbar, 1903.">
          <p class="mt-2">
            <a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 121 - Soldiers of the Maharaja of
              Sikkim, Delhi Durbar, 1903.</a>
          </p>
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter9/chapter9-10.jpg"
            alt="Beau Geste Set 121 - Soldiers of the Maharaja of Sikkim, Delhi Durbar, 1903.">
          <p class="mt-2">
            <a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 121 - Soldiers of the Maharaja of
              Sikkim, Delhi Durbar, 1903.</a>
          </p>
        </div>
      </div>
      <br />
      ---------------------------- <br />
      <p class="mt-3">
        Continuing with the Delhi Durbar films, I came across this one about a month ago and was absolutely delighted by
        it. Especially with the system they used to run it, and with the idea that there might be more of those out
        there. It was a Kinora picture reel.<br />
        This 1903 Delhi Durbar film is short, but full of details. You&apos;ll see there how much the howdahs on the
        elephants moved, shaking the people in them. Notice the fly whisks carried by the state elephant of Dewas
        Senior, and how the servants shook them up and down. <br />The Maharaja of Alwar sat down during this part of
        the
        trip. The elephant necklaces moved from side to side, probably with a clinking sound along with the bells,
        jingle bells and the rattles. The ornamental clothes hanging from the elephants’ ears danced from side to side.
        <br />At the back right, you see the elephants coming out from Khas Road, and turn left to go around de Jumma
        Masjid.
        As I said, such a delicious piece of history.
      </p>
      <div class="row mt-3">
        <div class="col-md-6 no-print">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/TzGr4Sh4-GQ" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
          </iframe>
        </div>
        <div class="col-md-6 for-print">
          <img src="../../../assets/beau-geste/chapter9/chapter9-11.jpg"
            alt="Film's point of view from. Delhi Durbar 1903.">
          <p class="mt-2">
            Film's point of view from.
          </p>
        </div>
      </div>
      <div class="row mt-3">
        <p>
          A few images with the identification of the elephants.
        </p>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter9/chapter9-12.jpg"
            alt="Elephants of Datia, Orchha, Karauli and Dhar, Delhi Durbar 1903.">
        </div>
        <div class="col-md-6">
          <img class="mt-3" src="../../../assets/beau-geste/chapter9/chapter9-13.jpg"
            alt="Elephants of Dewas Senior, Narsingharh, Jaisalmer and Dhar, Delhi Durbar 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter9/chapter9-14.jpg"
            alt="Elephants of Tonk, Dewas Senior and Alwar, Delhi Durbar 1903.">
        </div>
        <div class="col-md-6">
          <img class="mt-3" src="../../../assets/beau-geste/chapter9/chapter9-15.jpg"
            alt="Elephants of Sirohi, Samthar, Rajgarh and Jhalawar, Delhi Durbar 1903.">
        </div>
      </div>
      <p class="mt-3">
        "The Kinora was the first home movie entertainment system and was invented by Lumière in France in 1896. The
        rights were later purchased by the British Mutoscope & Biograph Company.<br />
        The Kinora is known as a flipper viewer. The filmed sequence of photographic images was attached to a reel which
        could then be rotated by a crank handle, animating the images. Kinora reels ran for approximately 30 seconds and
        could be purchased or rented for home use. Reels depicting family members could also be made at photographic
        studios, and from 1908 a camera was available for people to purchase to make their own Kinora home movies."
        <br />NFSA National Film and Sound Archive of Australia. <a href="https://www.nfsa.gov.au/latest/magical-kinora"
          target="_blank">https://www.nfsa.gov.au/latest/magical-kinora</a>
      </p>
      <p class="mt-3">
        "Basically, a miniature version of the mutoscope for home use, the Kinora worked very much like a flip book in
        the shape of a Rolodex. It used conventional monochrome photographic prints fixed to strong, flexible cards
        attached to a circular core. A reel revolved handle by turning a handle, making the pictures flip over against a
        static peg one by one. The moving pictures could be viewed through an eyepiece."
        <br />Wikipedia.
      </p>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter9/chapter9-16.jpg" alt="">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter9/chapter9-17.jpg" alt="">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter9/chapter9-18.jpg" alt="">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter9/chapter9-19.jpg" alt="">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter9/chapter9-21.jpg" alt="">
        </div>
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter9/chapter9-22.jpg" alt="">
        </div>
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter9/chapter9-23.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
