<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 42</h2></div>
    <p class="mt-3">
     Following with the history line, we got to the next elephant and group. The State Elephant of Hill Tippera. This is a stunning elephant when you see it in person, because of all the gold and silver in its clothes, and the unique howda, very intricately ornated.
      <br>The Hill Tippera elephant walked in 18º place on the right column beside the State Elephant of Jind, behind Cooch Behar and Nabha, and in front of Rampur and Kapurthala. Hill Tippera was a North-East princely state during the period of the British Raj, and two years after it ended. Today is the Tripura State
      <br>The group of sets was released in May 2021.
    </p>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-12">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 490 - State Elephant of Hill Tippera, Delhi Durbar, 1903.</a></p>
        <img src="../../assets/beau-geste/chapter42/chapter42-1.jpg" alt="Beau Geste Set 490 - State Elephant of Hill Tippera, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <img src="../../assets/beau-geste/chapter42/chapter42-2.jpg" alt="State elephant of Hill Tippera, Delhi Durbar 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 491 - Escort Guards from Hill Tippera, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter42/chapter42-3.jpg" alt="Beau Geste Set 491 - Escort Guards from Hill Tippera, Delhi Durbar 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 492 - Mace Bearers from Hill Tippera, Delhi Durbar, 1903.<br></a></p>
          <img src="../../assets/beau-geste/chapter42/chapter42-4.jpg" alt="Beau Geste Set 492 - Mace Bearers from Hill Tippera, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 493 - Music Band and Servants from Hill Tippera, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter42/chapter42-5.jpg" alt="Beau Geste Set 493 - Music Band and Servants from Hill Tippera, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">The Hill Tippera Group (Beau Geste sets 490, 491, 492 and 493), Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter42/chapter42-6.jpg" alt="The Hill Tippera Group (Beau Geste sets 490, 491, 492 and 493), Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
       <p>Pictures of the making of.</p>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter42/chapter42-7.jpg" alt="Beau Geste Set 488 - Mace and Spear Bearers from Maler Kotla, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter42/chapter42-8.jpg" alt="Beau Geste Set 489 - Parasol and Emblem Carriers from Maler Kotla, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <p>---------------------------------------------------------</p>
    <div class="page-break"></div>
      <p>Another Delhi Chapter. But before continuing with the following side of the Jumma Masjid, I wanted to add a photo that I found recently. During the celebrations there were fireworks in the land between the Red Fort and the Jumma Masjid, along Khas Road. This lovely photo shows the exact spot.
      </p>
      <div class="col-md-12">
        <img src="../../assets/beau-geste/chapter42/chapter42-9.jpg" alt="Beau Geste Sets 488 and 489 - Maler Kotla, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <p>Following the arrival of the Main Procession to the East entrance of the Jumma Masjid, the elephants turned left to walk all around the mosque. This chapter is about the first corner and the second side (the South entrance).</p>
      <div class="col-md-12">
        <img src="../../assets/beau-geste/chapter42/chapter42-10.jpg" alt="Parasol and Emblem Carriers from Maler Kotla, Delhi Durbar, 1903.">
      </div>
    </div>
    <!-- <div class="page-break"></div> -->
    <div class="row mt-4">
      <div class="col-md-12">
         <p>Beginning to turn around the Mosque, going to the first corner.</p>
         <img src="../../assets/beau-geste/chapter42/chapter42-11.jpg" alt="The Maler Kotla Group (Beau Gest Sets 484, 485, 486, 487, 488 and 489), Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
         <p>The South-East Corner. The lovely painting is Thomas Daniell&apos;s</p>
         <img src="../../assets/beau-geste/chapter42/chapter42-12.jpg" alt="Making the Maler Kotla group, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-12">
        <p class="mt-3">South Entrance as it looks today.</p>
        <img src="../../assets/beau-geste/chapter42/chapter42-13.jpg" alt="Making the Maler Kotla group 1, Delhi Durbar, 1903.">
         <p class="mt-3">South Entrance, early XX Century.</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
         <img src="../../assets/beau-geste/chapter42/chapter42-14.jpg" alt="Making the Maler Kotla group 2, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <img src="../../assets/beau-geste/chapter42/chapter42-15.jpg" alt="Map of the Delhi Durbar, 1903.">
        <p class="mt-3">The elephants coming from the first curve, about to walk in front of the South front.</p>
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
