<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="row">
      <div class="col-md-6">
        <p>
          Nestled amid the Aravali Hills, the princely state of Alwar is one of the most intriguing cities, credit to its
          majestic
          forts, the charming City Palace and colorful markets. The Alwar Kingdom is one of the oldest and the first Rajput
          states to join the British Empire. Being a part of the Matsya kingdom since the year 1000 A.D., Alwar is considered
          one
          of the most ancient cities in India.
        </p>
        <p>
          Formerly known as Ulwar, the history of Alwar is dated back to 1500 BC when it was a part of the Matsya territory of
          Viratnagar. Alwar is said to be the oldest kingdom of Rajasthan that came into existence about 3500 years ago.
          Rao Pratab Singh founded independent Alwar state. He worked in Jaipur Princely state and then joined British Imperial
          force as a soldier. He conquered Alwar fort and thereafter established his control over Alwar city. He assumed the title
          of Maharao Raja of Alwar and it remained a princely state till India’s independence. On 18th March 1948, the state
          accepted the offer to merge with the Union of India. In the beginning, it was merged with other three princely states,
          Bharatpur, Dholpur and Karauli to form Matsya division. On 15th May 1948, it was further merged with other princely
          states to form Ajmer state which later became a part of present day Rajasthan.
        </p>
      </div>
      <div class="col-md-6">
        <img src="../../../../assets/states/alwar/alwar-1.jpg" alt="Alwar map" class="img-fluid rounded"/>
      </div>
    </div>
    <div class="page-break"></div>
    <div class="mt-4">
      <u>Alwar at the Delhi Durbar of 1903</u>
      <p>
      Alwar arrived at Delhi with 400 guests, besides the retinues and servants. The state brought 9 elephants. The camps were
      located to the west of Delhi, outside the city. Here is a map of the camp, and I added a red star over the Jumma Masjid
      for reference.
      </p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img src="../../../../assets/states/alwar/alwar-2.jpg" alt="Alwar camp map" class="img-fluid rounded"/>
      </div>
    </div>
    <div class="row mt-4">
      <p>
        A Polo Tournament was held during the two weeks of the Delhi Durbar events. The Alwar team was the winner of the Polo
        Tournament Cup.
      </p>
      <div class="col-md-6">
        <img src="../../../../assets/states/alwar/alwar-3.jpg" alt="Alwar Polo Team" class="img-fluid rounded"/>
      </div>
      <div class="col-md-6">
        <img src="../../../../assets/states/alwar/alwar-4.jpg" alt="Alwar Polo Team 1" class="img-fluid rounded"/>
      </div>
    </div>
    <div class="row mt-4">
      <p>
        Alwar State Elephant was part of the Main Procession on December 29. It walked ninth on the right column, behind
        Jaisalmer and Dhar, beside Dewas Senior, and in front of Tonk and Dewas Junior.
      </p>
      <div class="col-md-12">
        <img src="../../../../assets/states/alwar/alwar-5.jpg" alt="Alwar State Elephant" class="img-fluid rounded"/>
      </div>
    </div>
    <div class="row mt-4">
      <p>These are the images we used to make our Alwar elephant set. The Maharaja Jai Singh Prabhakar was 21 years old in 1903.</p>
      <div class="col-md-12">
        <img src="../../../../assets/states/alwar/alwar-6.jpg" alt="Alwar State Elephant 1" class="img-fluid rounded"/>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <img src="../../../../assets/states/alwar/alwar-7.jpg" alt="Alwar State Elephant 2" class="img-fluid rounded"/>
      </div>
      <div class="col-md-4">
        <img src="../../../../assets/states/alwar/alwar-8.jpg" alt="Alwar State Elephant 3" class="img-fluid rounded"/>
      </div>
      <div class="col-md-4">
        <img src="../../../../assets/states/alwar/alwar-9.jpg" alt="Alwar State Elephant 4" class="img-fluid rounded"/>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../../../assets/states/alwar/alwar-10.jpg" alt="Alwar State Elephant 5" class="img-fluid rounded"/>
      </div>
      <div class="col-md-6">
        <img src="../../../../assets/states/alwar/alwar-11.jpg" alt="Alwar State Elephant 6" class="img-fluid rounded"/>
      <div class="row mt-4">
          <div class="col-md-6">
            <img src="../../../../assets/states/alwar/alwar-12.jpg" alt="Alwar State Elephant 7" class="img-fluid rounded"/>
          </div>
          <div class="col-md-6">
            <img src="../../../../assets/states/alwar/alwar-13.jpg" alt="Alwar State Elephant 8" class="img-fluid rounded"/>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img src="../../../../assets/states/alwar/alwar-14.jpg" alt="Alwar State Elephant 9" class="img-fluid rounded"/>
      </div>
      <div class="col-md-3">
        <img src="../../../../assets/states/alwar/alwar-15.jpg" alt="Alwar State Elephant 10" class="img-fluid rounded"/>
      </div>
      <div class="col-md-3">
        <img src="../../../../assets/states/alwar/alwar-16.jpg" alt="Alwar State Elephant 11" class="img-fluid rounded"/>
      </div>
      <div class="col-md-3">
        <img src="../../../../assets/states/alwar/alwar-17.jpg" alt="Alwar State Elephant 12" class="img-fluid rounded"/>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <img src="../../../../assets/states/alwar/alwar-18.jpg" alt="Alwar State Elephant 13" class="img-fluid rounded"/>
      </div>
      <div class="col-md-4">
        <img src="../../../../assets/states/alwar/alwar-19.jpg" alt="Alwar State Elephant 14" class="img-fluid rounded"/>
      </div>
      <div class="col-md-4">
        <img src="../../../../assets/states/alwar/alwar-20.jpg" alt="Alwar State Elephant 15" class="img-fluid rounded"/>
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <a href="https://www.beau-geste.com" target="_blank" rel="noopener noreferrer">Set Beau Geste 190 - State Elephant of Alwar, Delhi Durbar, 1903</a>
      <div class="col-md-6 mt-4">
        <img src="../../../../assets/states/alwar/alwar-21.jpg" alt="Alwar State Elephant 16" class="img-fluid rounded"/>
      </div>
      <div class="col-md-6 mt-4">
        <img src="../../../../assets/states/alwar/alwar-22.jpg" alt="Alwar State Elephant 17" class="img-fluid rounded"/>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../../../assets/states/alwar/alwar-23.jpg" alt="Alwar State Elephant 16" class="img-fluid rounded" />
      </div>
      <div class="col-md-6">
        <img src="../../../../assets/states/alwar/alwar-24.jpg" alt="Alwar State Elephant 17" class="img-fluid rounded" />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <a href="https://www.beau-geste.com" target="_blank" rel="noopener noreferrer">Set Beau Geste 290 - Escort Guards from Alwar, Delhi Durbar, 1903</a>
        <img src="../../../../assets/states/alwar/alwar-25.jpg" alt="Set Beau Geste 290 - Escort Guards from Alwar, Delhi Durbar, 1903" class="img-fluid rounded mt-4" />
      </div>
      <div class="col-md-6">
        <a href="https://www.beau-geste.com" target="_blank" rel="noopener noreferrer">Set Beau Geste 314 - Music Courtship from Alwar, Delhi Durbar, 1903</a>
        <img src="../../../../assets/states/alwar/alwar-26.jpg" alt="Set Beau Geste 314 - Music Courtship from Alwar, Delhi Durbar, 1903" class="img-fluid rounded mt-4" />
      </div>
    </div>
    <div class="mt-4">
      <p>
        The list that the official program mentioned is as follows. It was a reference list, since it was written before the
        events. Some numbers were not exact and there were retinues and contingents that were not mentioned.</p>
        <img src="../../../../assets/states/alwar/alwar-27.jpg" alt="Delhi Durbar 1903 - Program" class="img-fluid rounded"/>
      <p class="mt-4">
        The first of the groups to be reviewed is the Alwar's Carriage. It is one of the most commented participants, and one of
        the most impressive. Therefore it was our first Delhi Durbar set, the one who began the 1903 Delhi Durbar line. We
        couldn't be more proud of it.
        These are a few comments about it:</p>
        <img src="../../../../assets/states/alwar/alwar-28.jpg" alt="Alwar State Carriage" class="img-fluid rounded"/>
      <p class="mt-4">These are the photos that I could recollect through the years. The first photo is the only one that we counted on to
      make our carriage. Time brought us many many more.</p>
      <div class="row">
        <div class="col-md-12">
          <img src="../../../../assets/states/alwar/alwar-29.jpg" alt="Alwar State Carriage 2" class="img-fluid rounded"/>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-8">
          <img src="../../../../assets/states/alwar/alwar-30.jpg" alt="Alwar State Carriage 1" class="img-fluid rounded"/>
        </div>
        <div class="col-md-4">
          <img src="../../../../assets/states/alwar/alwar-31.jpg" alt="Alwar State Carriage 3" class="img-fluid rounded"/>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12">
          <img src="../../../../assets/states/alwar/alwar-32.jpg" alt="Alwar State Carriage 4" class="img-fluid rounded"/>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-8">
          <img src="../../../../assets/states/alwar/alwar-33.jpg" alt="Alwar State Carriage 5" class="img-fluid rounded"/>
        </div>
        <div class="col-md-4">
          <img src="../../../../assets/states/alwar/alwar-34.jpg" alt="Alwar State Carriage 6" class="img-fluid rounded"/>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-6">
          <img src="../../../../assets/states/alwar/alwar-35.jpg" alt="Alwar State Carriage 7" class="img-fluid rounded"/>
        </div>
        <div class="col-md-6">
          <img src="../../../../assets/states/alwar/alwar-36.jpg" alt="Alwar State Carriage 8" class="img-fluid rounded"/>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12">
          <img src="../../../../assets/states/alwar/alwar-37.jpg" alt="Alwar State Carriage 9" class="img-fluid rounded"/>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12">
          <img src="../../../../assets/states/alwar/alwar-38.jpg" alt="Alwar State Carriage 10" class="img-fluid rounded" />
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12">
          <img src="../../../../assets/states/alwar/alwar-39.jpg" alt="Alwar State Carriage 11" class="img-fluid rounded" />
        </div>
      </div>
      <div class="row mt-4">
        <p>A few pictures and plates outside the Durbar</p>
        <div class="col-md-6">
          <img src="../../../../assets/states/alwar/alwar-40.jpg" alt="Alwar State Carriage 12" class="img-fluid rounded" />
        </div>
        <div class="col-md-6">
          <img src="../../../../assets/states/alwar/alwar-41.jpg" alt="Alwar State Carriage 13" class="img-fluid rounded" />
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-6">
          <img src="../../../../assets/states/alwar/alwar-42.jpg" alt="Alwar State Carriage 14" class="img-fluid rounded" />
        </div>
        <div class="col-md-6">
          <img src="../../../../assets/states/alwar/alwar-43.jpg" alt="Alwar State Carriage 15" class="img-fluid rounded" />
        </div>
      </div>
      <div class="page-break"></div>
      <div class="row mt-4">
        <a href="https://www.beau-geste.com" target="_blank" rel="noopener noreferrer">Set Beau Geste 62 - The Alwar&apos;s Carriage, Delhi Durbar, 1903</a>
        <div class="col-md-6 mt-4">
          <img src="../../../../assets/states/alwar/alwar-44.jpg" alt="Alwar State Carriage 16" class="img-fluid rounded" />
        </div>
        <div class="col-md-6 mt-4">
          <img src="../../../../assets/states/alwar/alwar-45.jpg" alt="Alwar State Carriage 17" class="img-fluid rounded" />
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-6">
          <img src="../../../../assets/states/alwar/alwar-46.jpg" alt="Alwar State Carriage 18" class="img-fluid rounded" />
        </div>
        <div class="col-md-6">
          <img src="../../../../assets/states/alwar/alwar-47.jpg" alt="Alwar State Carriage 19" class="img-fluid rounded" />
        </div>
      </div>
    </div>
    <!-- end container -->
  </div>
</div>
<app-print></app-print>
