<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="row">
      <div class="col-md-6">
        <p>
          Continuing with the Alwar State, the program mentioned the following:
        </p>
      </div>
      <div class="col-md-6">
        <img src="../../../../assets/states/alwar2/alwar2-1.jpg" alt="Alwar program" class="img-fluid rounded" />
      </div>
    </div>
    <div class="mt-4">
      <p>
        We've already featured the Alwar's Carriage and the State Elephant with guards and bands. I will explain each of the
        mentions on this list one by one, and show the information and pictures that I have of them. Also, I'll add the photos
        of the Beau Geste sets that were made, based on this list. So here are the rest of the Alwar Contingent.
      </p>
      <p>
        <u><strong><h4>2 Elephants with Standard and Emblems</h4></strong></u>
        <u>Civil & Military Gazette 13/01:</u><br>
        <i>'2 Elephants with purple, green, yellow and white Standard and Emblem.'</i>
      </p>
      <div class="page-break"></div>
      <p>
        <u>Menpes</u><br>
        <i>... The Alwar group was particularly interesting from the artistic standpoint — warriors on elephants in old costumes,
        and everything out of date. They had worn these dresses all their lives, and one felt more in the Alwar State than in
        any other that this was the last time the
        men of the Orient would be seen by Westerners in these ancient garbs. Soon the old order would give place to new.</i>
      </p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img src="../../../../assets/states/alwar2/alwar2-2.jpg" alt="Alwar elephant with emblems" class="img-fluid rounded" />
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <p>
        <u><strong>
            <h4>31 Footmen with guns, spears and clubs</h4>
          </strong>
        </u>
        <u>Civil & Military Gazette 13/01:</u><br>
        <i>'... with guns, spears and clubs.'</i>
      </p>
      <div class="col-md-6">
        <img src="../../../../assets/states/alwar2/alwar2-3.jpg" alt="Alwar footmen with guns, spears and clubs" class="img-fluid rounded" />
      </div>
      <div class="col-md-6">
        <p>These guys are identified as Alwar&apos;s by Gertrude Bell. I have not identified any other of my pictures as belonging to
        this group.</p>
      </div>
    </div>
    <div class="row mt-4">
      <p>
        <u><strong>
            <h4>21 Armed Cavalry</h4>
          </strong>
        </u>
        <u>Civil & Military Gazette 13/01:</u><br>
        <i>'... with red and blue uniforms, and blue cloths.'</i>
      </p>
      <p>
        <u>Madras Times 09/01:</u><br>
        <i>'The Maharaja of Alwar&apos;s camelmen wore blue uniforms and yellow puggrees, and sat on crimson saddle cloths. There were
        golden sedan chairs and tom tom band, which played deafening tunes, while horses reared high in the air with their
        riders before the daïs.'</i>
      </p>
      <div class="col-md-6">
        <img src="../../../../assets/states/alwar2/alwar2-4.jpg" alt="Alwar&apos;s camelmen 1" class="img-fluid rounded" />
      </div>
      <div class="col-md-6">
        <img src="../../../../assets/states/alwar2/alwar2-5.jpg" alt="Alwar&apos;s camelmen 2" class="img-fluid rounded" />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../../../assets/states/alwar2/alwar2-6.jpg" alt="Alwar&apos;s camelmen 3" class="img-fluid rounded" />
      </div>
      <div class="col-md-6">
        <img src="../../../../assets/states/alwar2/alwar2-7.jpg" alt="Alwar&apos;s camelmen 4" class="img-fluid rounded" />
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <a href="https://www.beau-geste.com" target="_blank" rel="noopener noreferrer">Set Beau Geste 340 - Alwar Camel Riders,
          Delhi Durbar, 1903.</a><br/>
        <img src="../../../../assets/states/alwar2/alwar2-8.jpg" alt="Set Beau Geste 340 - Alwar Camel Riders, Delhi Durbar, 1903" class="img-fluid rounded mt-4" />
      </div>
      <div class="col-md-6">
        <a href="https://www.beau-geste.com" target="_blank" rel="noopener noreferrer">Set Beau Geste 341 - Alwar Camel Band, Kettledrummer and Horns, Delhi Durbar, 1903.</a><br/>
        <img src="../../../../assets/states/alwar2/alwar2-9.jpg" alt="Set Beau Geste 341 - Alwar Camel Band, Kettledrummer and Horns, Delhi Durbar, 1903" class="img-fluid rounded mt-4" />
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <a href="https://www.beau-geste.com" target="_blank" rel="noopener noreferrer">Set Beau Geste 342 - Alwar Camel Band, Winds Group, Delhi Durbar, 1903.</a><br/>
        <img src="../../../../assets/states/alwar2/alwar2-10.jpg" alt="Set Beau Geste 342 - Alwar Camel Band, Winds Group, Delhi Durbar, 1903"
          class="img-fluid rounded mt-4" />
      </div>
      <div class="col-md-6">
        <a href="https://www.beau-geste.com" target="_blank" rel="noopener noreferrer">Whole Camelry Group,
          Delhi Durbar, 1903</a><br/>
        <img src="../../../../assets/states/alwar2/alwar2-11.jpg" alt="Alwar State Elephant 6"
          class="img-fluid rounded mt-4" />
      </div>
    </div>
    <div class="row mt-4">
      <p>
        <u><strong>
            <h4>15 Caparisoned Horses</h4>
          </strong>
        </u>
        <u>Civil & Military Gazette 13/01:</u><br>
        <i>'...These pranced, curvetted and capered, and of those that capered he capered the highest who rode a white horse with
        reddened shanks and tail. But a brown horse walked past the Viceroy on its hind legs and hopped.'</i>
      </p>
      <p>
        <u>Pioneer Mail 16/01 / The Coronation Durbar:</u><br>
        <i>'Feats of horsemanship were given, riders backed their animals until they plunged and reared in startling fashion. The
        best performances of this kind were by two retainers from Alwar, their horses rising almost to the perpendicular.'</i>
      </p>
      <p>
        <u>A Motley Army:</u><br>
        <i>'The feats of horsemanship of some of the Alwar horsemen as they afterwards passed before the Viceroy, aroused the utmost
        enthusiasm.'</i>
      </p>
      <p>
        <u>Wheeler:</u><br>
        <i>... and several performimg horses, one of which passed the Daïs with a series of jumps on its hind legs. These animals
        were not taught these tricks for any circus purpose; they were schooled in olden times for direct use in warfare.'</i>
      </p>
      <div class="col-md-6">
        <img src="../../../../assets/states/alwar2/alwar2-12.jpg" alt="Caparisoned Horses 1"
          class="img-fluid rounded" />
      </div>
      <div class="col-md-6">
        <img src="../../../../assets/states/alwar2/alwar2-13.jpg" alt="Caparisoned Horses 2"
          class="img-fluid rounded" />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <img src="../../../../assets/states/alwar2/alwar2-14.jpg" alt="Caparisoned Horses 3"
          class="img-fluid rounded" />
      </div>
      <div class="col-md-4">
        <img src="../../../../assets/states/alwar2/alwar2-15.jpg" alt="Caparisoned Horses 4"
          class="img-fluid rounded" />
      </div>
      <div class="col-md-4">
        <img src="../../../../assets/states/alwar2/alwar2-16.jpg" alt="Caparisoned Horses 5"
          class="img-fluid rounded" />
      </div>
      <p class="mt-4">These horses are obvioulsy among our plans. I still have to figure out how to make the horses in two legs safe from
      breakages and bendings. We'll see.</p>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <p>
        <u><strong>
            <h4>10 Armed Horsemen</h4>
          </strong>
        </u>
        <u>Civil & Military Gazette 13/01:</u><br>
        <i>'...in mail, with spears and skin shields.'</i>
      </p>
      <div class="col-md-6">
        <img src="../../../../assets/states/alwar2/alwar2-17.jpg" alt="Armed Horsemen 1"
          class="img-fluid rounded" />
      </div>
      <div class="col-md-6">
        <p>Sheldon Williams sketch of these cavalrymen</p>
        <img src="../../../../assets/states/alwar2/alwar2-18.jpg" alt="Armed Horsemen 2"
          class="img-fluid rounded" />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../../../assets/states/alwar2/alwar2-19.jpg" alt="Armed Horsemen 3"
          class="img-fluid rounded" />
      </div>
      <div class="col-md-6">
        <img src="../../../../assets/states/alwar2/alwar2-20.jpg" alt="Armed Horsemen 4"
          class="img-fluid rounded" />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6 mt-6">
        <img src="../../../../assets/states/alwar2/alwar2-21.jpg" alt="Armed Horsemen 5"
          class="img-fluid rounded" />
      </div>
      <div class="col-md-6 mt-6">
        <p>Menpes plate of an Alwar's horseman</p>
        <img src="../../../../assets/states/alwar2/alwar2-22.jpg" alt="Menpes plate of an Alwar's horseman"
          class="img-fluid rounded" />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <a href="https://www.beau-geste.com" target="_blank" rel="noopener noreferrer">Set Beau Geste 462 - Alwar&apos;s Cavalry, Delhi Durbar, 1903.</a><br>
        <img src="../../../../assets/states/alwar2/alwar2-23.jpg" alt="Set Beau Geste 462 - Alwar&apos;s Cavalry, Delhi Durbar, 1903."
          class="img-fluid rounded mt-4" />
      </div>
      <div class="col-md-6">
        <a href="https://www.beau-geste.com" target="_blank" rel="noopener noreferrer">Set Beau Geste 463 - Alwar&apos;s
          Mounted Band, Delhi Durbar, 1903.</a><br>
        <img src="../../../../assets/states/alwar2/alwar2-24.jpg" alt="Set Beau Geste 463 - Alwar&apos;s Mounted Band, Delhi Durbar, 1903."
          class="img-fluid rounded mt-4" />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <a href="https://www.beau-geste.com" target="_blank" rel="noopener noreferrer">Both sets together, Delhi Durbar, 1903.</a><br/>
        <img src="../../../../assets/states/alwar2/alwar2-25.jpg"
          alt="Both sets together, Delhi Durbar, 1903." class="img-fluid rounded mt-4" />
      </div>
    </div>
    <div class="mt-4">
      <p>
        <u><strong>
            <h4>4 Elephants</h4>
          </strong>
        </u>
        <u>Madras Times 09/01:</u><br>
        <i>'An elephant carriage, drawn by four elephants guarded by mailed men, followed; next a dozen bullock carts decorated with
        red cloths, then a huge elephant with an enormous syren, and the audience simply rose.'</i>
      </p>
    </div>
    <div class="row mt-3">
      <p>---------------------------------------------------------</p>
      <p>These raths were not mentioned in the program, but the newspapers describe them as Alwar&apos;s, as well as a foot note in
      one of the British Library&apos;s albums. As the program was printed before the Retainer&apos;s Review, there might have been
      changes made for the day. There are many of these omissions on the program&apos;s pages.
      I am going to feature them in the Alwar&apos;s group, but I am not certain of that. They are so beautiful! They might be
      Rewa&apos;s as well. I&apos;ll let you know if I can confirm that in any way.
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="../../../../assets/states/alwar2/alwar2-26.jpg"
          alt="Bullock carts, Delhi Durbar, 1903" class="img-fluid rounded mt-4" />
      </div>
      <div class="col-md-6">
        <img src="../../../../assets/states/alwar2/alwar2-27.jpg" alt="Bullock carts 1, Delhi Durbar, 1903."
        class="img-fluid rounded" />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../../../assets/states/alwar2/alwar2-28.jpg" alt="Bullock carts 2, Delhi Durbar, 1903" class="img-fluid rounded" />
      </div>
      <div class="col-md-6">
        <img src="../../../../assets/states/alwar2/alwar2-29.jpg" alt="Bullock carts 3, Delhi Durbar, 1903."
          class="img-fluid rounded" />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <img src="../../../../assets/states/alwar2/alwar2-30.jpg" alt="Elephant with enormous syren, Delhi Durbar, 1903."
          class="img-fluid rounded" />
      </div>
    </div>
    <!-- end container -->
  </div>
</div>
<app-print></app-print>
