<footer>
  <div class="body-text content_box">
    <!-- <div class="container"> -->
    <div class="row text-center">
      <div class="col-md-3">
        <button class="inactive-button" (click)="openDialog()">
          WHO WE ARE
        </button>
      </div>
      <div class="col-md-3">
        <h5 class="m_15">
          EMAIL
        </h5>
        <h5><a href="mailto:info@beau-geste.com" class="mail_link">info@beau-geste.com</a></h5>
      </div>
      <div class="col-md-3">
        <h5 class="m_15">VISIT OUR WEBSITE</h5>
        <h5><a href="https://www.beau-geste.com" target="_blank">Beau-Geste.com</a></h5>
      </div>
      <div class="col-md-3">
        <button class="inactive-button" (click)="openSubscribe()">
          <div class="small-text">SUBSCRIBE TO OUR NEWSLETTER</div>
        </button>
      </div>
    </div>
    <div class="row text-center">
      <h5 class="mt-3">Beau-geste &copy; {{currentYear }}</h5>
    </div>
  </div>
</footer>
