<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 33</h2></div>
    <p class="mt-3">Following the Rajgarh Elephant I went for a group of wonderful camels that I&apos;d been wishing to
      make for a very long
      time. There are many many photos of them, they were mentioned in most reports about the Retainer&apos;s Review.
      Their colors
      and their standards were described in the books and newspapers. Here they are. The Emblem Carriers of Cutch.
      <br><br>
      About them:<br><br>
      <u>Wheeler:</u><br>
      <i>'Standard-bearers, mounted on camels, carried the banners of the rao of Cutch, one of which had been given to
        an
        ancestor
        by the Moghul Emperor Shah Alam, the other to the then Rao by Lord Lytton at the Imperial Assemblage in
        1877.<br>
        The entire Cutch procession was, indeed, faithfully reproduced from a painting in the procession of the Rao,
        which
        depicts the ceremonies practiced by his ancestors.'</i><br><br>
      <u>Madras Times, January 8:</u><br>
      <i>'The most striking features were the flags and the emblems of Cutch carried on camels and elephants, and armed
        men
        on stilts.'</i><br><br>
      <u>Printed Program, item 3:</u><br>
      <i><strong>'3) 12 Camels with musicians, standards and guns.'</strong></i><br><br>
      <u>Civil & Military Gazette, January 13:</u><br>
      <i>'The camels carried two men each and were clothed in red trappings with swivel guns atop. The musicians blew
        penny
        trumpets, and big cudy horns and straight hugles like long stemmed funnels - all of silver.'</i><br><br>
      <u>Menpes:</u><br>
      <i>'Men on camels dressed in vermilion turbans carried salmon-and-gold banners surmounted by golden emblems. These
        banners and emblems played an important part all through the procession, and added their quota of colour and
        brilliance. They had been presented by the
        Mogul Emperors, our friend in salmon informed us, and acted as a stimulus to remind the various States that they
        formed
        part of the Mogul Empire.'</i><br><br>

      <u>A Motley Army:</u><br>
      <i>'but you noticed camel-men in red with violet turbans;'</i><br><br>

    </p>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter33/chapter33-1.jpg" alt="Camels from Cutch 1, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter33/chapter33-2.jpg" alt="Camels from Cutch 2, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter33/chapter33-3.jpg" alt="Camels from Cutch 3, Delhi Durbar 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter33/chapter33-4.jpg" alt="Camels from Cutch 4, Delhi Durbar 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12 mt-4">
        <img src="../../assets/beau-geste/chapter33/chapter33-5.jpg" alt="Camels from Cutch 5, Delhi Durbar 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6 mt-4">
        <img class="mt-4" src="../../assets/beau-geste/chapter33/chapter33-6.jpg"
          alt="Camels from Cutch 6, Delhi Durbar 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 446 - Emblem Carriers on Camels from
            Cutch, Fish and Lizard, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter33/chapter33-7.jpg"
          alt="Beau Geste Set 446 - Emblem Carriers on Camels from Cutch, Fish and Lizard, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 447 - Emblem Carriers on Camels from
            Cutch, Fish and Bird, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter33/chapter33-8.jpg"
          alt="Beau Geste Set 447 - Emblem Carriers on Camels from Cutch, Fish and Bird, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 448 - Emblem Carriers on Camels from
            Cutch, Small Flags, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter33/chapter33-9.jpg"
          alt="Beau Geste Set 448 - Emblem Carriers on Camels from Cutch, Small Flags, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 449 - Musicians on Camels from Cutch,
            Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter33/chapter33-10.jpg"
          alt="Beau Geste Set 449 - Musicians on Camels from Cutch, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">The Cutch Camel Standard Bearers, Beau Geste Sets 446,
            447, 448 and 449, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter33/chapter33-11.jpg"
          alt="Beau Geste Set 446 - Emblem Carriers on Camels from Cutch, Fish and Lizard, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter33/chapter33-12.jpg"
          alt="Emblem Carriers on Camels from Cutch, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p>A few pictures of the masters</p>
        <img src="../../assets/beau-geste/chapter33/chapter33-13.jpg"
          alt="State Elephant of Rajgarh, Delhi Durbar, 1903.">
      </div>
    </div>
    <p class="mt-4">---------------------------------------------------------</p>
    <p>A short note to let you know that I&apos;m in the middle of making the backdrop sets. They will be metal, thin,
      mainly flat, with some kind of relief. So many things to think about. I can&apos;t make them in the right scale
      since they were actually around 20 feet from the elephants, but the displays on the collectors shelves don&apos;t
      reflect the real scale. They are meant to be placed at the back of the elephants&apos; parade and spectators, and
      they have to look as if they are at a distance. There will be trees too, and street lights. And more people.<br>So
      far, the drawings look awesome, and the sculptures are coming out beautifully. I don&apos;t have pictures to share now
      but
      I will have some final photos soon, probably by the end of July.<br>Here are some of the pictures that I am using
      as inspiration.</p>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter33/chapter33-14.jpg" alt="Background, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter33/chapter33-15.jpg" alt="Background 1, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter33/chapter33-16.jpg" alt="Background 2, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter33/chapter33-17.jpg" alt="Background 4, Delhi Durbar, 1903.">
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
