<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 13</h2></div>
    <div class="pt-3">
      <p>It was 2006 and the Delhi Durbar elephants began to become popular. So we decided to release two elephants
        together for the Chicago show. Daniel worked so hard for the show that year. We brought two brand new elephants
        that September: the State Elephant of Travancore, which I featured in my last newsletter, and the State Elephant
        of Kashmir. <br />
        We brought the backdrop that we used for the previous show and exhibited a small Durbar
        parade at our room. I still have the file of the backdrop image to share with those who&apos;d like to print and
        use it. It&apos;s a 17 years old image, I imagine that it could be much improved by someone who has the skill to
        work with images. Feel free to ask for it if you want it and I will email it to you.
      </p>
      <div class="row mt-3">
        <p>Chicago Toy Soldier Show - September 2006</p>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter13/chapter13-1.jpg"
            alt="Chicago Toy Soldier Show - September 2006.">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter13/chapter13-2.jpg"
            alt="Chicago Toy Soldier Show - September 2006.">
        </div>
      </div>
      <div class="page-break"></div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter13/chapter13-3.jpg"
            alt="Chicago Toy Soldier Show - September 2006.">
        </div>
        <div class="col-md-6">
          <p> <a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 201 - State Elephant of Kashmir, Delhi
              Durbar 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter13/chapter13-4.jpg"
            alt="Beau Geste Set 201 - State Elephant of Kashmir, Delhi Durbar 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <p>These are the photos we used to make it.</p>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter13/chapter13-5.jpg"
            alt="State Elephant of Kashmir, Delhi Durbar 1903.">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter13/chapter13-6.jpg"
            alt="State Elephant of Kashmir, Delhi Durbar 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <p>---------------------------------------------------------</p>
        <p>The following set was very special to me. It was a lady&apos;s band from Hyderabad, and I had been wanting to
          make it for a long time. Daniel went for it. We only had one photo. Which we used to make the set.</p>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <p>Hyderabad Ladies Band</p>
          <img src="../../../assets/beau-geste/chapter13/chapter13-7.jpg"
            alt="State Elephant of Kashmir, Delhi Durbar 1903.">
        </div>
        <div class="col-md-6">
          <p> <a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 209 - Ladies Band of the Nizam of
              Hyderabad, Delhi Durbar 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter13/chapter13-8.jpg" alt="Beau Geste Set 209 - Ladies Band of the Nizam of
              Hyderabad, Delhi Durbar 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <p>---------------------------------------------------------</p>
        <p>By this time I was already buying digital copies from the British Library regularly. There was a very neat
          photograph that showed a bunch of men, soldiers and musicians. They were from Sehr & Mokalla. I really liked
          their picture specially because they seemed relaxed and having fun. There was no discipline, and they were
          talking to one another and laughing.
        </p>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter13/chapter13-9.jpg" alt="Delhi Durbar 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter13/chapter13-10.jpg" alt="Delhi Durbar 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter13/chapter13-11.jpg" alt="Delhi Durbar 1903.">
        </div>
      </div>
      <div class="page-break"></div>
      <div class="row mt-3">
        <div class="col-md-6">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 211 - Troops of the Sultan of Makala,
              Sehr & Mukalla, Delhi Durbar 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter13/chapter13-12.jpg"
            alt="Beau Geste Set 211 - Troops of the Sultan of Makala, Sehr & Mukalla, Delhi Durbar 1903.">
        </div>
        <div class="col-md-6">
          <p> <a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 212 - Music band from Makala, Sehr &
              Mukalla, Delhi Durbar 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter13/chapter13-13.jpg"
            alt="Beau Geste Set 212 - Music band from Makala, Sehr & Mukalla, Delhi Durbar 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <p>This is what the newspapers and books said about them.</p>
        <p>
          <u> Pioneer Mail - January 16.</u>
          <br />
          <i>&apos;The Coronation Durbar:
            Sher and Makullah sent Arab and African irregulars, very picturesque figures indeed in their crude
            colours
            and head-dresses but little known in Upper India.&apos;</i>
        </p>
        <p>
          <u>A Motley Army</u><br />
          <i>&apos;Nor have readers learned, perchance, of the followers of that Arabian potentate, the Sultan of Shehr
            and
            Makalla, tattered cavalry and infantry in scarlet with yellow facings and the hooded headgear of the desert,
            carrying old muskets, rusty shields, and quaint tomtoms.&apos;</i>
        </p>
        <p>1) 46 Arab irregulars</p>
        <p>
          <u>Madras Times - January 8.</u><br />
          <i>&apos;The Sultan of Sher and Mokalla sent Arab African Irregulars, who danced past the Viceroy to music to
            their own
            instruments.&apos;</i>
        </p>
        <p>2) 29 Africans and musicians</p>
        <p>
          <u>Civil & Military Gazette - January 13.</u>
          <br />
          <i>
            &apos;They were black as ink and wore uniforms of dull red and yellow, and they carried long damascus guns
            and silver powder horns. In front was a green and red silk flag. They danced in time as they went and the
            musicians blew furiously on tin whistles and wore thick English boots.&apos;
          </i>
        </p>
      </div>
      <div class="row mt-3">
        <p>---------------------------------------------------------</p>
        <p>The next one was another elephant. A British collector contacted us asking if we could make an elephant
          from the Durbar for him. We accepted, with the usual condition of being able to release it within our
          regular line afterwards. It was the State Elephant of Indore. Stunning if you ask me. One of the most
          popular throughout our history.</p>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <p> <a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 215 - State Elephant of Indore, Delhi
              Durbar 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter13/chapter13-14.jpg"
            alt="Beau Geste Set 215 - State Elephant of Indore, Delhi Durbar 1903.">
        </div>
        <div class="col-md-8">
          <div class="row">
            <p>These are the photos of the real elephant.</p>
            <div class="col-md-6">
              <img src="../../../assets/beau-geste/chapter13/chapter13-15.jpg" alt="Delhi Durbar 1903.">
            </div>
            <div class="col-md-6">
              <img src="../../../assets/beau-geste/chapter13/chapter13-16.jpg" alt="Delhi Durbar 1903.">
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <p>---------------------------------------------------------</p>
        <p>I want to share with you some of my &apos;treasures&apos;. I don&apos;t own many real photos but I managed to
          buy a few along the years. I don&apos;t have the money to buy most of the ones offered for sale, I mainly
          depend on the generosity of my friends who share scans or photos of their acquisitions with me. But every now
          and then I find a piece that I can afford. This is one of the few.<br />
          I just wanted to show you how they actually look, the scale and the definition of the images.
          Here is the first one, my glass slide of the state elephant of Rewa, standing at the side of Queen&apos;s
          Road, waiting for the parade to begin.<br />
          I took a photo of the slide leaning on one of my elephants for you to see the scale.
        </p>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter13/chapter13-17.jpg" alt="Delhi Durbar 1903.">
        </div>
        <div class="col-md-6">
          <p>Wrongly labelled as Baroda.</p>
          <img src="../../../assets/beau-geste/chapter13/chapter13-18.jpg" alt="Delhi Durbar 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter13/chapter13-19.jpg" alt="Delhi Durbar 1903.">
        </div>
        <div class="col-md-6">
          <p>The detail is absolutely incredible!</p>
          <img src="../../../assets/beau-geste/chapter13/chapter13-20.jpg" alt="Delhi Durbar 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <p>And this is the format of the digital images that I buy from the British Library. The files are large, and
          they come in TIFF format.</p>
        <div class="col-md-6">
          <p></p>
          <img src="../../../assets/beau-geste/chapter13/chapter13-21.jpg" alt="Delhi Durbar 1903.">
        </div>
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
