<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 1</h2></div>
    <div class="pt-3">
      <p>I have been wanting to do something for some time now, and I decided to share it with you. Many collectors ask
        for the history behind the Delhi Durbar 1903 line. I still decided to write a book, or a booklet about the
        subject, but I seem to never find the time to do it. So I decided to write it in short chapters, set by set,
        with all the research and the story behind every piece. I will share the chapters with you monthly or every few
        weeks. This is a very peculiar historical period, a very short time frame of an event that was unique, a
        festival that was planned for years to show the unlimited richness and the splendid pomp of India at the
        beginning of the XX Century.
        <br />
        We began making miniatures in 1982. Our first line was called Donzino & Donzino, and we featured Ancient and
        Medieval periods in metal miniatures, in 65 mm, museum quality. We opened our bookstore in downtown Buenos Aires
        in 1985. We sold books about uniformology, military vehicles, planes, ships and modelling. We switched to toy
        soldier making in 1999, beginning with French Foreign Legion (Beau Geste is the name of a novel about a FFL
        soldier), then going to Napoleonics, and World War I mainly. We sold our lines at the shop.
        <br />Among the collectors visiting us there was one who wanted to know if we&apos;d make pieces from the
        Delhi Durbar for him. <br />As usual Daniel said that we could do anything (
        <span class="happy-face">
          <img src="../../assets/beau-geste/smiley-face-svg.png" alt="Beau Geste happy face">
        </span>
        ) so we began researching about the period, accepting to make figures
        of the Delhi Durbar for the collector if we could release them as a
        standard line within Beau Geste.
        Of course we said yes, so the research began.<br />
        Daniel spent many hours online until he found Gertrude Bell&apos;s website,
        with all her photos, among which the India 1903 was a special chapter.
        Our collector got very excited with this new information, and he chose
        the Alwar&apos;s Carriage as his first commission.
      </p>
      <div class="row">
        <div class="col-md-6">
          <p>This was the only picture that we
            had from it. No more detail, no way of getting a larger and neater image. So we had to
            figure out by ourselves. </p>
          <img src="../../assets/beau-geste/Alwars-carriage-small.jpg" alt="Alwar&apos;s carriage. Delhi Durbar 1903.">
        </div>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/beau-geste-Alwar-carriage-small.jpg"
            alt="Alwar&apos;s carriage. Beau Geste set 62-63-64. Delhi Durbar 1903.">
          <p>This is the first Delhi Durbar set we ever made, the Alwar&apos;s Carriage, set 62-63-64.
            <a href="https://www.beau-geste.com" target="_blank">Click here to see the set in our
              Beau Geste site.</a>
          </p>
        </div>
      </div>
      <div class="fleft">
        I&apos;ve always taken my own photographs and my camera was far from capable of
        portraying the real beauty by then. Those who have the set can speak that.
        We made 27 pieces so far. It is a complicated set to expose, and even so
        much more to make. It takes a lot of space and it is relatively heavy.
        But it is definitely worth it. We learned later that it was in the Retainers&apos; Review
        and probably in the second group of elephants at the Main Procession
        although there&apos;s not many pictures of it there. Journalists, photographers and writers
        described in detail the first part of the parades, and left completely uncovered
        the rest; about 70% of the carriages, elephants, soldiers, bands and the never ending
        list of participants weren&apos;t photographed nor described. They were far too many.
        Here is a picture of the master of the elephant, and the sketches that Daniel made when he was modelling the
        piece.
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="../../assets/beau-geste/master-elephant.jpg" alt="Elephant sculpture. Delhi Durbar 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../assets/beau-geste/sketch1.jpg" alt="Alwar&apos;s carriage sketch. Delhi Durbar 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../assets/beau-geste/sketch2.jpg" alt="Alwar&apos;s carriage other sketch. Delhi Durbar 1903.">
        </div>
      </div>
      <div class="fleft">
        With the years I came across many more photographs that I post below.
        I have to say that we did an incredible job with the little that we had
        <span class="happy-face">
          <img src="../../assets/beau-geste/smiley-face-svg.png">
        </span>
      </div>
      <div class="clear-both"></div>
      <div class="row">
        <div class="col-md-4">
          <img src="../../assets/beau-geste/alwars-1.jpg" alt="Alwar&apos;s Elephant. Delhi Durbar 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../assets/beau-geste/alwars-2.jpg" alt="Alwar&apos;s Carriage. Delhi Durbar 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../assets/beau-geste/alwars-3.jpg" alt="Alwar&apos;s Elephant and Carriage. Delhi Durbar 1903.">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"><img src="../../assets/beau-geste/alwars-4.jpg"
            alt="Alwar&apos;s Elephant and Carriage. Delhi Durbar 1903.">
        </div>
        <div class="col-md-4"><img src="../../assets/beau-geste/alwars-5.jpg"
            alt="Alwar&apos;s Elephant and Carriage. Delhi Durbar 1903.">
        </div>
        <div class="col-md-4"><img src="../../assets/beau-geste/alwars-6.jpg"
            alt="Alwar&apos;s Elephant and Carriage. Delhi Durbar 1903.">
        </div>
      </div>
      <div class="page-break"></div>
      <div class="row">
        <div class="col-md-4"><img src="../../assets/beau-geste/alwars-7.jpg"
            alt="Alwar&apos;s Elephant and Carriage. Delhi Durbar 1903.">
        </div>
        <div class="col-md-4"><img src="../../assets/beau-geste/alwars-8.jpg"
            alt="Alwar&apos;s Elephant and Carriage. Delhi Durbar 1903.">
        </div>
        <div class="col-md-4"><img src="../../assets/beau-geste/alwars-9.jpg"
            alt="Alwar&apos;s Elephant and Carriage. Delhi Durbar 1903.">
        </div>
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
