$text-color: var(--text-color);
$hover-color: var(--hover-color);
$brown: var(--brown);
$green: var(--green);
$light-green: var(--light-green);
$dark-green: var(--dark-green);
$green-more-dark: var(--green-more-dark);
$yellow: var(--yellow);

img {
  margin: 20px 0px;
}

a {
  color: $text-color;
  text-decoration: underline;
}

