<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title">
      <h2>Chapter 47</h2>
    </div>
    <p class="mt-3">
      By October 2023 our next elephant was the State Elephant of Kolhapur. I had a few pictures of it, and I made the most of
      them.
    </p>
    <div class="row mt-4">
      <div class="col-md-12">
        <img src="../../assets/beau-geste/chapter47/chapter47-1.jpg"
          alt="State Elephant of Kolhapur, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-12">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 513 - State Elephant of Kolhapur, Delhi
            Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter47/chapter47-2.jpg"
          alt="Beau Geste Set 513 - State Elephant of Kolhapur, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 514 - Morchal Bearers from Kolhapur, Delhi
            Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter47/chapter47-3.jpg"
          alt="Beau Geste Set 514 - Morchal Bearers from Kolhapur, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 515 -Escort Guards from Kolhapur,
            Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter47/chapter47-4.jpg"
          alt="Beau Geste Set 515 -Escort Guards from Kolhapur, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 516 - Musicians and Servants from Kolhapur, Group
            Right, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter47/chapter47-5.jpg"
          alt="Beau Geste Set 516 - Musicians and Servants from Kolhapur, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">The Kolhapur Group (Beau
          Geste Sets 513, 514, 515 and 516), Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter47/chapter47-6.jpg"
          alt="The Kolhapur Group (Beau Geste Sets 513, 514, 515 and 516), Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <p>---------------------------------------------------------</p>
      <p>I decided to check in the Official Program to see if I could add more sets to the group. This is what I found:
      <p>
        120 infantry<br>
        <u>Civil & Military Gazette 13/01:</u><br>
        <i>... 120 Infantry in red</i><br>
      </p>
      <p>
        <u>A Motley Army:</u><br>
        <i>the smart irregular infantry of Kolhapur</i>
        <br>
      </p>
      <p>
        <u>Pioneer Mail 16/01 / The Coronation Durbar:</u><br>
        <i>... and infantry in green with red paggris followed, a band with European instruments playing march music.
        </i>
      </p>
      <p>
        So I made them to complete the group
      </p>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 517 - Irregular Infantry from Kolhapur,
            Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter47/chapter47-7.jpg"
          alt="Beau Geste Set 517 - Irregular Infantry from Kolhapur, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 518 - Military Band from Kolhapur,
            Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter47/chapter47-8.jpg" alt="Beau Geste Set 518 - Military Band from Kolhapur, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-12">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Sets 517-518,
            Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter47/chapter47-9.jpg" alt="Beau Geste Sets 517-518, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 519 - Irregular Mounted Lancers from Kolhapur, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter47/chapter47-10.jpg" alt="Beau Geste Set 519 - Irregular Mounted Lancers from Kolhapur, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 520 - Trumpets and Cymbals, Irregular Mounted Lancers from Kolhapur,
            Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter47/chapter47-11.jpg" alt="Beau Geste Set 520 - Trumpets and Cymbals, Irregular Mounted Lancers from Kolhapur, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-12">
        <p><a href="https://www.beau-geste.com" target="_blank">All Infantry and Cavalry together (Beau Geste sets 517, 518, 519 and 520),
            Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter47/chapter47-12.jpg" alt="All Infantry and Cavalry together (Beau Geste sets 517, 518, 519 and 520), Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <p><a href="https://www.beau-geste.com" target="_blank">The whole Kolhapur Group, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter47/chapter47-13.jpg"
          alt="The whole Kolhapur Group, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <p>
        At this point, I'm completely sure that this 'Kolhapur' elephant is in fact Narsingharh's. That means that the
        'Narsingharh' Elephant that I made in September 2016 is actually Kolhapur's. As I made them both, it's no big deal
        really. I just wanted you to be aware of that. As I don't have any official proof of that, this is just off the record
        <span class="happy-face">
          <img src="../../assets/beau-geste/smiley-face-svg.png" alt="Beau Geste happy face">
        </span>
        <br>
        Unfortunately, for some reason, I forgot to take pictures of the making of process. My apologies for that.
      </p>
    </div>
    <div>
      <p>---------------------------------------------------------</p>
      <p>
        Following the Delhi Main Procession Route, we got to the point where the elephants arrived at the end of Chandni Chawk and turned right, marching to take Queen's Road one more time. There is a mosque at this point, the Footehpoorie Masjid,
        from where most of the photographs were taken for this spot. Lots of people congregated in this corner, as you can see
        in the pictures from 1903. Nowadays, it's even more crowded <span class="happy-face">
          <img src="../../assets/beau-geste/smiley-face-svg.png" alt="Beau Geste happy face">
        </span>
      </p>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <img src="../../assets/beau-geste/chapter47/chapter47-14.jpg" alt="Elephant&apos;s route 1, Delhi Durbar, 1903.">
      </div>
      <p class="mt-3">The red star shows the Clock Tower in the far distance, and the festive line of flags that decorated across the street,
      in front of the Town Hall</p>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <img src="../../assets/beau-geste/chapter47/chapter47-15.jpg" alt="Elephant&apos;s route 2, Delhi Durbar, 1903.">
        <p class="mt-3">In this case, the red star is the Fatehpoori Masjid today</p>
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
