<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text mt-3">
    <div class="chapter_title">The Main Procession. Part 1</div>
    <div class="pt-2 ms-2">
      <p>The proceedings opened on December 29, 1902, and the viceroy and his royal guests were received
        at the train station within the city, and then conducted a parade of elephants through the city streets and then
        out through a gate. The guests included royals from almost all of the princely states of India, including
        Maharajahs, Rajahs, Nawabs, and other minor chiefs.
      </p>
      <div class="row">
        <div class="col-md-6">
          <img src="./../../../assets/history/13.webp" alt="Station Platform">
          <p class="mt-2">Station Platform</p>
          <img class="mt-2" src="./../../../assets/history/main-procession1/main-proc1-2.webp" alt="Lord Curzon&apos;s elephant">
          <p class="mt-2">Lord Curzon&apos;s elephant </p>
        </div>
        <div class="col-md-6">
          <img src="./../../../assets/history/main-procession1/main-proc1-1.webp" alt="Lord and Lady Curzon at the Station, on their elephant">
          <p class="mt-2"> Lord and Lady Curzon at the Station, on their elephant </p>
          <p>This picture was a main source for me when I made the 4 elephants of the
            Aides-de-camps.
            They are standing at the Station entrance, waiting for the Curzons&apos; elephant to go by.
          </p>
          <img src="./../../../assets/history/main-procession1/main-proc1-3.webp" alt="The Durbar Route">
          <p class="mt-2"> The Durbar Route</p>
        </div>
      </div>
      <div class="row">
        <p>The State Entry and the Elephant Procession was perhaps in itself the most striking and to
          the Western mind the most impressive spectacle. The flower of Indian Nobility mounted on magnificent
          elephants
          resplendent in cloth of gold, with rich saddle cloths laden with priceless embroidery almost sweeping the
          ground on their side.
        </p>
      </div>
      <div>
        <img src="./../../../assets/history/main-procession1/main-proc1-4.webp" alt="The Maharajas elephants at Queen&apos;s Road">
        <p class="mt-2">The Maharajas elephants at Queen&apos;s Road, outside the train station, waiting for the Main
          Procession to begin
        </p>
        <p>Here is where the elephants waited for Curzon&apos;s elephant to lead the Procession.
          They
          must have been there a while until it began. This was a great spot to take pictures of the elephants, still
          without their maharajas and standing still, not walking. I have a few shots taken from this particular
          stage. One in particular was a glass slide that I bought, from the Rewa elephant, that I used for the last
          elephant I made.
        </p>
        <img src="./../../../assets/history/main-procession1/main-proc1-5.webp" alt="Elephants standing in order">
        <p class="mt-2">This is the larger file that I could upload. The original image is way more neat than
          this. I enclose a detail below. The elephants were standing in the order that they went in each column,
          right column on the right side of the street, left column on the left, as you&apos;ll see in the picture
          above.
          Rewa was on the left column, fifth in order. At his side in Quen&apos;s Street, before Rewa, was Indore, and
          after him in the left column was Orchha. The servants that you see closer belong to this last elephant. The
          guy with the earring, to the left of the elephant clothes, was the one standing outside the howdah, to the
          left of the maharaja. The one by the trunk was one of the guards. Check the elephant picture and you&apos;ll
          see
          what I&apos;m talking about.
        </p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="mt-2"> The neatness of this photographs is very inspiring at the time of sculpting.
          </p>
          <img src="./../../../assets/history/main-procession1/main-proc1-7.webp" alt="A detail of the elephant&apos;s earrings and clothes">
          <p class="mt-2">A detail of the elephant&apos;s earrings and clothes</p>
        </div>
        <div class="col-md-6">
          <img src="./../../../assets/history/main-procession1/main-proc1-6.webp"
            alt="Beau Geste sets 423-424-425-426-427 - The Rewa Group, Delhi Durbar 1903.">
          <p class="mt-2">
            Beau Geste sets 423-424-425-426-427 - The Rewa Group, Delhi Durbar 1903.
          </p>
        </div>
      </div>
      <div>
        <p class="text-center">--------------------------------------------------------------</p>
        <p>Here and there a trunk waved a fan or curved upwards as if saluting. Howdahs of every pattern
          were to be seen, high and low, long and short, silvered over or bedizened with gold, balanced on the broad
          backs, draped in yellow and red, purple and blue and green. Long silver chains depended on either side of
          the
          massive heads and made a musical jingle at every step. Men with maces marched alongside in some instances,
          and
          attendants held bright-coloured umbrellas over the heads of the Chiefs, who sat in every attitude in their
          howdahs.
        </p>
        <p>Fifty elephants were invited to participate in the Main Procession. But they were Fourty
          Eight indeed.<br>The Gaekwar of Baroda could not attend until a couple of days later because of the death of
          the Maharani, the wife of the later Gaekwar. The elephant of Cutch had to be separated from the rest close
          to
          the beginning, because the elephant went mad and didn&apos;t follow any orders. Finally, the Maharaja of
          Udaipur
          arrived 2 days later because of the illness of his son.</p>
        <br>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="./../../../assets/history/main-procession1/main-proc1-8.webp" alt="The Main Procession walking along Queen&apos;s Road">
          <p class="mt-2">The Main Procession walking along Queen&apos;s Road </p>
        </div>
        <div class="col-md-6">
          <img src="./../../../assets/history/main-procession1/main-proc1-9.webp" alt="The Procession turning the corner at Queen&apos;s Road towards Elgin Road">
          <p class="mt-2">The Procession turning the corner at Queen&apos;s Road towards Elgin Road </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="./../../../assets/history/main-procession1/main-proc1-10.webp" alt="Khas Road">
          <p class="mt-2">Khas Road, the path that the elephants took to cross the Champ de Mars, the space between
            the Red Fort and the Jumma Masjid </p>
        </div>
        <div class="col-md-6">
          <p class="mt-3">
            All the Retinue elephants, from all the states (166 in total) stood side by side along the
            side of Elgin Road, in front of the Red Fort, and saluted the Main Procession as the elephants passed.
            When the head elephants (6 with aides-de camps, 1 for Lord and Lady Curzon and 1 for the Duke and Duchess
            of Connaught) and the 48 Maharajas turned into Khas Road, the Retinues elephants prepared to follow them
            in their way through Delhi. <br>
            As the head of the elephant procession passed, there came slowly and in duly regulated order the highest
            nobility of India, in all the glory and pomp that our imaginations have ever pictured. His Highness the
            Nizam
            and the Maharaja of Mysore led, the Maharajas of Travancore, and Kashmir coming next, and we were soon
            deep
            in
            admiration at the display of the gold and silver howdahs, sumptuous clothes, richly embroidered, the sheen
            of
            jewels, the bright colours of turbans and apparel and the kaleidoscopic effects that were revealed as the
            procession skirted the Jama Musjid
          </p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="./../../../assets/history/main-procession1/main-proc1-11.webp" alt="The Main Procession beginning their turn around the Jumma Masjid">
          <p class="mt-2">The Main Procession beginning their turn around the Jumma Masjid. </p>
        </div>
        <div class="col-md-6">
          <img src="./../../../assets/history/main-procession1/main-proc1-12.webp" alt="The first turn of the Procession.">
          <p class="mt-2">
            The first turn of the Procession. The Red Fort at the distance.
          </p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="./../../../assets/history/main-procession1/main-proc1-13.webp" alt="The Champs de Mars, crowded in the Main Procession morning.">
          <p class="mt-2">
            The Champs de Mars, crowded in the Main Procession morning.
          </p>
        </div>
        <div class="col-md-6">
          <img src="./../../../assets/history/main-procession1/main-proc1-14.webp" alt="The Procession from the back, at the first corner of the Jumma Masjid.">
          <p class="mt-2">
            The Procession from the back, at the first corner of the Jumma Masjid.
          </p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="./../../../assets/history/main-procession1/main-proc1-15.webp" alt="The last 4 elephants of the Main Procession: Janjira, Manipur, Keng Tung and M&ouml;ng Nai">
          <p class="mt-2">The last 4 elephants of the Main Procession: Janjira, Manipur, Keng Tung and M&ouml;ng Nai
            (the Shan states)
          </p>
        </div>
        <div class="col-md-6">
          <img src="./../../../assets/history/main-procession1/main-proc1-16.webp" alt="One of the spectators point of view, in Khas Road.">
          <p class="mt-2">
            One of the spectators point of view, in Khas Road.
          </p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="./../../../assets/history/main-procession1/main-proc1-17.webp" alt="">
          <p class="mt-2">
            The head of the Retinues Procession, in front of the Jumma Masjid. The Baby Elephant from Rewa is going in
            front.
          </p>
        </div>
        <div class="col-md-6">
          <img src="./../../../assets/history/main-procession1/main-proc1-18.webp" alt="">
          <p class="mt-2">More Retainers by the Jumma Masjid.</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="./../../../assets/history/main-procession1/main-proc1-19.webp" alt="">
          <p class="mt-2">The Retainers at the first turn. The elephant of the executioner of Rewa is the closest to
            the camera.</p>
        </div>
        <div class="col-md-6">
          <img src="./../../../assets/history/main-procession1/main-proc1-20.webp" alt="">
        </div>
      </div>
      <p class="text-center">--------------------------------------------------------------</p>
      <p>After the route around the Jumma, the elephants went towards Delhi&apos;s main street, the famous Chadni
        Chawk.
      </p>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="./../../../assets/history/main-procession1/main-proc1-21.webp" alt="">
        </div>
        <div class="col-md-6">
          <img src="./../../../assets/history/main-procession1/main-proc1-22.webp" alt="">
          <p class="mt-2">Chadni Chawk street</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="./../../../assets/history/main-procession1/main-proc1-23.webp" alt="">
          <p class="mt-2">
            The Main Procession passing in front of the Town Hall: Orchha, Kotah, Datia and Karauli.
          </p>
        </div>
        <div class="col-md-6">
          <p class="mt-3">
            The Durbar itself was held on January 1, 1903, in a large amphitheater on the plain beyond the Ridge at
            Delhi; the site of the Imperial Assemblage of 1877. The 1903 Durbar was one of the finest spectacles India
            had
            ever seen during the Colonial rule - the parade of the Native Retainers at the Coronation Durbar. Dunlop
            Smith
            turned what many Englishmen expected to be shambles into a magnificent spectacle. The Native Princes were
            delighted that he had shown their pageantry to such good effect.
          </p>
          <img src="./../../../assets/history/main-procession1/main-proc1-24.webp" alt="">
          <p class="mt-2">The Retainers Procession in front of the Town Hall </p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="./../../../assets/history/main-procession1/main-proc1-25.webp" alt="">
          <p class="mt-2">The Main Procession in Chadni Chawk </p>
        </div>
        <div class="col-md-6">
          <img src="./../../../assets/history/main-procession1/main-proc1-26.webp" alt="">
          <p class="mt-2">The official elephants at the end of Chadni Chawk St. </p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="./../../../assets/history/main-procession1/main-proc1-27.webp" alt="">
          <p class="mt-2">The Procession turning at the end of Chadni Chawk St.</p>
        </div>
        <div class="col-md-6">
          <img src="./../../../assets/history/main-procession1/main-proc1-28.webp" alt="">
          <p class="mt-2">The Procession towards the city gates. </p>
        </div>
      </div>
      <p class="text-center">-----------------------------------------------------------------------</p>
      <p>The Durbar included sports, music and competitions and a review of 34,000 troops. An investiture, a state
        ball, the biggest display of Indian arts and crafts ever assembled and a very popular review of a delegation
        of retainers from some of the states were further highlights of the event.<br>
        The event was entitled the &apos;Native chief&apos;s retainers review&apos; and attracted considerable press
        interest in both
        India and Britain.
      </p>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="./../../../assets/history/main-procession1/main-proc1-29.webp" alt="">
          <p class="mt-2">The elephants leaving the city.</p>
        </div>
        <div class="col-md-6">
          <img src="./../../../assets/history/main-procession1/main-proc1-30.webp" alt="">
          <p class="mt-2">The official elephants outside the city, at the saluting point. </p>
          <img src="./../../../assets/history/main-procession1/main-proc1-31.webp" alt="">
          <p class="mt-2">The Retainers at the saluting point, leaving towards their camps. </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
