<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 32</h2></div>
    <p class="mt-3">The following sets in the Durbar line conformed a beautiful mounted group from Bundi. I wanted to
      add more more sets
      from that state, and a couple of photos had enough information to make the group. Two photos showed these
      interesting
      guys.
    </p>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter32/chapter32-1.jpg"
          alt="State Elephant of Narsingharh, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter32/chapter32-2.jpg"
          alt="Beau Geste Set 430 - State Elephant of Narsingharh, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 439 - Bundi Elite Cavalry, Officer with
            Parasol Bearer and Servant, Delhi Durbar 1903.</a></p>
        <img src="../../assets/beau-geste/chapter32/chapter32-3.jpg"
          alt="Beau Geste Set 439 - Bundi Elite Cavalry, Officer with Parasol Bearer and Servant, Delhi Durbar 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 440- Elite Cavalry from Bundi, Delhi
            Durbar 1903.<br></a></p>
        <img class="mt-4" src="../../assets/beau-geste/chapter32/chapter32-4.jpg"
          alt="Beau Geste Set 440- Elite Cavalry from Bundi, Delhi Durbar 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6 mt-4">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 441- Elite Cavalry Musicians from Bundi,
            Delhi Durbar 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter32/chapter32-5.jpg"
          alt="Beau Geste Set 441- Elite Cavalry Musicians from Bundi, Delhi Durbar 1903.">
      </div>
      <div class="col-md-6 mt-4">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Sets 439. 440 and 441 - Elite Cavalry from
            Bundi, Delhi Durbar 1903.<br></a></p>
        <img class="mt-4" src="../../assets/beau-geste/chapter32/chapter32-6.jpg"
          alt="Beau Geste Sets 439. 440 and 441 - Elite Cavalry from Bundi, Delhi Durbar 1903.">
      </div>
    </div>
    <p class="mt-4">---------------------------------------------------------</p>
    <p class="mt-3">
      At this point, I came to a turning point for Beau Geste, and our Delhi Durbar Line. I felt that I couldn&apos;t
      focus on as
      many subjects as we had been making so far. World War one, French Foreign Legion, Napoleonics and XVIII and XIX
      Centuries. Each subject deserved time and dedication, research and sculpting, that I couldn&apos;t give them any
      more. My
      personal research has always been the Delhi Durbar from 1903, and I was feeling that my interest should be
      directed only
      that way. So my decision was to make only Delhi Durbar sets from then and on. And to sell directly to collectors
      myself.
      Most of you know that I am always in touch with the Delhi Durbar followers, you have asked as many questions as
      you
      liked, made comments and added opinions and suggestions. I share with you all my research and my plans. That
      couldn&apos;t
      happen through retailers. And that was the kind of closeness I was aiming for. I knew that was what I wanted to
      follow
      my line, and that was the right path for me. <br>
      So the next release was the first group on the limited editions. I wanted to make only a few sets of each, to
      cover all
      my collectors and their needs, and then focus on a new idea and following release. The first elephant of the
      limited
      editions was the State Elephant of Rajgarh. I put all my effort in the sculpture. But my main incentive was that I
      was
      going to paint all the elephants myself. I had always been limited in the past, thinking on a kind of task that
      didn&apos;t
      go beyond my painters&apos; skills. From now on, the only limit would be me. So I went for all the detail I always
      wanted.
      ALL. It was such a pleasure for me to be able to paint with the intricacy I&apos;ve always wished. There was no
      limit any
      more. Any color, any pattern, any design.<br>
      The Rajgarh elephant is an example of this. It is one of my favorites, specially being the first one that I design
      to
      make myself from the beginning to the end. It is as colorful and detailed as I planned it to be, and I LOVED the
      result.
      It was such a joy to make, and still is a pleasure for me to make it.
    </p>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 442 - State Elephant of Rajgarh, Delhi
            Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter32/chapter32-7.jpg"
          alt="Beau Geste Set 442 - State Elephant of Rajgarh, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6 mt-4">
        <img class="mt-5" src="../../assets/beau-geste/chapter32/chapter32-8.jpg"
          alt="State Elephant of Rajgarh, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-4">
        <img class="mt-4" src="../../assets/beau-geste/chapter32/chapter32-9.jpg"
          alt="State Elephant of Rajgarh 1, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6 mt-4">
        <img src="../../assets/beau-geste/chapter32/chapter32-10.jpg"
          alt="State Elephant of Rajgarh 2, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <p class="mt-3">The Rajgarh elephant in the middle. Kolhapur at its right and Narsingharh following both</p>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter32/chapter32-11.jpg"
          alt="State elephant of Kolhapur it this right, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter32/chapter32-12.jpg"
          alt="State elephant of Rajgarh in the middle, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter32/chapter32-13.jpg"
          alt="State elephant of Narsingharh following both, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 443 - Escort Guards from
            Rajgarh, Group Right, Delhi Durbar, 1903.<br /></a>
          <img class="mt-3" src="../../assets/beau-geste/chapter32/chapter32-14.jpg"
            alt="Beau Geste Set 443 - Escort Guards from Rajgarh, Group Right, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 444 - Escort Guards from
            Rajgarh, Group Left, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter32/chapter32-15.jpg"
          alt="Beau Geste Set 444 -  Escort Guards from Rajgarh, Group Left, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 445 - Mace Bearers and Musicians from
            Rajgarh,
            Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter32/chapter32-16.jpg" alt="Beau Geste Set 445 - Mace Bearers and Musicians from Rajgarh,
            Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Sets 442, 443, 444 and 445 - The Rajgarh
            Group, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter32/chapter32-17.jpg"
          alt="Beau Geste Sets 442, 443, 444 and 445 -  The Rajgarh Group, Delhi Durbar, 1903.">
      </div>
    </div>
    <p class="mt-4">It also was the first elephant of which I photographed the whole sculpting process. Here are a few
      of the dozens of
      photos that I took. For all of you who enjoy the pictures of the making path.</p>
    <div class="row">
      <div class="col-md-12">
        <img class="mt-4" src="../../assets/beau-geste/chapter32/chapter32-18.jpg"
          alt="State elephant of Rajgarh, sculpting process, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter32/chapter32-19.jpg"
          alt="British Library, albums with photographs of Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter32/chapter32-20.jpg"
          alt="State elephant of Rajgarh, sculpting process, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter32/chapter32-21.jpg"
          alt="State elephant of Rajgarh, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter32/chapter32-22.jpg"
          alt="State elephant of Rajgarh, sculpting process 1, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter32/chapter32-23.jpg" alt="Spectators 2, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter32/chapter32-24.jpg" alt="Spectators 3, Delhi Durbar, 1903.">
      </div>
    </div>
    <p class="mt-4">---------------------------------------------------------</p>
    <div class="row mt-4">
      <div class="col-md-12">
        <p>I wanted to share some pictures of the last elephant release too. The State Elephant of Tonk. I didn’t share
          any when I
          announced the new sets so here are a few shots of the making of the masters.</p>
        <img src="../../assets/beau-geste/chapter32/chapter32-25.jpg" alt="State Elephant of Tonk, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter32/chapter32-26.jpg" alt="State Elephant of Tonk, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter32/chapter32-27.jpg" alt="State Elephant of Tonk 1, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter32/chapter32-28.jpg" alt="State Elephant of Tonk 2, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter32/chapter32-29.jpg" alt="State Elephant of Tonk 3, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter32/chapter32-30.jpg" alt="State Elephant of Tonk 4, Delhi Durbar, 1903.">
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
