<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 27</h2></div>
    <p class="mt-3">The following sets were 2 groups. One was an elephant and its escort guards and musicians, and the
      other was a cavalry
      group. <br>
      I mentioned that I had bought a digital image from Corbis, which was one of my first acquisitions. The State
      Elephant of
      Sikkim was clearly be seen there, and that was the first one we made from that photograph many years before. But
      there
      were many other elephants that were pictured so perfectly. My next choice was the State Elephant of Nabha. The
      Raja was
      such a magnificent character, he made me decide for his elephant to follow the line.
    </p>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p>Hira Singh, Raja of Nabha in 1903.</p>
        <img src="../../assets/beau-geste/chapter27/chapter27-1.jpg" alt="Hira Singh, Raja of Nabha in 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 405 - State Elephant of Nabha, Delhi
            Durbar, 1903.</a></p>
          <img src="../../assets/beau-geste/chapter27/chapter27-2.jpg"
            alt="Beau Geste Set 405 - State Elephant of Nabha, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <img class="mt-3" src="../../assets/beau-geste/chapter27/chapter27-3.jpg"
          alt="State Elephant of Nabha, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-3 mt-3">
        <img src="../../assets/beau-geste/chapter27/chapter27-4.jpg"
          alt="State Elephant of Nabha 1, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-3 mt-3">
        <img src="../../assets/beau-geste/chapter27/chapter27-5.jpg"
          alt="State Elephant of Nabha 2, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 406 - Escort Guards from
            Nabha, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter27/chapter27-6.jpg"
          alt="Beau Geste Set 406 -  Escort Guards from Nabha, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 407 - Servants and Guards
            from Nabha, Delhi Durbar, 1903.<br></a></p>
        <img class="mt-3" src="../../assets/beau-geste/chapter27/chapter27-7.jpg"
          alt="Beau Geste Set 407 -  Servants and Guards from Nabha, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-3">
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 408 - Music Band from Nabha,
            Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter27/chapter27-8.jpg"
          alt="Beau Geste Set 408 - Music Band from Nabha, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Sets 405, 406, 407 and 408 - The Nabha
            Group, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter27/chapter27-9.jpg"
          alt="Sets 405, 406, 407 and 408 - The Nabha Group, Delhi Durbar, 1903.">
      </div>
    </div>
    <p>---------------------------------------------------------</p>
    <p>The next group of figures were musicians on horse. The first one I discovered was shown in a Gertrude Bell&apos;s
      photograph,
      a drummer on horse dressed beautifully, with large feathers as ornaments. A delightful drawing by Raven Hill
      showed him
      as Datia&apos;s, so I went for the musician. Musicians, really. He was surely part of a band, and I made as many as I
      thought possible. <br>I love the colors on these sets.</p>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter27/chapter27-10.jpg" alt="Musician in horse, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter27/chapter27-11.jpg"
          alt="Raven Hill drawing of musician in horse, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6 mt-4">
        <img  src="../../assets/beau-geste/chapter27/chapter27-12.jpg"
          alt="Musicians from Datia, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 409 - Mounted Band from Datia,
            Kettledrum & Cymbals, Delhi Durbar, 1903.</a>
        </p>
        <img  src="../../assets/beau-geste/chapter27/chapter27-13.jpg"
          alt="Beau Geste Set 409 - Mounted Band from Datia,
            Kettledrum & Cymbals, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-3">
      <div class="col-md-6 mt-3">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 410 - Mounted Band from Datia, Cytara & Horns, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter27/chapter27-14.jpg"
          alt="Beau Geste Set 410 - Mounted Band from Datia, Cytara & Horns, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6 mt-3">
        <p><a href="https://www.beau-geste.com" target="_blank">Sets 409 and 410, the Datia Mounted Band, Delhi Durbar, 1903.</a></p>
        <img class="mt-4" src="../../assets/beau-geste/chapter27/chapter27-15.jpg"
          alt="Sets 409 and 410, the Datia Mounted Band, Delhi Durbar, 1903.">
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
