<div class="body-text content_box">
<app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 12</h2></div>
    <div class="pt-3">
      <p>
        Back to the Beau Geste Delhi Durbar sets history chapters. But first, I wanted to show a few photos of one of
        the sets I&apos;ve already featured in the last chapter. Every now and then we receive requests for the
        elephants to
        be painted in matte finish. We consider those special commissions, and we produce them for the collector. It was
        the case of the State Elephant of Alwar, set #190. I wanted to share with you a few pictures of the set.
      </p>
      <div class="row mt-3">
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter12/chapter12-1.jpg"
            alt="The State Elephant of Alwar, Delhi Durbar 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter12/chapter12-2.jpg"
            alt="The State Elephant of Alwar, Delhi Durbar 1903.">
        </div>
        <div class="col-md-4">
          <img class="mt-3" src="../../../assets/beau-geste/chapter12/chapter12-3.jpg"
            alt="The State Elephant of Alwar, Delhi Durbar 1903.">
        </div>
      </div>
      <div class="mt-3">
        <p>In case you are wondering, we only offer the matte finished paintings as a special commission and not as a
          standard set. Some collectors don&apos;t like glossy so they choose this option, but the vast majority go for
          the
          glossy finish. I believe the shining that glossy colors shows can&apos;t be compared with anything else,
          specially
          for the Delhi Durbar sets. But I am aware of the charm that matte paint brings. It&apos;s mainly a matter of
          taste.
          And we can make both. <span class="happy-face">
            <img src="../../assets/beau-geste/smiley-face-svg.png" alt="Beau Geste happy face">
          </span>
        </p>
        <p>---------------------------------------------------------</p>
        <p>For the following sets, once again, we felt that there was a need that had to be fulfilled in order to
          display the Delhi Durbar sets in their full splendor. And those were the people watching the parade, the
          viewers. So following came our first two sets of Spectators. This time, all local. We made more locals and
          occidentals later as most of you already know.
        </p>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <p> <a href="https://www.beau-geste.com" target="_blank">Beau Geste Delhi Durbar set 191A - Spectators for the
              Delhi Durbar 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter12/chapter12-4.jpg"
            alt="Beau Geste Delhi Durbar set 191A - Spectators for the Delhi Durbar 1903.">
        </div>
        <div class="col-md-6">
          <p> <a href="https://www.beau-geste.com" target="_blank">Beau Geste Delhi Durbar set 191B - Spectators for the
              Delhi Durbar 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter12/chapter12-5.jpg"
            alt="Beau Geste Delhi Durbar set 191A - Spectators for the Delhi Durbar 1903.">
        </div>
      </div>
      <p>---------------------------------------------------------</p>
      <p>Next came another palanquin. A collector took photos during his trip to India and sent images of the Jhodpur
        Museum. He wanted a particular palanquin made. It was absolutely beautiful. So we went for it, and made a woman
        siting on it because it looked feminine to us. We never knew for sure who rode in it. </p>
      <div class="row">
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter12/chapter12-6.jpg"
            alt="Palanquin of Jhodpur, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-6">
          <p> <a href="https://www.beau-geste.com" target="_blank">Beau Geste Delhi Durbar set 192 - Palanquin of
              Jhodpur, Delhi Durbar 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter12/chapter12-7.jpg"
            alt="Beau Geste Delhi Durbar set 192 - Palanquin of Jhodpur, Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="page-break"></div>
      <div class="mt-3">
        <p>I really go through the Delhi Durbar photos that I got to have during the years a lot. And I mean A LOT.
          Going through the stereoview scans that my friend Bill kindly shared with me, I found the palanquin in one of
          them. This is a portrait of the Indore group. I already made a few sets portraying these men. But looking
          closely (VERY closely), I found the palanquin in the background! I am not sure if it is the same one, even
          though it looks very similar. I don&apos;t even know if it belongs to Indore or if the Jhodpur group happened
          to be resting beside the Indore group. It was an open field and people grouped by state, but were free to go
          anywhere.
          It is interesting to see the definition that a small stereoview can have.
        </p>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter12/chapter12-8.jpg" alt="Delhi Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter12/chapter12-9.jpg" alt="Delhi Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter12/chapter12-10.jpg" alt="Delhi Durbar, 1903.">
        </div>
      </div>
      <p>---------------------------------------------------------</p>
      <p>
        The following State Elephant was the Travancore State one. This time we had better photos, thanks to the digital
        copies bought from the British Library. But as the Travancore elephant came in second place on the right column,
        right after the State Elephant of Hyderabad, it was in almost all of the photographs of the beginning of the
        procession. So this time we could be accurate with the details, more like we prefer our work to be.
      </p>
      <div class="page-break"></div>
      <div class="row mt-3">
        <div class="col-md-4">
          <p> <a href="https://www.beau-geste.com" target="_blank">Beau Geste set 200 – State Elephant of Travancore,
              Delhi Durbar 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter12/chapter12-11.jpg" alt="Beau Geste set 200 – State Elephant of Travancore,
              Delhi Durbar 1903.">
        </div>
        <div class="col-md-2">
          <img src="../../../assets/beau-geste/chapter12/chapter12-13.jpg" alt="State Elephant of Travancore,
              Delhi Durbar 1903.">
        </div>
        <!-- </div>
      <div class="row mt-3"> -->
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter12/chapter12-12.jpg" alt="State Elephant of Travancore,
              Delhi Durbar 1903.">
        </div>
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter12/chapter12-14.jpg" alt="State Elephant of Travancore,
              Delhi Durbar 1903.">
        </div>
      </div>
      <p>---------------------------------------------------------</p>
      <p>I wanted to share another Delhi Durbar film. This one is labeled 'Procession of Elephants with Howdahs,
        India, 1905. But it&apos;s definitely the Delhi Durbar in 1903. I could recognize it with my eyes closed. The
        film
        was taken standing in front of the Jumma Masjid, looking at the elephants approaching along Khas road. I
        include the stills with the names of the states below.
      </p>
      <div class="row mt-3">
        <div class="col-md-6 no-print">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/y4vPdmvQ8sI" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
        <div class="col-md-6 for-print">
          <img src="../../../assets/beau-geste/chapter12/chapter12-15.jpg" alt="Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter12/chapter12-16.jpg" alt="Delhi Durbar, 1903.">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter12/chapter12-17.jpg" alt="Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter12/chapter12-18.jpg" alt="Delhi Durbar, 1903.">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter12/chapter12-19.jpg" alt="Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter12/chapter12-20.jpg" alt="Delhi Durbar, 1903.">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter12/chapter12-21.jpg" alt="Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter12/chapter12-22.jpg" alt="Delhi Durbar, 1903.">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter12/chapter12-23.jpg" alt="Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter12/chapter12-24.jpg" alt="Delhi Durbar, 1903.">
        </div>
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
