<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 18</h2></div>
    <div class="pt-3">
      <p>Following with the history of the Delhi Durbar 1903 Beau Geste sets, the next one was a new state elephant.
        This time it was Bundi&apos;s turn. The rajah was an amazing character, and his elephant was very beautiful. I
        could count on
        Menpes color plate, and many photos (luckily!). It was my second elephant, and I was more comfortable with the
        idea by then.
        I enjoyed making it very much.
      </p>
      <div class="page-break"></div>
      <div class="row mt-3">
        <div class="col-md-6">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 303 - State Elephant of Bundi, Delhi
              Durbar, 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter18/chapter18-1.jpg" alt="Beau Geste Set 303 - State Elephant of Bundi, Delhi
              Durbar, 1903.">
        </div>
        <div class="col-md-6">
          <p>Our sources</p>
          <img src="../../../assets/beau-geste/chapter18/chapter18-2.jpg"
            alt="State Elephant of Bundi, Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <p>Our sources</p>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter18/chapter18-3.jpg" alt="State Elephant of Bundi, Delhi
              Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter18/chapter18-4.jpg"
            alt="Maharao Rajah of Bundi, Raghubir Sing, 1898.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter18/chapter18-5.jpg"
            alt="Maharao Rajah of Bundi, Raghubir Sing, Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="mt-3">
        <p>---------------------------------------------------------</p>
        <p>The following sets were mainly escort groups. Collectors loved to have their elephants surrounded by the men
          who were in
          the parade accompanying the state, forming a whole group. We made three bands for the elephants for which we
          had only
          made the guards (Alwar, Indore and Kashmir) and new guards, servants and musicians for the state of Gwalior.
        </p>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 314 - Music Courtship from Alwar, Delhi
              Durbar, 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter18/chapter18-6.jpg"
            alt="Beau Geste Set 314 - Music Courtship from Alwar, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-6">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 315 - Music Courtship from Indore,
              Delhi Durbar, 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter18/chapter18-7.jpg"
            alt="Beau Geste Set 315 - Music Courtship from Indore, Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 316 - Music Courtship from Kashmir,
              Delhi Durbar, 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter18/chapter18-8.jpg" alt="Beau Geste Set 316 - Music Courtship from Kashmir,
              Delhi Durbar, 1903.">
        </div>
        <div class="col-md-6">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 317 - Parasol and Emblem Carriers from
              Gwalior, Delhi Durbar, 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter18/chapter18-9.jpg"
            alt="Beau Geste Set 317 - Parasol and Emblem Carriers from Gwalior, Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter18/chapter18-10.jpg" alt="Parasol and Emblem Carriers from
              Gwalior, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter18/chapter18-11.jpg" alt="Parasol and Emblem Carriers from
              Gwalior, Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 318 - Escort Guards from Gwalior, Delhi
              Durbar, 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter18/chapter18-12.jpg"
            alt="Beau Geste Set 318 - Escort Guards from Gwalior, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-6">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 319 - Music Band from Gwalior, Delhi
              Durbar, 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter18/chapter18-16.jpg" alt="Beau Geste Set 319 - Music Band from Gwalior, Delhi
              Durbar, 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter18/chapter18-13.jpg" alt="Delhi Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter18/chapter18-14.jpg" alt="Delhi Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter18/chapter18-15.jpg" alt="Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste sets 274, 317 and 318,
              Delhi Durbar, 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter18/chapter18-17.jpg" alt="Beau Geste sets 274, 317 and 318,
              Delhi Durbar, 1903.">
        </div>
        <div class="col-md-6">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste sets 274, 317, 318 and 319,
              Delhi Durbar, 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter18/chapter18-18.jpg"
            alt="Beau Geste sets 274, 317, 318 and 319, Delhi Durbar, 1903.">
        </div>
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
