<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 40</h2></div>
    <p class="mt-3">
      Following with the Beau Geste Delhi Durbar 1903 sets, the following sets were an elephant and its group. These were released in May 2020. The elephant is the State Elephant of Karauli. It walked beside the State Elephant of Datia, and was seventh in order on the right column. Since Datia was already made, it made sense to make the elephant beside it. It was a beautiful elephant.
    </p>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 480 - State Elephant of Karauli, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter40/chapter40-1.jpg" alt="Beau Geste Set 480 - State Elephant of Karauli, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6 mt-4">
        <img class="mt-4" src="../../assets/beau-geste/chapter40/chapter40-2.jpg" alt="State elephant of Karauli, Delhi Durbar 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter40/chapter40-3.jpg" alt="State elephant of Karauli 1, Delhi Durbar 1903.">
      </div>
      <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter40/chapter40-4.jpg" alt="Karauli and Datia walking around the Jumma Masjid, Delhi Durbar, 1903.">
          <p class="mt-4">Karauli and Datia walking around the Jumma Masjid.</p>
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <p>The Maharaja was HH Maharaja Sir Bhanwar Pal Deo Bahadur Yadakul Chandra Bhal.<br></p>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter40/chapter40-5.jpg" alt="HH Maharaja Sir Bhanwar Pal Deo Bahadur Yadakul Chandra Bhal, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter40/chapter40-6.jpg" alt="Detail of the Beau Geste Set 480, State elephant of Karauli, Delhi Durbar, 1903.">
      </div>
       <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter40/chapter40-7.jpg" alt="Detail of the State elephant of Karauli, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
         <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 481 - Escort Guards from Karauli, Group A, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter40/chapter40-8.jpg" alt="Beau Geste Set 481 - Escort Guards from Karauli, Group A, Delhi Durbar, 1903.">
      </div>
       <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 482 - Escort Guards from Karauli, Group B, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter40/chapter40-9.jpg" alt="Beau Geste Set 482 - Escort Guards from Karauli, Group B, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
       <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 483 - Musicians and Torch Bearers from Karauli, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter40/chapter40-11.jpg" alt="Beau Geste Set 483 - Musicians and Torch Bearers from Karauli, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
         <p><a href="https://www.beau-geste.com" target="_blank">The Karauli Group, Delhi Durbar, 1903.<br></a></p>
         <img src="../../assets/beau-geste/chapter40/chapter40-12.jpg" alt="The Karauli Group, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
       <p>Pictures of the making of</p>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter40/chapter40-13.jpg"
          alt="Making the state elephant of Karauli, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter40/chapter40-14.jpg" alt="Making the state elephant of Karauli 1, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter40/chapter40-15.jpg" alt="Making the state elephant of Karauli 2, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter40/chapter40-16.jpg" alt="Making the state elephant of Karauli 3, Delhi Durbar, 1903.">
      </div>
      <p class="mt-3">This group was released in May 2020 along with the previous Bahawalpur sets featured in the chapter 39.</p>
    </div>
    <div class="row mt-3">
      <p>---------------------------------------------------------</p>
      <p>Now following with my Delhi Report. At the end of Queen&apos;s Road, the elephants turned right towards Elgin Road. That road goes all along the Red Fort west side. It was along this road that the Retainers elephants (around 250) waited standing on the sides for the Main Procession to pass in order to follow them. </p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter40/chapter40-17.jpg" alt="Map 1.">
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <img src="../../assets/beau-geste/chapter40/chapter40-18.jpg" alt="The Retainers elephants (around 250) waited standing on the sides for the Main Procession to pass in order to follow them, Delhi Durbar, 1903.">
          </div>
          <div class="col-md-6">
            <img src="../../assets/beau-geste/chapter40/chapter40-19.jpg" alt="The Retainers elephants (around 250) waited standing on the sides for the Main Procession to pass in order to follow them 2, Delhi Durbar, 1903.">
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-12">
            <img src="../../assets/beau-geste/chapter40/chapter40-20.jpg" alt="The Retainers Elephants waiting for their turn to follow the parade, on the back of the photo, along the Red Fort, Delhi Durbar, 1903.">
          </div>
          <p class="mt-4">The Retainers Elephants waiting for their turn to follow the parade, on the back of the photo, along the Red Fort. View from the South East corner of the Jumma Masjid. The spot where the fireworks happened can also be seen in the picture.</p>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <p>In 1903, the view from Queen&apos;s Road toward the Red Fort was clear, there was nothing in the way. Today, that sector has buildings in the way, so the only way to see the Fort would be from an aerial point of view.</p>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter40/chapter40-21.jpg" alt="Map 2.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter40/chapter40-22.jpg" alt="View from Queen&apos;s Road toward the Red Fort, Delhi.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter40/chapter40-23.jpg" alt="Street that used to be Elgin Road.">
        <p class="mt-3">Street that used to be Elgin Road.</p>
      </div>
    </div>
    <div class="row mt-4">
      <p>I visited the Red Fort from the South. This is the ticket counter. You have to follow the road beside the Fort in opposite direction as the elephants in order to get to the entrance. This road is parallel to Elgin. People walk it every day in order to visit the Fort.</p>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter40/chapter40-24.jpg" alt="The Red Fort from the South. Delhi.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter40/chapter40-25.jpg" alt="Road to the Red Fort, Delhi.">
      </div>
    </div>
    <div class="row mt-4">
      <p>Walking from the South, there is empty land in the middle between this Fort road and Elgin (now Netaji Subash Marg). The elephants on the right side of Elgin stood right in this space.</p>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter40/chapter40-26.jpg" alt="Map 3.">
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <img src="../../assets/beau-geste/chapter40/chapter40-27.jpg" alt="The elephants&apos; route, Delhi Durbar, 1903.">
            <img class="mt-4" src="../../assets/beau-geste/chapter40/chapter40-29.jpg" alt="The elephants&apos; route, Delhi Durbar, 1903.">
          </div>
          <div class="col-md-6">
            <img src="../../assets/beau-geste/chapter40/chapter40-28.jpg" alt="The elephants&apos; route, Delhi Durbar, 1903.">
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-6">
            <img src="../../assets/beau-geste/chapter40/chapter40-30.jpg" alt="The elephants&apos; route, Delhi Durbar, 1903.">
          </div>
          <div class="col-md-6">
            <img src="../../assets/beau-geste/chapter40/chapter40-31.jpg" alt="The elephants&apos; route, Delhi Durbar, 1903.">
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <p class="mt-3">The entrance to visit the Red Fort is just in front of the end of Chandni Chawk.</p>
      <div class="col-md-6">
         <img src="../../assets/beau-geste/chapter40/chapter40-32.jpg" alt="Map 4.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter40/chapter40-33.jpg" alt="The entrance to visit the Red Fort is just in front of the end of Chandni Chawk, Delhi.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter40/chapter40-34.jpg" alt="The Red Fort 1, Delhi.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter40/chapter40-35.jpg" alt="The Red Fort 2, Delhi.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter40/chapter40-36.jpg" alt="The Red Fort 3, Delhi.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter40/chapter40-37.jpg" alt="The Red Fort 4, Delhi.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter40/chapter40-38.jpg" alt="The Red Fort 5, Delhi.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter40/chapter40-39.jpg" alt="The Red Fort 6, Delhi.">
      </div>
       <p class="mt-4">Inside the Red Fort. It was such a beautiful place to visit. You get to spend many hours there.</p>
    </div>
    <div class="page-break"></div>
    <p>---------------------------------------------------------</p>
    <p> I have many India related sites on my social media, and I came across a very interesting post that I wanted to share with you.</p>
    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter40/chapter40-40.jpg" alt="The Alwar&apos;s Carriage, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter40/chapter40-41.jpg" alt="The Alwar&apos;s Carriage today, Delhi.">
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
