<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 34</h2></div>
    <p class="mt-3">This chapter features a few sets from the same state, Charkkhari, which I think is one of the most colorfull groups I made. I feel that the pictures don&apos;t do them justice at all.<br>
    One of the digital copies that I had from the British Library showed one of the elephants is such neat detail, which such focus that the decision to make the Charkkhari elephant was an easy one. Added to that, I had another digital copy where a delightful group of camel riders from the same state was shown during the Retainers Review. The group became one of the most successful within the Beau Geste Delhi Durbar line.
    </p>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 450 - State Elephant of Charkkhari, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter34/chapter34-1.jpg" alt="Beau Geste Set 450 - State Elephant of Charkkhari, Delhi Durbar, 1903.">
      </div>
      <div class="mt-4 col-md-6"><br>
          <img class="mt-4" src="../../assets/beau-geste/chapter34/chapter34-2.jpg" alt="State Elephant of Charkkhari, Delhi Durbar, 1903.">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter34/chapter34-3.jpg" alt="State Elephant of Charkkhari - Detail, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter34/chapter34-4.jpg" alt="Raven Hill made such a lovely drawing of the decorations on the elephant&apos;s face, Delhi Durbar 1903.">
          <p class="mt-3">Raven Hill made such a lovely drawing of the decorations on the elephant&apos;s face. </p>
        </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6 mt-4">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 451 - Escort Guards from Charkkhari, group right, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter34/chapter34-5.jpg" alt="Beau Geste Set 451 - Escort Guards from Charkkhari, group right, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6 mt-4">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 452 - Escort Guards from Charkkhari, group left, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter34/chapter34-6.jpg"
          alt="Beau Geste Set 452 - Escort Guards from Charkkhari, group left, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
       <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 453 -  Musicians and Servants from Charkkhari, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter34/chapter34-7.jpg"
          alt="Beau Geste Set 453 -  Musicians and Servants from Charkkhari, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
       <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Sets 450, 451, 452 and 453 - The State Elephant of Charkkhari and attendants, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter34/chapter34-8.jpg"
          alt="Beau Geste Sets 450, 451, 452 and 453 - The State Elephant of Charkkhari and attendants.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p class="mt-4">The Camel Riders photo</p>
        <img src="../../assets/beau-geste/chapter34/chapter34-9.jpg" alt="Camel Riders, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 454 - Camel Riders of Charkkhari, Officer and Sign Carrier, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter34/chapter34-10.jpg" alt="Beau Geste Set 454 - Camel Riders of Charkkhari, Officer and Sign Carrier, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 455 -  Camel Riders of Charkkhari, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter34/chapter34-11.jpg" alt="Beau Geste Set 455 -  Camel Riders of Charkkhari, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 456 -  Camel Riders of Charkkhari, Musician Drummers, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter34/chapter34-12.jpg"
          alt="Beau Geste Set 456 -  Camel Riders of Charkkhari, Musician Drummers, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
         <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Sets 454, 455 and 456 - The Camel Riders from Charkkhari, delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter34/chapter34-13.jpg"
          alt="Beau Geste Sets 454, 455 and 456 - The Camel Riders from Charkkhari, delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p class="mt-4"><a href="https://www.beau-geste.com" target="_blank">The Charkkhari Group (sets 450 to 456), Delhi Durbar 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter34/chapter34-14.jpg"
          alt="The Charkkhari Group (sets 450 to 456), Delhi Durbar 1903.">
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
