<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 26</h2></div>
    <p class="mt-3">The Beau Geste sets that followed the Rewah cavalry and the Sehr & Mokalla flagbearers were 2
      elephants. Both not
      belonging to the Main Procession itself but both being present in the second group of elephants that followed the
      two
      columns of the Procession on December 29, and obviously, both present at the Retainers Review.<br>
      I was regularly buying digital copies from the British Library by then. The Patiala retainers came up on a couple
      of
      photographs, and I decided to make them almost as soon as I got the image files.
      These are my digital copies.
    </p>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter26/chapter26-1.jpg" alt="Patiala elephant, Durbar, 1903.">
      </div>
      <div class="col-md-6 mt-3">
        <img class="mt-4" src="../../assets/beau-geste/chapter26/chapter26-2.jpg"
          alt="Patiala elephant 1, Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p class="mt-6"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 397 - Elephant with Akali
            from Patiala, Delhi Durbar, 1903.<br></a>
          <img class="mt-3" src="../../assets/beau-geste/chapter26/chapter26-3.jpg"
            alt="Beau Geste Set 397 - Elephant with Akali from Patiala, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6 mt-4">
        <img class="mt-4" src="../../assets/beau-geste/chapter26/chapter26-4.jpg"
          alt="Elephant with Akali from Patiala, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 398 - Elephant with Drummer from Patiala,
            Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter26/chapter26-5.jpg"
          alt="Beau Geste Set 398 - Elephant with Drummer from Patiala, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <a href="https://www.beau-geste.com" target="_blank">Beau Geste sets 397 and 398 - Patiala Retinues, Delhi
          Durbar, 1903.<br></a>
        <img class="mt-3" src="../../assets/beau-geste/chapter26/chapter26-6.jpg"
          alt="Beau Geste sets 397 and 398 - Patiala Retinues, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4 mt-3"><br><br>
        <img class="mt-4" src="../../assets/beau-geste/chapter26/chapter26-7.jpg"
          alt="Patiala Retinues, Delhi Durbar, 1903.">
      </div>
    </div>
    <p class="mt-3">---------------------------------------------------------</p>
    <div class="row mt-3">
      <p>Following these sets came more state elephant&apos;s guards and musicians. The Jaipur elephant was among the
        first
        ones that
        we made, and I had never got to make its attendants. By then I had bought a photograph of the Retainers Review,
        portraying the Jaipur group during the event. All its men were there, so it was easy to be accurate with the new
        group.</p>
      <div class="col-md-4">
        <p class="mt-3">My EBay purchase</p>
        <img class="mt-4" src="../../assets/beau-geste/chapter26/chapter26-8.jpg"
          alt="Beau Geste Set 394 - Rewah Cavalry, Horns and Flute, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4 mt-3">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 399 - Macebearers from
            Jaipur, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter26/chapter26-9.jpg"
          alt="Beau Geste Set 399 - Macebearers from Jaipur , Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <br><br>
        <img class="mt-4" src="../../assets/beau-geste/chapter26/chapter26-10.jpg"
          alt="Beau Geste Set 394 - Rewah Cavalry, Horns and Flute, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6 mt-2">
        <p class="mt-6"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 400 - Escort Guards from
            Jaipur, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter26/chapter26-11.jpg"
          alt="Beau Geste Set 400 -  Escort Guards from Jaipur , Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6 mt-4">
        <img class="mt-5" src="../../assets/beau-geste/chapter26/chapter26-12.jpg"
          alt="Escort Guards from Jaipur, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 401 - Music Band from
            Jaipur, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter26/chapter26-13.jpg"
          alt="Flagbearers from Sehr and Mokalla 1, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Sets 399-400-401 and 245 - The Jaipur
            Group, Delhi Durbar, 1903.</a></p>
        <img src="../../assets/beau-geste/chapter26/chapter26-14.jpg"
          alt="Flagbearers from Sehr and Mokalla 2, Delhi Durbar, 1903.">
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
