<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 11</h2></div>
    <div class="pt-3">
      <p>
        Before continuing with the history of the following sets I wanted to share the newspaper and book comments about
        the Ladakhi Devil Dancers and the Musician Monks that I didn&apos;t have with me when I featured those sets.
      </p>
      <div class="row mt-3">
        <div class="col-md-12">
          <img src="../../../assets/beau-geste/chapter11/chapter11-1.jpg"
            alt="The Ladakhi Devil Dancers and the Musician Monks">
        </div>
      </div>
      <div class="mt-3">
        <p><u>Wheeler:</u><br />
          <i>'Last came the cortège of Kashmir retainers, amongst whom were mounted men from Gilgit and Yasin, Buddhist
            Devil Dancers, wearing hideous masks, from Ladakh; and two veritable giants, one of 7feet 8 in., the other 8
            ft.
            high. These might opportunely have been placed in juxtaposition to the little Nabha dwarf'.</i>
        </p>
        <p><u>Civil & Military Gazette 13/01:</u><br />
          <i>'36 Musicians with their devil dancers, with huge masks, some like tigers, others like dragons, other like
            dogs. They danced all the way and brandished knives'.</i>
        </p>
        <p><u>Madras Times 09/01:</u><br />
          <i>'A number of Lamas blowing horns, and others wearing horrible masks, danced towards the end of the
            show'.</i>
        </p>
        <p><u>Pioneer Mail 16/01 / The Coronation Durbar:</u><br />
          <i>'...and so had the devil-dancers from distant Ladakh in their hideous masks'.</i>
        </p>
        <p><u> A Motley Army:</u><br />
          <i>'There were men from the monasteries of far Ladakh with huge grinning dragon masks, and a skull and
            crossbones worked upon their tattered dress of Chinese embroidery; Buddhist abbots from the lamaserais, clad
            in yellow,
            with shaven heads'.</i>
        </p>
      </div>
      <p>---------------------------------------------------------</p>
      <div class="mt-3">
        <p>
          The camels came after them. We had never made camels on the Durbar line yet so it was time to introduce them
          in the line considering all the camels that participated in the events. The most popular were the camel riders
          from Bikaner. And Daniel wanted to make them.<br />
          These were the photos that we had then. The first was Gertrude Bell&apos;s, the other was a photocopy of a
          photocopy taken from the cabinets at the British Library.
        </p>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter11/chapter11-2.jpg"
            alt="Bikaner Camel Riders, Delhi Durbar, 1903">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter11/chapter11-3.jpg"
            alt="Bikaner Camel Riders, Delhi Durbar, 1903">
        </div>
        <div class="col-md-4">
          <p> <a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 174 - Bikaner Camel Riders, Delhi
              Durbar, 1903.</a></p>
          <div class="col-md-12">
            <img src="../../../assets/beau-geste/chapter11/chapter11-4.jpg"
              alt="Beau Geste Set 174 - Bikaner Camel Riders, Delhi Durbar, 1903.">
          </div>
        </div>
      </div>
      <div class="page-break"></div>
      <div class="row mt-3">
        <p>And here are the photos we could get through the years.</p>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter11/chapter11-5.jpg"
            alt="Bikaner Camel Riders, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter11/chapter11-6.jpg"
            alt="Bikaner Camel Riders, Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter11/chapter11-7.jpg"
            alt="Bikaner Camel Riders, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter11/chapter11-8.jpg"
            alt="Bikaner Camel Riders, Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <p> A few pictures of the making process</p>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter11/chapter11-9.jpg" alt="Delhi Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter11/chapter11-10.jpg" alt="Delhi Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter11/chapter11-11.jpg" alt="Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="page-break"></div>
      <div class="mt-3">
        <p>These are the descriptions made by the press
        </p>
        <p><u>Program Bikaner State: </u><br />
          <i>12) 50 Camel Sowars in armour</i>
        </p>
        <p><u>Civil & Military Gazette 13/01:</u><br />
          <i>'...the latter dissipated in appearance, the vizors and nose pieces being not always straight'.</i>
        </p>
        <p><u> Pioneer Mail 16/01 / The Coronation Durbar:</u><br />
          <i>'the Bikanir camel sowars in chain-armour'.</i>
        </p>
        <p><u>Menpes:</u><br />
          <i>'Bikanir brought quite a new departure in the shape of fifty camel-riders in chain armour, with
            lemon-yellow saddle-cloths trimmed with apple-green'.</i>
        </p>
        <p><u>A Motley Army:</u><br />
          <i>'It was reserved to Bikanir to introduce a novel effect in the matter of mailed men, a feature outside the
            ken of Western tales of chivalry. The desert state had mounted fifty sheathed warriors on camels, each with
            a chrome yellow and rice green saddle cloth. They passed in procession quite noiselessly, the only audible
            sound being the gentle pad-pad of the camels, and the slight rustling of the loose flexible armour. The
            camelry were followed by a throng of mounted retainers with silver-adorned saddlery; every man carried at
            his back a polished shield of hippopotamus hide'.</i>
        </p>
        <p><u>Wheeler:</u><br />
          <i>'Bikaner sent mail-clad sowars mounted on camels caparisoned with yellow saddle cloths, and carrying small
            swivel guns'.</i>
        </p>
      </div>
      <div class="mt-3">
        <p>---------------------------------------------------------</p>
        <p>
          The Akali from Patiala had a wonderful reception among the collectors. I did some research regarding the
          sikh warriors and I found one of Menpes plates with a warrior from Jind. As usual Daniel approved.
        </p>
      </div>
      <div class="page-break"></div>
      <div class="row mt-3">
        <div class="col-md-4">
          <p>This is Menpes color plate. We tried to make the figures as close to the painting as we could.</p>
          <img src="../../../assets/beau-geste/chapter11/chapter11-12.jpg"
            alt="Sikh Warriors from Jind, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <p class="mt-3"><a href="https://beau-geste.com" target="_blank">Beau Geste Set 184 - Sikh Warriors from Jind,
              Delhi Durbar, 1903.</a>
          </p>
          <img src="../../../assets/beau-geste/chapter11/chapter11-13.jpg"
            alt="Beau Geste Set 184 - Sikh Warriors from Jind, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <p class="mt-3">
            Years later, I find him in a book with Raven Hill&apos;s drawings (that I absolutely love!)
          </p>
          <img src="../../../assets/beau-geste/chapter11/chapter11-14.jpg"
            alt="Sikh Warriors from Jind, Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="mt-3">
        <p>This is what Menpes wrote about the Sikh Warriors</p>
        <p><u>Menpes: the camps</u><br />
          <i>'After luncheon the Major took us to Jind, and there we saw a series of strange gentlemen. Sikhs they were,
            most of them dressed in blue, and bearing war implements and steel rings. They had circles of steel round
            their necks, similar circles round their turbans. At first it was a puzzle to me why they should carry these
            hoops; they were flat like quoits, had a sharp knife-edge, and appeared in most unexpected places — round
            the neck, round the waist, and on their turbans. Were they worn for decorative reasons? I discovered that
            the hoops were used simply as implements of war. They are deadly weapons. The Sikhs throw them at their
            enemies, hurl them along edgeways as you would a quoit, and cut off heads as easily as you would slice a
            lemon'.</i>
        </p>
      </div>
      <div class="mt-3">
        <p>---------------------------------------------------------</p>
        <p>
          At this point there was a group of figures we had not considered yet, but that was really necessary to release
          to be able to display the parade accurately. They were the lining troops, standing all along the path of the
          elephants. The most photographed were the ones standing at Khas Road, along which the elephants walked towards
          the Jumma Masjid, and the ones around the Temple itself. Both regiments standing on both sides of the road.
        </p>
      </div>
      <div class="row mt-3">
        <p class="mt-3">
          The 6th Jat Light Infantry regt. standing at both sides of the road, at the first corner of the Jumma
          Masjid.
          The Royal Rifles can be seen at the back, up to Khas Road.
        </p>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter11/chapter11-15.jpg" alt="">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter11/chapter11-16.jpg" alt="">
        </div>
      </div>
      <div class="row mt-3">
        <p>
          The Royal Rifles standing on both sides of the street, and along Khas Road
        </p>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter11/chapter11-17.jpg"
            alt="The Royal Rifles standing on both sides of the street.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter11/chapter11-18.jpg"
            alt="The Royal Rifles standing on both sides of the street.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter11/chapter11-19.jpg"
            alt="The Royal Rifles standing on both sides of the street.">
        </div>
      </div>
      <div class="row mt-3">
        <p>
          The Royal Rifles taken from the spectators stand. Look at that lovely line of hornists. I&apos;d love to
          make them some day. They&apos;d be a nice addition to the line.
        </p>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter11/chapter11-20.jpg"
            alt="The Royal Rifles taken from the spectators stand.">
        </div>
        <div class="col-md-4">
          <p>
            <a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 188 - 6th Jat Light infantry, Delhi
              Durbar route lining troops, Delhi Durbar, 1903.</a>
          </p>
          <img src="../../../assets/beau-geste/chapter11/chapter11-21.jpg"
            alt="Beau Geste Set 188 - 6th Jat Light infantry, Delhi Durbar route lining troops, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <p>
            <a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 189 - Royal Irish Rifles, Delhi Durbar
              route lining troops, Delhi Durbar 1903.</a>
          </p>
          <img src="../../../assets/beau-geste/chapter11/chapter11-22.jpg"
            alt="Beau Geste Set 189 - Royal Irish Rifles, Delhi Durbar route lining troops, Delhi Durbar 1903.">
        </div>
      </div>
      <div class="mt-3">
        <p>---------------------------------------------------------</p>
        <p>
          I am finishing this chapter with the following state elephant: the State Elephant of Alwar. I chose the
          elephant for many reasons. The chandeliers attached to the tusks. The elegant mahout with the golden jacket.
          The rich
          embroidery. But the main reason was that the Maharaja was standing on the howda. I was fascinated by that. You
          can remember from the films how rough the movement of the howdas was for passengers while the elephants
          walked.It was hard to remain standing with the instability. Still Maharaja Jai Singh Prabhakar proudly stood
          there.
        </p>
        <p>
          By that time I had already bought copies of the Delhi Durbar photos at the British Library. In paper. That was
          a mistake. I could buy a digital copy of the same photograph a couple of years later (I LOVE the photo), and
          the difference was really noticeable.<br />
        </p>
        <div class="row mt-3">
          <p>These are the paper copies that we used to make the elephant.</p>
        </div>
        <div class="row mt-3">
          <div class="col-md-3">
            <img src="../../../assets/beau-geste/chapter11/chapter11-23.jpg"
              alt="The State Elephant of Alwar. Delhi Durbar, 1903.">
          </div>
          <div class="col-md-3">
            <img class=" ms-3" src="../../../assets/beau-geste/chapter11/chapter11-24.jpg"
              alt="The State Elephant of Alwar. Delhi Durbar, 1903.">
          </div>
          <div class="col-md-6">
            <p>
              <a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 190 - Elephant of the Maharaja of
                Alwar, Delhi Durbar, 1903. </a>
            </p>
            <img src="../../../assets/beau-geste/chapter11/chapter11-25.jpg" alt="Beau Geste Set 190 - Elephant of the Maharaja of
                Alwar, Delhi Durbar, 1903.">
          </div>
        </div>
        <div class="page-break"></div>
        <div class="row mt-3">
          <p>This is the detail of the digital copy that I bought later.</p>
          <div class="col-md-4">
            <img src="../../../assets/beau-geste/chapter11/chapter11-26.jpg" alt="Making process of Beau Geste Set 190 - Elephant of the Maharaja of
                Alwar, Delhi Durbar, 1903.">
          </div>
          <div class="col-md-4">
            <img src="../../../assets/beau-geste/chapter11/chapter11-27.jpg" alt="Making process of Beau Geste Set 190 - Elephant of the Maharaja of
                Alwar, Delhi Durbar, 1903.">
          </div>
        </div>
        <div class="mt-3">
          <p>
            I believe that this is one of the most beautiful pieces that Daniel made. His sculpting process still amazes
            me, after all these years. Here are a few pictures of the making process. The photos are small because they
            were taken many years ago, and I lost track of the original files. Sorry for that.
          </p>
        </div>
        <div class="row mt-3">
          <div class="col-md-3">
            <img src="../../../assets/beau-geste/chapter11/chapter11-28.jpg" alt="Making process of Beau Geste Set 190 - Elephant of the Maharaja of
                Alwar, Delhi Durbar, 1903.">
          </div>
          <div class="col-md-3">
            <img src="../../../assets/beau-geste/chapter11/chapter11-29.jpg" alt="Making process of Beau Geste Set 190 - Elephant of the Maharaja of
                Alwar, Delhi Durbar, 1903.">
          </div>
          <div class="col-md-3">
            <img src="../../../assets/beau-geste/chapter11/chapter11-30.jpg" alt="Making process of Beau Geste Set 190 - Elephant of the Maharaja of
                Alwar, Delhi Durbar, 1903.">
          </div>
          <div class="col-md-3">
            <img src="../../../assets/beau-geste/chapter11/chapter11-31.jpg" alt="Making process of Beau Geste Set 190 - Elephant of the Maharaja of
                Alwar, Delhi Durbar, 1903.">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-3">
            <img src="../../../assets/beau-geste/chapter11/chapter11-32.jpg" alt="Making process of Beau Geste Set 190 - Elephant of the Maharaja of
                Alwar, Delhi Durbar, 1903.">
          </div>
          <div class="col-md-3">
            <img src="../../../assets/beau-geste/chapter11/chapter11-33.jpg" alt="Making process of Beau Geste Set 190 - Elephant of the Maharaja of
                Alwar, Delhi Durbar, 1903.">
          </div>
          <div class="col-md-3">
            <img src="../../../assets/beau-geste/chapter11/chapter11-34.jpg" alt="Making process of Beau Geste Set 190 - Elephant of the Maharaja of
                Alwar, Delhi Durbar, 1903.">
          </div>
          <div class="col-md-3">
            <img src="../../../assets/beau-geste/chapter11/chapter11-35.jpg" alt="Making process of Beau Geste Set 190 - Elephant of the Maharaja of
                Alwar, Delhi Durbar, 1903.">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
