<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 20</h2></div>
    <p class="mt-3"> Back to the Beau Geste Durbar sets history. The next 1903 Delhi Durbar set was taken basically from
      a color
      plate that I
      came across researching online. I had seen the guards and servants from Gwalior, and this illustration looked
      very
      accurate so I went for them. The program mentions the cavalry, but I couldn&apos;t find any photo of the group.
      I simply
      loved the colors and the uniforms. I like the set very much.
    </p>
    <div class="page-break"></div>
    <div class="row">
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 328 – Gwalior Horsemen,
            Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter20/chapter20-1.jpg" alt="Beau Geste Set 328 – Gwalior Horsemen,
              Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p class="mt-3">Color plate</p>
        <img src="../../assets/beau-geste/chapter20/chapter20-2.jpg" alt="Beau Geste Set 328 – Gwalior Horsemen,
              Delhi Durbar, 1903.">
      </div>
    </div>
    <p class="mt-3">---------------------------------------------------------</p>
    <p class="mt-3">A group of Camel Riders set from Alwar followed. They were very photographed, painted and
      mentioned in programs and
      newspapers. As it was a large group, we featured them as three sets.</p>
    <div class="row mt-3">
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 340 – Alwar Camel Riders,
            Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter20/chapter20-3.jpg"
          alt="Beau Geste Set 340 – Alwar Camel Riders, Delhi Durbar, 1903">
        <p class="mt-3"></p>
      </div>
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 341 – Alwar Camel Band,
            Kettledrummer and Horns, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter20/chapter20-4.jpg"
          alt="Beau Geste Set 341 – Alwar Camel Band, Kettledrummer and Horns,  Delhi Durbar, 1903">
        <p class="mt-3"></p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 342 – Alwar Camel Band,
            Winds Line, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter20/chapter20-5.jpg"
          alt="Beau Geste Set 342 – Alwar Camel Band, Winds Line,  Delhi Durbar, 1903.">
        <p class="mt-3"></p>
      </div>
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Sets 341 and 342 - The whole
            Camel Band, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter20/chapter20-6.jpg"
          alt="Beau Geste Sets 341 and 342 - The whole Camel Band, Delhi Durbar, 1903.">
      </div>
    </div>
    <p class="mt-3">These were the images I used to make them. At that moment they were photocopies. I got the images
      with more definition
      later and I view them again in person during this visit to the British Library. The images are incredibly neat
      and
      sharp. Unfortunately I didn't have them when I got to make them, but they turned well anyway.</p>
    <div class="row mt-3">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter20/chapter20-7.jpg">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter20/chapter20-8.jpg">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter20/chapter20-9.jpg">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter20/chapter20-10.jpg">
        <p class="mt-3">Mempes plate.</p>
      </div>
    </div>
    <p class="mt-3">---------------------------------------------------------</p>
    <p class="mt-3">
      Next came another elephant and its guards and band. It was the State Elephant of Faridkot. I chose it for two
      reasons. I loved the Maharaja&apos;s pose, sitting straight with his legs crossed, holding his sword very
      proudly. Also, the
      elephant&apos;s clothes were different to the rest. There was no embroidered pattern, simply lines and dots. A
      different
      elephant among all the richly decorated ones.
    </p>
    <div class="page-break"></div>
    <div class="row mt-3">
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 343 – State Elephant of
            Faridkot, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter20/chapter20-11.jpg"
          alt="Beau Geste Set 343 – State Elephant of Faridkot,  Delhi Durbar, 1903">
      </div>
      <div class="col-md-6">
        <p class="mt-3">Source image.</p>
        <img class="mt-3" src="../../assets/beau-geste/chapter20/chapter20-12.jpg"
          alt="Beau Geste Set 343 – State Elephant of Faridkot,  Delhi Durbar, 1903">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter20/chapter20-13.jpg"
          alt="State Elephant of Faridkot,  Delhi Durbar, 1903">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter20/chapter20-14.jpg"
          alt="State Elephant of Faridkot,  Delhi Durbar, 1903">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter20/chapter20-15.jpg"
          alt="State Elephant of Faridkot,  Delhi Durbar, 1903">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-3">
      <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 344 – Escort Guards from
          Faridkot, Delhi Durbar, 1903.</a></p>
      <div class="col-md-5">
        <img src="../../assets/beau-geste/chapter20/chapter20-16.jpg"
          alt="Beau Geste Set 344 – Escort Guards from Faridkot,  Delhi Durbar, 1903">
      </div>
      <div class="col-md-3">
        <img src="../../assets/beau-geste/chapter20/chapter20-17.jpg"
          alt="Escort Guards from Faridkot,  Delhi Durbar, 1903">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter20/chapter20-18.jpg"
          alt="Escort Guards from Faridkot,  Delhi Durbar, 1903">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 345 – Music Band from
            Faridkot, Delhi Durbar, 1903.</a></p>
        <img src="../../assets/beau-geste/chapter20/chapter20-19.jpg"
          alt="Beau Geste Set 345 – Music Band from Faridkot,  Delhi Durbar, 1903">
      </div>
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Sets 343, 344 and 345 – The
            Faridkot Group,
            Delhi Durbar, 1903.</a></p>
        <img src="../../assets/beau-geste/chapter20/chapter20-20.jpg"
          alt="Beau Geste Set 345 – Music Band from Faridkot,  Delhi Durbar, 1903">
      </div>
    </div>
    <p class="mt-3">---------------------------------------------------------</p>
    <p class="mt-3">In this last part I want to explain a theory that came to me when I was making the State Elephant
      of
      Kolhapur, this new elephant that I have last released. This is just my theory, that cannot be easily confirmed.
      The
      programs don&apos;t mention this, the newspapers have no words about it, and none of the personal accounts that
      I&apos;ve read
      speak about this at all.</p>
    <p>When I am making a new elephant I pay special attention to the maharaja or the raja, since I think that they
      are the
      main character to be represented on the elephant, and their portrait is extremely important. When I began
      researching
      about the Maharaja of Kolhapur, Chhatrapati Shahu Maharaj, I was surprised to discover that he was a very
      progressive
      and innovative ruler. He focused on helping the lower classes making education free for everybody, and giving
      chances to
      all work and study, even rural population and indigent people. He is highly admired, loved and remembered in
      Kolhapur.</p>
    <div class="row mt-3">
      <div class="col-md-3">
        <p>Now, this was the only photo of the elephant that showed him best.</p>
        <img src="../../assets/beau-geste/chapter20/chapter20-21.jpg">
      </div>
      <div class="col-md-9">
        <p>But when I researched about Shahu, his photos showed a different person.
        </p>
        <div class="row">
          <div class="col-md-6">
            <img src="../../assets/beau-geste/chapter20/chapter20-22.jpg">
          </div>
          <div class="col-md-5">
            <img src="../../assets/beau-geste/chapter20/chapter20-23.jpg">
          </div>
        </div>
      </div>
    </div>
    <p class="mt-3">
      Then it came to me. I had already DONE a portrait of this man on an elephant. He was very familiar to me. I
      immediately
      remembered the state elephant of Narsingharh. Doesn&apos;t this Maharaja look like Shahu?
    </p>
    <div class="row mt-3">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter20/chapter20-24.jpg">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter20/chapter20-25.jpg">
      </div>
    </div>
    <p class="mt-3">Then I remembered that when I made the Narsingharh elephant (or the one I THOUGHT was
      Narsingharh), at the moment of
      researching the Raja, the only image that I came across was this one, of Arjun Singh:</p>
    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter20/chapter20-26.jpg">
      </div>
      <div class="col-md-6">
        <p class="mt-3">Can he be the ruler in the howda of the new 'Kolhapur' elephant?</p>
        <img src="../../assets/beau-geste/chapter20/chapter20-27.jpg">
      </div>
    </div>
    <div class="row mt-3">
      <p>The State Elephant of Narsigharh came immediately behind the pair of Kolhapur-Rajgarh. What if the Kolhapur
        elephant got slightly delayed for some reason and Narsingharh went before, in its place, and not after as it was
        supposed
        to be? It could be possible. It&apos;s only that there is no mention of that, because the press only described
        the first
        six elephants of the Main Procession, and these were the 13th pair and the 14th, the one that went single.
      </p>
      <p>
        This is just a theory that I will try to confirm with time. So for now, it&apos;s only a theory. What does
        this mean for the elephants displays you have at home? Nothing. The order is correct, only that the name of the
        state that
        identifies the elephants is different. Visually the disposition of the elephants is the same. You don&apos;t
        need to change
        anything. And if you agree with my theory, you only need to KNOW which state they represent.
      </p>
      <p>
        I hope this hasn&apos;t confused you much. This is a theory, completely opened for discussion. I could well
        not have mentioned anything and leave things as they are, but it is not my style. I share what I study with you,
        and
        this was part of that. The elephants will continue be named as they were released, because I won&apos;t change
        any titles
        until I confirm this. But I thought you&apos;d like to know.
      </p>
      <p>
        If you have any knowledge or information that can confirm or refute this idea, it will be welcomed. I will be
        waiting for your comments on this (interesting and fun) ‘conundrum’.
        <span class="happy-face">
          <img src="../../assets/beau-geste/smiley-face-svg.png" alt="Beau Geste happy face">
        </span>
      </p>
    </div>
  </div>
</div>
<app-print></app-print>
