<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 8</h2></div>
    <div class="pt-3">
      <p>I can&apos;t help but think that the history of the Beau Geste sets is going to have many chapters. I become
        aware of that with each new chapter. There are SO many sets in the Delhi Durbar line and I honestly can&apos;t
        estimate how long this will take. Not that I am not happy writing it. But still, so many more chapters to go.
        We got to year 2003. My son Julian was 16, and Daniel invited him to help us with our line. He was born to me
        painting miniatures and his father sculpting, so he&apos;s never known different. Daniel assisted him to making
        his first set, the Cutch spear bearers. Julian&apos;s always been a very talented sculptor, since he was very
        young,
        so he excelled in this task. His lancers were very well received, and he was very happy with the feedback. And
        mom
        couldn&apos;t be prouder <span class="happy-face">
          <img src="../../assets/beau-geste/smiley-face-svg.png">
        </span></p>
      <div class="page-break"></div>
      <div class="row mt-3">
        <p>Julian at the Beau Geste table during the London show in 2004.</p>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter8/chapter8-1.jpg"
            alt="Julian at the Beau Geste table during the London show in 2004.">
        </div>
        <div class="col-md-6">
          <img class="ms-3" src="../../../assets/beau-geste/chapter8/chapter8-2.jpg"
            alt="Julian at the Beau Geste table during the London show in 2004.">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <p>His brand-new set was based on the following photo, taken from Wheeler&apos;s book photo featuring the
            Cutch
            contingent:</p>
          <img src="../../../assets/beau-geste/chapter8/chapter8-3.jpg" alt="Cutch contingent.">
        </div>

        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter8/chapter8-4.jpg" alt="Cutch Spear Bearers.">
          <p class="mt-2"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 113 – Cutch Spear Bearers,
              Delhi Durbar 1903.</a></p>
        </div>
      </div>
      <!-- <div class="row mt-3">
        <div class="col-md-6">
          <p>Julian at the Beau Geste table during the London show in 2004.</p>
          <div class="row">
            <div class="col-md-6">
              <img src="../../../assets/beau-geste/chapter8/chapter8-1.jpg"
                alt="Julian at the Beau Geste table during the London show in 2004.">
            </div>
            <div class="col-md-6">
              <img class="ms-3" src="../../../assets/beau-geste/chapter8/chapter8-2.jpg"
                alt="Julian at the Beau Geste table during the London show in 2004.">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <p>His brand-new set was based on the following photo, taken from Wheeler&apos;s book photo featuring the
            Cutch
            contingent:</p>
          <img src="../../../assets/beau-geste/chapter8/chapter8-3.jpg" alt="Cutch contingent.">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-8">
          <img src="../../../assets/beau-geste/chapter8/chapter8-4.jpg" alt="Cutch Spear Bearers.">
          <p class="mt-2"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 113 – Cutch Spear Bearers,
              Delhi Durbar 1903.</a></p>
        </div>
      </div> -->
      <p class="mt-3">
        With the years we got a photo with better definition, but it&apos;s always been the only photo that we’ve had.
        <br />
        ---------------------------- <br />

        The following set was one of the most loved and collected sets in the history of the Delhi Durbar line.<br />
        The Main Procession had many elephants in it. The first elephants were the most relevant states, thought to be
        50 at the beginning, but two of them couldn&apos;t make it for several reasons. The Maharaja of Baroda knew
        about the
        death (or illness, I am not sure) of his wife by that day, and he missed the Main Procession. And the elephant
        of Cutch got a bit mad before the procession and it could not be controlled, so the Maharaja of Cutch could not
        make it either. Both contingents were present in the Retainers Review and the second column of elephants after
        the main procession. Only both maharajas missed the December 29th opening of the events.
      </p>
      <p>
        After the Main Procession came the Retainers elephants. They were all the elephants each state had brought, and
        they were… 250!!!<br />
        Leading the Rewa contingent came a baby elephant, we immediately decided to make it.
      </p>
      <div class="row">
        <div class="col-md-3">
          <p>Here is the only photo that we could count on by then (exact definition and size).
          </p>
          <img src="../../../assets/beau-geste/chapter8/chapter8-5.jpg" alt="Rewa&apos;s Baby Elephant.">
        </div>
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter8/chapter8-6.jpg" alt="Rewa&apos;s Baby Elephant.">
          <p class="mt-2"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 114 – Baby Elephant from
              Rewa, Delhi Durbar, 1903.</a></p>
        </div>
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter8/chapter8-7.jpg" alt="Rewa&apos;s Baby Elephant.">
          <p class="mt-2">
            I got many more photos with the years. It was something such a lovely view. The photographers focused of the
            baby elephant, luckily.
          </p>
        </div>
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter8/chapter8-9.jpg" alt="The Rewa contingent.">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter8/chapter8-8.jpg"
            alt="The Rewa contingent at the Retainers Review.">
          <p class="mt-2">
            The Rewa contingent at the Retainers Review. The baby elephant towards the back of the photo, just in front
            of the Rewa Executioner elephant.
          </p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter8/chapter8-10.jpg"
            alt="The second group of elephants that came after the Main Procession.">
          <p class="mt-2">The second group of elephants that came after the Main Procession, going in front of the Town
            Hall along Chandni Chawk street.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter8/chapter8-11.jpg" alt=".">
          <p class="mt-2">
            I bought a digital copy of this photo from the British Library. It's the same photo that we had at the
            beginning, but with a much higher definition.
          </p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter8/chapter8-12.jpg" alt=".">
        </div>
      </div>
      <br />
      ---------------------------- <br />
      <p class="mt-3">Before continuing with the films, I wanted to show the making process of the howdah of the
        next elephant, the State Elephant of Tehri. I'll have it released by the end of April. Hope you like them.
      </p>
      <div class="row mt-3">
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter8/chapter8-13.jpg" alt="The State Elephant of Tehri.">
          <p class="mt-2">The State Elephant of Tehri.</p>
        </div>
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter8/chapter8-14.jpg" alt="The State Elephant of Tehri.">
          <img class="mt-3" src="../../../assets/beau-geste/chapter8/chapter8-17.jpg"
            alt="The State Elephant of Tehri.">
        </div>
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter8/chapter8-15.jpg" alt="The State Elephant of Tehri.">
          <img class="mt-3" src="../../../assets/beau-geste/chapter8/chapter8-18.jpg"
            alt="The State Elephant of Tehri.">
        </div>
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter8/chapter8-16.jpg" alt="The State Elephant of Tehri.">
          <img class="mt-3" src="../../../assets/beau-geste/chapter8/chapter8-19.jpg"
            alt="The State Elephant of Tehri.">
          <img src="../../../assets/beau-geste/chapter8/chapter8-20.jpg" alt="The State Elephant of Tehri.">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter8/chapter8-21.jpg" alt="The State Elephant of Tehri.">
        </div>
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter8/chapter8-22.jpg" alt="The State Elephant of Tehri.">
        </div>
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter8/chapter8-23.jpg" alt="The State Elephant of Tehri.">
        </div>
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter8/chapter8-24.jpg" alt="The State Elephant of Tehri.">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter8/chapter8-25.jpg" alt="The State Elephant of Tehri.">
        </div>
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter8/chapter8-26.jpg" alt="The State Elephant of Tehri.">
        </div>
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter8/chapter8-27.jpg" alt="The State Elephant of Tehri.">
        </div>
        <div class="col-md-3">
          <img src="../../../assets/beau-geste/chapter8/chapter8-28.jpg" alt="The State Elephant of Tehri.">
        </div>
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
