<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 24</h2></div>
    <p class="mt-3">This is a special chapter for me, because I enjoyed so much making the following few sets that I
      will never forget them.
      <br />
      It became obvious by that time that we needed more spectators to add to all the parades. People were predominant
      during
      all the festivities. And no parade seemed realistic without them. The issue with people is that they are not
      wearing
      uniforms or state colors, so they had to be all different. That was a challenge at the time of making them, if I
      didn&apos;t
      want to make a master for each person figure on the set. So I designed them with different standard bodies, heads
      and
      arms, that I could combine to make them as different as they could. Added to that the different colors would help.
      <br />
      So I immersed myself in the study of 1900 clothes and fashion, both oriental and occidental. I simply LOVED the
      process.
      Luckily there is so much information about clothing and fashion out there, at hand. Modelling the clothes was very
      fun
      too. And so was making different hats and headdresses.
      <br />
      The sets were a huge success. We could hardly keep up with the orders. We added the possibility of ordering them
      in more
      different colors and poses for those who wanted more. I didn&apos;t want to release 15 different sets so the
      standard ones
      are only a few, but collectors know that we take special commissions regarding variations.
      <br />
      These are the standard released sets, and only a few selected images used to make them. I didn&apos;t want to
      flood the
      chapter with too many photos.
      <span class="happy-face">
        <img src="../../assets/beau-geste/smiley-face-svg.png" alt="Beau Geste happy face">
      </span>
    </p>
    <div class="row">
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 382 - Occidental Ladies
            Spectators, Delhi Durbar, 1903.</a></p>
        <img src="../../assets/beau-geste/chapter24/chapter24-1.jpg"
          alt="Beau Geste Set 382 - Occidental Ladies Spectators, Delhi Durbar, 1903">
      </div>
      <div class="col-md-6">
        <p class="mt-3"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 383 - Occidental Ladies
            Spectators, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter24/chapter24-2.jpg"
          alt="Beau Geste Set 383 - Occidental Ladies Spectators, Delhi Durbar, 1903.">
      </div>
    </div>
    <!-- <div class="page-break"></div> -->
    <p class="mt-3">Research images</p>
    <div class="row mt-3">
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter24/chapter24-3.jpg"
          alt="Occidental Ladies Spectators, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter24/chapter24-4.jpg"
          alt="Occidental Ladies Spectators 1, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter24/chapter24-5.jpg"
          alt="Occidental Ladies Spectators 2, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter24/chapter24-6.jpg"
          alt="Occidental Ladies Spectators 3, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter24/chapter24-7.jpg"
          alt="Occidental Ladies Spectators 4, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter24/chapter24-8.jpg"
          alt="Occidental Ladies Spectators 5, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter24/chapter24-9.jpg"
          alt="Occidental Ladies Spectators 6, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter24/chapter24-10.jpg"
          alt="Occidental Ladies Spectators 7, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter24/chapter24-11.jpg"
          alt="Occidental Ladies Spectators 8, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <p class="mt-6"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 384 - Occidental Gentlemen
            Spectators, Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter24/chapter24-12.jpg"
          alt="Beau Geste Set 384 - Occidental Gentlemen Spectators, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p class="mt-6"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 385 - Occidental Gentlemen
            Spectators, Delhi Durbar, 1903.</a></p>
        <img src="../../assets/beau-geste/chapter24/chapter24-13.jpg"
          alt="Beau Geste Set 385 - Occidental Gentlemen Spectators 1, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter24/chapter24-14.jpg"
          alt="Occidental Gentlemen Spectators, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4 mt-5">
        <img class="mt-5" src="../../assets/beau-geste/chapter24/chapter24-15.jpg"
          alt="Occidental Gentlemen Spectators 1, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4 mt-5">
        <img class="mt-3" src="../../assets/beau-geste/chapter24/chapter24-16.jpg"
          alt="Occidental Gentlemen Spectators 2, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6">
        <p class="mt-6"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 386 - Local Spectators,
            Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter24/chapter24-17.jpg"
          alt="Beau Geste Set 386 - Local Spectators, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p class="mt-6"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 387 - Local Spectators,
            Delhi Durbar, 1903.</a></p>
        <img src="../../assets/beau-geste/chapter24/chapter24-18.jpg"
          alt="Beau Geste Set 387 - Local Spectators, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-5">
      <div class="col-md-6">
        <p class="mt-6"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 388 - Local Spectators,
            Delhi Durbar, 1903.</a>
        </p>
        <img src="../../assets/beau-geste/chapter24/chapter24-19.jpg"
          alt="Beau Geste Set 388 - Local Spectators, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p class="mt-6"><a href="https://www.beau-geste.com" target="_blank">Beau Geste Sets 386-387-388 - Local
            Spectators, Delhi Durbar, 1903.</a></p>
        <img src="../../assets/beau-geste/chapter24/chapter24-20.jpg" alt="All sets together. Local Spectators">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3 mt-5">
        <img src="../../assets/beau-geste/chapter24/chapter24-21.jpg"
          alt="Local Gentlemen Spectators, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <img class="mt-5" src="../../assets/beau-geste/chapter24/chapter24-22.jpg"
          alt="Local Gentlemen Spectators 1, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <img class="mt-5" src="../../assets/beau-geste/chapter24/chapter24-23.jpg"
          alt="Local Gentlemen Spectators 2, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-5">
        <img src="../../assets/beau-geste/chapter24/chapter24-24.jpg"
          alt="Occidental Gentlemen Spectators, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-2">
        <img src="../../assets/beau-geste/chapter24/chapter24-25.jpg"
          alt="Occidental Gentlemen Spectators 1, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-5">
        <img src="../../assets/beau-geste/chapter24/chapter24-26.jpg"
          alt="Occidental Gentlemen Spectators 2, Delhi Durbar, 1903.">
      </div>
    </div>
    <p class="mt-5">A few months after the release of these sets I went for the photographers, that were as needed as
      the bystanders, but
      not in such vast variations and quantity. We released two sets of photographers, women and men, local and foreign
      mixed.</p>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 389 - Durbar Photographers, Delhi Durbar,
            1903.</a>
          <img class="mt-3" src="../../assets/beau-geste/chapter24/chapter24-27.jpg"
            alt="Beau Geste Set 390 - Durbar Photographers, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 390 - Durbar Photographers, Delhi Durbar,
            1903.</a>
          <img class="mt-3" src="../../assets/beau-geste/chapter24/chapter24-28.jpg"
            alt="Elephant of the Aides-de-camps of the Viceroy, Capt. Yarde-Buller - Capt. Lindsay, Delhi Durbar, 1903.">
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
