<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text mt-3">
    <div class="chapter_title">Activities</div>
    <div class="pt-2 ms-2">
      <p><u>The Imperial Durbar </u></p>
      <p>...'On the first day of January 1903, with a wealth of ceremonial and with a spectacular
        gorgeousness, unapproached by any previous display, His Imperial Majesty, King Edward the VII, was proclaimed
        Emperor of India. Princes and mighty Chiefs had assembled to do him honor and to yield obeisance to him in the
        person of His Viceroy.<br>On the plain outside the City was built an Amphitheatre extensive enough to
        accommodate the immense concourse os spectators drawn from the whole world. Its shape was that of a gigantic
        horse-shoe. A Da&iuml;s surmounted by a cupola projected from its center and on the Da&iuml;s were the throne
        chairs for His Excellency the Viceroy and His Royal Highness the Duke of Connaught. <br>By 12 o&rsquo;clock, the
        vast Amphitheatre and its numerous tiers of seats was nearly filled, and the Mutiny Veterans marched into the
        Arena preceded by a band. These old warriors, to whom the very ground they were treading was full of terrible
        and glorious memories, were greeted on every hand by loud and spontaneous cheering.<br>Then in all the
        brilliance of oriental splendour came the Ruling Chiefs and Princes of India, each in his Coach or Carriage
        resplendent with silver and gold and escorted by Lancers and numerous attendants. <br>Outside the Amphitheatre
        stretching away almost to the horizon, battery after battery and regiment after regiment of India&rsquo;s
        gallant army were drawn up; 40.000 men of all arms. His Royal Highness the Duke of Connaught drove up with an
        escort of the 9th Lancers and the 15th Bengal Lancers. He was received by a Royal Salute. Thirty one guns were
        fired and the National Anthem was played by the bands gathered in the Arena.<br>A few minutes later, His
        Excellency the Viceroy drove up escorted by a British Cavalry Regiment, the Imperial Cadet Corps and a Native
        Cavalry Regiment, in addition to His Excellency&rsquo;s Body guard. He was received with Royal honours. The Guns
        fired a Royal Salute. The National Anthem was played and Viceregal Standard was hoisted. <br>The Herald, Major
        Maxwell with the trumpeters rode up to the Da&iuml;s with flourishes of trumpets and at the Command of the
        Viceroy, he read the Imperial Proclamation. One undred and one guns were fired and the Royal Standard was
        hoisted, the massed bands playing the National Anthem. <br>His Excellency the Viceroy then read the
        King-Emperor&rsquo;s Message and addressed the assemblage.'...
      </p>
      <div class="row">
        <div class="col-md-6">
          <img src="../../../assets/history/activities/act-1.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/activities/act-2.jpg">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/history/activities/act-3.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/activities/act-4.jpg">
        </div>
      </div>
      <p class="mt-4"><u>The opening of the Exhibition of Art Manufactures</u> </p>
      <p>...'The whole India had been searched and its choicest treasures were gathered together in
        the Exhibition building. Nearly every exhibit was chosen by the personal selection of the director, Sir
        George
        Watt. <br>In the Loan Collection, every province had contributed its rarest and most beautiful treasures,
        from
        Kashmir to Travancore, from Bombay to Burmah, the whole peninsula combined to freely and generously despatch
        its costliest treasures to help demonstrate the artistic resources of the land.'...
      </p>
      <div class="row">
        <div class="col-md-4">
          <img src="../../../assets/history/activities/act-5.jpg">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/history/activities/act-6.jpg">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/history/activities/act-7.jpg">
          <p class="mt-2">On January 3rd, The viceroy Lord Curzon received the Mutiny Veterans on the lawn in front of
            his residence.
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="../../../assets/history/activities/act-8.jpg">
          <p class="mt-2">On the same day and on the 5th, two assault-of-arms were held in the Amphitheatre. Some of
            the events held there were the Musical Ride of the I Battery and the 15th Hussars, Gymnastic displays by the
            Army gymnastic staff, and the running drill of the 15th Sikh.</p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/activities/act-9.jpg">
          <img class="mt-3" src="../../../assets/history/activities/act-10.jpg">
        </div>
      </div>
      <p><u>The Church Service</u><br>January 4th, the Church Service, at the Polo Ground</p>
      <div class="row">
        <div class="col-md-5">
          <img src="../../../assets/history/activities/act-11.jpg">
        </div>
        <div class="col-md-5">
          <img src="../../../assets/history/activities/act-12.jpg">
          <img class="mt-3" src="../../../assets/history/activities/act-13.jpg">
        </div>
      </div>
      <p class="mt-3">...'Fifteen full bands accompanying a Choir of nearly 500 soldiers provided the music. The
        Choir being stationed at the farther side of the extensive ground, were provided with megaphones through
        which they sang'...
      </p>
      <p>January 8<br><u>The Great Review</u></p>
      <p class="mt-3">That day, 35000 troops were reviewed: artillery, cavalry, British and Native infantry, the
        Maharaja of Patiala's troops and the Bikanir Camel Corps. </p>
      <div class="row">
        <div class="col-md-6">
          <img src="../../../assets/history/activities/act-14.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/activities/act-15.jpg">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/history/activities/act-16.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/activities/act-17.jpg">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/history/activities/act-18.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/activities/act-19.jpg">
        </div>
      </div>
      <div class="mt-3">
        <p><u>The Sporting Events</u><br>
        <p>The two principal ones were the two polo cups, The International Cup and The Native Army
          Cup.
          The International Cup was won by the Alwar Team, and the cup was presented by the Viceroy, carried on a huge
          elephant richly caparisoned escorted by soldiers on camels and horses.</p>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/history/activities/act-20.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/activities/act-21.jpg">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/history/activities/act-22.jpg">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/history/activities/act-23.jpg">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/history/activities/act-24.jpg">
        </div>
      </div>
      <p class="mt-3">January 10 was the last of the Durbar gatherings. The Viceroy left Delhi at mid-day. The
        Station platform was crowded with Chiefs and Princes and other distinguished visitors for the farewell.
        <br>Lord and Lady Curzon's train was preceeded by the one that carried the Duke and Duchess of Connaught.
        Everybody at the Station waved goodbye while the National Anthem and a roar of guns were heard.
      </p>
    </div>
  </div>
</div>
<app-print></app-print>
