<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title">
      <h2>Chapter 49</h2>
    </div>
    <p class="mt-3">
      A new chapter of the History of the Beau Geste Delhi Durbar 1903 sets. A group of sets from Tonk, that were really popular. Also, one of the last chapters of the Delhi main route. I'm already planning more chapters about the Delhi Durbar, regarding more details about all the events that took place in 1903. I have so much information about it, and I'd love to share it.
      <br>
      The next group was released April 2024. It was the State Elephant of Tonk, and its guards and musicians. I also could add some soldiers to the group. I was very lucky to find a picture of a few Tonk soldiers in one of the 1903 Durbar albums at the British Library. A blurry picture, that was more than enough. And the Alwar's Carriage can be seen in the background!!! It was taken outside the Amphitheatre during the Retainers Review, on January 7, when all the states were settled in the surroundings, waiting for their turn to enter the parade.
      <br>
      Tonk was a Indian princely state under the British Raj. It was located mainly in the actual state of Rajastan. The Nawab in 1903 was Muhammad Ibrahim Ali Khan. The State Elephant of Tonk was the 10th on the right column of the Main Procession, just behind Alwar (and Dewas Senior), at the side of Dewas Junior and in front of Sirohi (and Samthar).
    </p>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter49/chapter49-1.jpg" alt="State Elephant of Tonk, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter49/chapter49-2.jpg"
          alt="Beau Geste Set 513 - State Elephant of Tonk, Delhi Durbar, 1903.">
      </div>
    </div>
    <!-- <div class="page-break"></div> -->
    <div class="row mt-4">
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter49/chapter49-3.jpg"
          alt="Beau Geste Set 513 - State Elephant of Tonk, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter49/chapter49-4.jpg"
          alt="Beau Geste Set 514 - Morchal Bearers from Tonk, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4">
        <img src="../../assets/beau-geste/chapter49/chapter49-5.jpg"
          alt="Beau Geste Set 515 -Escort Guards from Tonk, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 521 - State Elephant of Tonk, Delhi
          Durbar, 1903.<br></a></p>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter49/chapter49-6.jpg"
          alt="Beau Geste Set 521 - State Elephant of Tonk, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter49/chapter49-7.jpg"
          alt="Beau Geste Set 521 - Right view - State Elephant of Tonk, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter49/chapter49-8.jpg"
          alt="Beau Geste Set 521 - Detail - State Elephant of Tonk, Delhi Durbar, 1903">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 522 - Escort Guards from Tonk, Group Right,
            Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter49/chapter49-9.jpg"
          alt="Beau Geste Set 522 - Escort Guards from Tonk, Group Right,
            Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 523 - Escort Guards from Tonk, Group Left, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter49/chapter49-10.jpg"
          alt="Beau Geste Set 523 - Escort Guards from Tonk, Group Left, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 524 - Musicians and Servants from Tonk, Group Right, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter49/chapter49-11.jpg"
          alt="Beau Geste Set 524 - Musicians and Servants from Tonk, Group Right, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-8">
        <p><a href="https://www.beau-geste.com" target="_blank">The
          Tonk Group, Beau Geste Sets 521, 522, 523 and 524, Delhi Durbar, 1903.<br></a></p>
        <img src="../../assets/beau-geste/chapter49/chapter49-12.jpg"
          alt="The Tonk Group, Beau Geste Sets 521, 522, 523 and 524, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-4 mt-4">
        <img class="mt-4" src="../../assets/beau-geste/chapter49/chapter49-13.jpg"
          alt="The Tonk footmen, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 525 - Cuirassiers from Tonk, Delhi Durbar, 1903.<br></a>
        </p>
        <img src="../../assets/beau-geste/chapter49/chapter49-14.jpg" alt="Beau Geste Set 525 - Cuirassiers from Tonk, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 526 - Infantry in Chain Mail Armour from Tonk, Delhi Durbar, 1903.<br></a>
        </p>
        <img src="../../assets/beau-geste/chapter49/chapter49-15.jpg"
          alt="Beau Geste Set 526 - Infantry in Chain Mail Armour from Tonk, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 527 - Military Band from Tonk, Delhi Durbar, 1903.<br></a>
        </p>
        <img src="../../assets/beau-geste/chapter49/chapter49-16.jpg"
          alt="Beau Geste Set 527 - Military Band from Tonk, Delhi Durbar, 1903.">
      </div>
      <div class="col-md-6">
        <p><a href="https://www.beau-geste.com" target="_blank">All three Tonk soldiers group (Sets 525, 526 and 527), Delhi Durbar, 1903.<br></a>
        </p>
        <img src="../../assets/beau-geste/chapter49/chapter49-17.jpg"
          alt="All three Tonk soldiers group (Sets 525, 526 and 527), Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-12">
        <p><a href="https://www.beau-geste.com" target="_blank">The Whole Tonk Contingent, Delhi Durbar, 1903.<br></a>
        </p>
        <img src="../../assets/beau-geste/chapter49/chapter49-18.jpg"
          alt="The Whole Tonk Contingent, Delhi Durbar, 1903.">
      </div>
    </div>
    <div class="row mt-4">
      <p><a href="https://www.beau-geste.com" target="_blank">A few pictures of the Making Of.<br></a></p>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter49/chapter49-19.jpg"
          alt="A few pictures of the Making Of 1.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter49/chapter49-20.jpg"
          alt="A few pictures of the Making Of 2.">
      </div>
    </div>
    <div class="page-break"></div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter49/chapter49-21.jpg"
          alt="A few pictures of the Making Of 3.">
      </div>
      <div class="col-md-6">
        <img src="../../assets/beau-geste/chapter49/chapter49-22.jpg"
          alt="A few pictures of the Making Of 4.">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <img src="../../assets/beau-geste/chapter49/chapter49-23.jpg"
          alt="A few pictures of the Making Of 5.">
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
