<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 5</h2></div>
    <div class="pt-3">
      <p>It was 2002 then and it was time for our first State Elephant. As we still only relied upon Gertrude
        Bell&apos;s photographs, we had only one picture of this elephant with the proper identification of the state so
        we went for it.
      </p>
      <div class="row mt-3">
        <div class="col-md-5">
          <p>This was the only photo we had to be used as a model:</p>
          <img src="../../assets/beau-geste/chapter5/chapter5-1.jpg" alt="The State Elephant of Patiala, Delhi
            Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter5/chapter5-2.jpg" alt="Beau Geste Set 87 - The State Elephant of Patiala, Delhi
            Durbar, 1903.">
        </div>
        <div class="col-md-3">
          <p class="mt-3">
            <a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 87 - The State Elephant of Patiala,
              Delhi
              Durbar, 1903.</a>
          </p>
        </div>
      </div>
      <div class="row mt-3">
        <p>With the years, I learned so much more about this elephant and its state. The Maharaja, Bhupinder Singh, was
          12
          years old at the time of the 1903 Delhi Durbar, so the maharaja sitting inside the howdah should be a young
          boy
          instead of the man that we made for this elephant. As we got to find more detailed photos it became clear that
          our set needed more detail to be accurate. I will probably have to make a new Elephant of Patiala when I
          finish
          all the Main Procession and some elephants from the Retainers Review that I&apos;d like to make too.
          We&apos;ll
          see.
        </p>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter5/chapter5-3.jpg" alt="Bhupinder Singh, Maharaja of Patiala, 1903.">
          <p class="mt-3">Bhupinder Singh, Maharaja of Patiala, 1903.</p>
        </div>
        <div class="col-md-8">
          <p>Most of the photos of the State Elephant of Patiala that I could gather were mainly from postcards or
            stereoviews that a great friend shared with me, or digital copies I bought from the photo albums from the
            British Library. </p>
          <p>Here are the photos, during the Main Procession, during the Retainers Review or posing before
            it or at their camp. </p>
          <div class="row">
            <div class="col-md-4">
              <img src="../../assets/beau-geste/chapter5/chapter5-4.jpg" alt="Delhi Durbar, 1903.">
            </div>
            <div class="col-md-4">
              <img src="../../assets/beau-geste/chapter5/chapter5-5.jpg" alt="Delhi Durbar, 1903.">
            </div>
            <div class="col-md-4">
              <img src="../../assets/beau-geste/chapter5/chapter5-6.jpg" alt="Delhi Durbar, 1903.">
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter5/chapter5-7.jpg">
        </div>
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter5/chapter5-8.jpg">
        </div>
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter5/chapter5-9.jpg">
        </div>
      </div>
      <div class="page-break"></div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter5/chapter5-10.jpg">
          <p class="mt-3">
            The Main Procession coming along Khas Road towards the Jumma Masjid, Patiala in front with Sehr & Mokalla
            just
            behind to its right, Bahawalpur and Sikkim after them, Nabha and Cooch Behar, Hill Tippera and Kapurthala
          </p>
        </div>
        <div class="col-md-6">
          <img src="../../assets/beau-geste/chapter5/chapter5-11.jpg">
          <p class="mt-3">The elephants going along the south side of the temple, same elephants of the left photo.</p>
        </div>
      </div>
      <div class="row mt-3">
        <p> The following set was from Patiala too. Again taken from Gertrude Bell&apos;s photos
          <br /><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 88 – Patiala Akali, Delhi Durbar,
            1903.</a>
        </p>
        <div class="col-md-8">
          <img src="../../assets/beau-geste/chapter5/chapter5-12.jpg">
        </div>
        <div class="col-md-4">
          <img src="../../assets/beau-geste/chapter5/chapter5-13.jpg">
        </div>
      </div>
      <div class="pt-2 ms-3">
        <p>We released a set of 7 warriors, but I never got to know for sure how many akali really existed. They were
          holy
          warriors from the Sikh States. That is all I know. If any of you would like to add more information
          you&apos;ll
          be welcome.
        </p>
      </div>
      <div class="page-break"></div>
      <div class="row mt-3">
        <p>More pictures of the Akali from Patiala.
        </p>
        <div class="col-md-3">
          <img src="../../assets/beau-geste/chapter5/chapter5-14.jpg">
        </div>
        <div class="col-md-3">
          <img src="../../assets/beau-geste/chapter5/chapter5-15.jpg">
        </div>
        <!-- </div>
      <div class="row mt-3"> -->
        <div class="col-md-3">
          <img src="../../assets/beau-geste/chapter5/chapter5-16.jpg">
          <p class="mt-3">Gertrude Bell&apos;s photo</p>
        </div>
        <div class="col-md-3">
          <img src="../../assets/beau-geste/chapter5/chapter5-17.jpg">
          <p class="mt-3">Mortimer Menpes&apos; watercolor</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
