<div class="body-text content_box">
  <app-section-title [sectionTitle]="sectionTitle"></app-section-title>
  <div class="content-text">
    <div class="chapter_title"><h2>Chapter 15</h2></div>
    <div class="pt-3">
      <p>Continuing with the sets, it was time for a new elephant. The magnificent Jaipur one. By that moment, we
        already had enough photos to be able to make it as accurate as possible. And it turned out beautifully.
        <br />
        The digital copy of the photo that we bought from the British Library was very detailed. Being in the first
        group of elephants, everybody took pictures of this elephant. The photo taken during the Retainers Review
        (without the maharaja) came later. I was lucky enough to buy paper copy extremely detailed online. It helped
        when it was time to make the guards and musicians later.
      </p>
      <div class="row mt-3">
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter15/chapter15-1.jpg" alt="Gwalior horsemen in uniforms from Shiraji&apos;s times, with parasols, Retainers
              Review, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 245 - the State Elephant of Jaipur,
              Delhi Durbar 1903.</a></p>
          <img src="../../../assets/beau-geste/chapter15/chapter15-2.jpg" alt="Gwalior horsemen in uniforms from Shiraji&apos;s times, with parasols, Retainers
              Review, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter15/chapter15-3.jpg" alt="Gwalior horsemen in uniforms from Shiraji&apos;s times, with parasols, Retainers
              Review, Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="mt-3">
        <p>---------------------------------------------------------</p>
        <p>
          A set from Gwalior followed. We have always looked for unique and rare things to make, and the mounted men
          with umbrellas called our attention. We had photos that we got online, a photocopy taken from the cabinets at
          the British Library and two Menpes color plates. Not one but two! That made it a perfect new set.
        </p>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter15/chapter15-4.jpg" alt="Gwalior horsemen in uniforms from Shiraji&apos;s times, with parasols, Retainers
              Review, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter15/chapter15-5.jpg" alt="Gwalior horsemen in uniforms from Shiraji&apos;s times, with parasols, Retainers
              Review, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <img src="../../../assets/beau-geste/chapter15/chapter15-6.jpg" alt="Gwalior horsemen in uniforms from Shiraji&apos;s times, with parasols, Retainers
              Review, Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter15/chapter15-7.jpg" alt="Gwalior horsemen in uniforms from Shiraji&apos;s times, with parasols, Retainers
              Review, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-6">
          <p><a href="https://www.beau-geste.com" target="_blank">
              Beau Geste Set 249 - Gwalior horsemen in uniforms from Shiraji&apos;s times, with parasols, Retainers
              Review, Delhi Durbar, 1903.
            </a>
          </p>
          <img src="../../../assets/beau-geste/chapter15/chapter15-8.jpg" alt="Beau Geste Set 249 - Gwalior horsemen in uniforms from Shiraji&apos;s times, with parasols, Retainers
              Review, Delhi Durbar, 1903.">
        </div>
        <p>---------------------------------------------------------</p>
        <p>
          The press didn&apos;t say much about them, but they are mentioned in one of them.
        </p>
        <p>
          <u>Civil & Military Gazette 13/01:</u>
          <br />
          <i>&apos;
            The last were mounted and each was attended by a man holding an umbrella.&apos;
          </i>
        </p>
      </div>
      <div class="mt-3">
        <p>---------------------------------------------------------</p>
        <p>
          Another elephant followed. It felt so great to have clear photos, with the information that was so poor for us
          before that. It was very exciting to keep on making more and more.
          <br />
          Press comments about this elephant
        </p>
        <p>
          <u>Civil & Military Gazette 13/01:</u>
          <br />
          <i>&apos;...on an elephant, clashing cymbals and beating drums viciously.&apos;</i>
        </p>
        <p>
          <u>Madras Times 09/01:</u>
          <br />
          <i>&apos;...one Orchha elephant carried an entire band.&apos;</i>
        </p>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <p>
            British Library photo that we used as a source
          </p>
          <img src="../../../assets/beau-geste/chapter15/chapter15-9.jpg" alt="Elephant band of Orchha,
              Retainers Review, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <p><a href="https://www.beau-geste.com" target="_blank">Beau Geste Set 250 - Elephant band of Orchha,
              Retainers Review, Delhi Durbar, 1903.</a>
          </p>
          <img src="../../../assets/beau-geste/chapter15/chapter15-10.jpg" alt="Beau Geste Set 250 - Elephant band of Orchha,
              Retainers Review, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-4">
          <p><a href="https://www.beau-geste.com" target="_blank">Elephant band of Orchha,
              Retainers Review, Delhi Durbar, 1903. Matte version specially painted for a collector.</a>
          </p>
          <img src="../../../assets/beau-geste/chapter15/chapter15-11.jpg" alt="Elephant band of Orchha,
              Retainers Review, Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="row mt-3 no-print">
        <div class="col-md-7">
          <p>New Delhi Durbar 1903 film.</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/WRu8qHhZwIs" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
          </iframe>
        </div>
        <div class="col-md-5">
          <p>Spot from where the film was taken.</p>
          <img src="../../../assets/beau-geste/chapter15/chapter15-12.jpg" alt="Elephant band of Orchha,
              Retainers Review, Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="mt-3">
        <p>
          I left this 1903 Delhi Durbar film for the end, for a number or reasons. It was the first film where I could
          see the elephants marching and the feeling was inexplicable. I couldn&apos;t believe that I was actually
          seeing it.
          By that moment I didn&apos;t really know what was what I was looking at, specially identifying elephants and
          other participants. It turned out to be somewhat film or developed reversed. It took me some time to
          understand
          that. The elephants are walking along Chandni Chowk and the film was taken somewhere from or around the
          Futtehpoorie Musjid, just from the corner where the elephants turned towards Ahmad Pai, in their way of
          leaving the city. If you are familiarized with the elephants, you will see that the column closer to the
          camera, that looks like the right column, is actually the left one. The confirmation of that is the lining
          troops. The regiment lining had a band on the left side and the pipers on the right side. Which are reversed
          in the film. What is also reversed is the order in which the elephants and authorities walked along the
          street. In the film you will see the Retainers elephants in front (pay attention to the Baby Elephant and Rewa
          Executioner), when they were at the end of the parade. It is the only film (known) that shows the retainers.
          After them came the real front of the parade, Imperial Cadets, British authorities, the Elephants of the
          Aides-de-Camps. Then, the Main Procession, not complete. It begins with Gwalior (not showing the first
          elephants) and cuts after Narsingharh, to go back to the last 6 elephants at the end of the elephants columns.
          But the best part of the film is all the other representatives and authorities that were there and
          haven&apos;t
          been photographed much. The British authorities, the Cavalry, the Heralds!. Even the Balusch chiefs are there!
          Shame that the image is not neat, but it&apos;s very exciting to be able to see them.
        </p>
      </div>
      <div class="row mt-3">
        <p>
          Photos of the lining troops at the end of Chandni Chowk. Note the drums on the left and the pipers on the
          right.
        </p>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter15/chapter15-13.jpg" alt="Elephant band of Orchha,
              Retainers Review, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter15/chapter15-14.jpg" alt="Elephant band of Orchha,
              Retainers Review, Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <p>Identification images</p>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter15/chapter15-15.jpg" alt="Elephant band of Orchha,
              Retainers Review, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter15/chapter15-16.jpg" alt="Elephant band of Orchha,
              Retainers Review, Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter15/chapter15-17.jpg" alt="Elephant band of Orchha,
              Retainers Review, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter15/chapter15-18.jpg" alt="Elephant band of Orchha,
              Retainers Review, Delhi Durbar, 1903.">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter15/chapter15-19.jpg" alt="Elephant band of Orchha,
              Retainers Review, Delhi Durbar, 1903.">
        </div>
        <div class="col-md-6">
          <img src="../../../assets/beau-geste/chapter15/chapter15-20.jpg" alt="Elephant band of Orchha,
              Retainers Review, Delhi Durbar, 1903.">
        </div>
      </div>
    </div>
  </div>
</div>
<app-print></app-print>
