$text-color: var(--text-color);
$brown: var(--brown);
$hover-color: var(--hover-color);
$green: var(--green);
$light-green: var(--light-green);
$dark-green: var(--dark-green);
$green-more-dark: var(--green-more-dark);
$yellow: var(--yellow);
$bs-nav-tabs-border-width: 2px;
$bs-nav-tabs-border-color: #ffe655;
$header-bg-color: #c08330;


.menu-btn {
  background-image: radial-gradient($dark-green, $dark-green, $green-more-dark, $green-more-dark);
  font-family: 'high_tower';
  // font-size: 1.5rem;
  // padding: 0.5rem 0.8rem;
  text-shadow: 2px 2px 6px #000000;
  // line-height: 0.85em;
  width: auto;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  margin: 0.4rem;
  border-color: $text-color;
  color: $text-color;
  display: block;

  &.btn-green-neutral {
    background-image: radial-gradient($dark-green, $dark-green, $green-more-dark, $green-more-dark);
    border-color: $text-color;
    color: $text-color;
  }

  &.btn-green-active {
    background-image: radial-gradient($light-green, $light-green, $dark-green, $dark-green);
    border-color: $text-color;
    color: $text-color;
  }

  &.btn-green-active:hover {
    background-image: radial-gradient($light-green, $light-green, $dark-green, $dark-green);
    border-color: $text-color;
    color: $text-color;
  }

  &.btn-green-inactive {
    background-image: radial-gradient($dark-green, $dark-green, $green-more-dark, $green-more-dark);
    border-color: $text-color;
    color: $text-color;
  }

  &.btn-green-inactive:hover {
    background-image: radial-gradient($light-green, $light-green, $dark-green, $dark-green);
    border-color: $text-color;
    color: $text-color;
  }

  &:hover {
      background-image: radial-gradient($light-green, $light-green, $dark-green, $dark-green);
      border-color: $text-color;
      color: $text-color;
  }
}

.menu {
  width: 100%;
  display: block;
}

.text-left {
  text-align: left;
}

.spaces-history {
  font-size: 2.5rem;
  padding: 1rem 3rem;
  line-height: 0.85em;
}
